.the_sets select{ width:auto; font-size:12px; height:30px; margin:5px 0; }
.the_sets .wrap{ border:1px solid #BBBBBB; padding:1em 1em 1em 1em; }
.the_sets .page-list{ list-style:none; margin:0; padding:0; display:block; }
.the_sets .clear-element{ clear:both; }
.the_sets .page-item1 > div,
.the_sets .page-item2 > div,
.the_sets .page-item3 > div,
.the_sets .page-item4 > div{ background:#f8f8f8; margin:0.25em 0 0 0; }
.the_sets .left{ text-align:left; }
.the_sets .right{ text-align:right; }
.the_sets .sort-handle{ cursor:move; }
.the_sets .helper{ border:2px dashed #777777; }
.the_sets .current-nesting{ background-color:yellow; }
.the_sets .bold{ color:red; font-weight:bold; }
.the_sets .apps_item{
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
        box-sizing:border-box;
            border:1px solid #BBBBBB;
            background:#fff;
            margin:3px 0;
            cursor:move;
            height:35px;
            width:auto;}
.the_sets .apps_item .apps_item_text{ 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
        box-sizing:border-box;
            padding:9px 10px; 
            background:#ccc;  
            height:auto; 
            float:left;
            width:95%;}
.the_sets .apps_item .view{
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
        box-sizing:border-box;
            background:#fff url(../images/ico-arrow.png) center no-repeat;
            cursor:pointer;
            height:33px;
            float:left;
            width:5%;}
.the_sets .apps_details_item{
    min-width:200px !important;
    border:1px dashed #BBBBBB;
    width:94% !important;
    background:#fff;
    min-width:150px;
    padding:5px;
    height:auto;
    width:93%;
    margin:0;}
.the_sets .apps_details_item label{ font-weight:bold; }
.the_sets .button{
    background:url(../images/panel_bg.jpg) repeat-x;
    border:1px solid #BBBBBB;
    font-size:bold;
    cursor:pointer;
    font-size:11px;
    height:25px;
    margin:1px;}
.the_sets .menuset_details_item{
    min-width:100% !important;
    border:1px solid #BBBBBB;
    background:#fff;
    min-width:150px;
    padding:10px;
    height:auto;
    margin:0;}
.the_sets .menuset_details_item .label{ margin:0; }
.the_sets .menuset_details_item .label label{ display:block; float:left; width:80px; text-align:right; }
.the_sets .menuset_details_item .label input{ 
    -moz-border-radius:0;
    -webkit-border-radius:0;
        border-radius:0; 
            padding:3px 5px;
            font-size:12px;
            float:left;}
.the_sets .menuset_details_item .target{ margin:0; }
.the_sets .menuset_details_item .target select{ 
    -moz-border-radius:0;
    -webkit-border-radius:0;
        border-radius:0; 
            border:1px solid #BBBBBB;
            padding:3px 5px; 
            font-size:12px;
            height:32px;
            float:left;
            margin:0;}
.the_sets .menuset_details_item .label label,
.the_sets .menuset_details_item .target label{  
    padding-right:10px; 
    text-align:right; 
    display:block; 
    float:left; 
    width:80px;}
.the_sets .menuset_details_item .label span,
.the_sets .menuset_details_item .target span{ display:block; margin-bottom:10px; }
.the_sets .menuset_details_item .url{ margin:5px 0 10px; }
.the_sets .menuset_details_item .url input{ font-size:12px; padding: 3px 5px; }
.the_sets .menuset_details_item .act{ border-top:1px dashed #BBBBBB; padding:10px 0 0; text-align:right; margin-top:0; }
.the_sets .medium_textbox{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
        border-radius:5px;
            font-family:"Lucida Sans",Arial, Helvetica, sans-serif;
            border:1px solid #BBBBBB;
            padding:7px 10px;
            background:#fff;
            min-width:200px;
            font-size:14px;
            height:auto;
            width:40%;}
.the_sets .process-alert{ border:1px solid #ccc; padding:10px; display:none; font-weight:bold; color:red; margin:5px 0; }

.the_menus_set .the_sets ul li:first-child{ border:none; }
.the_menus_set .the_sets ul li ul{ padding:0 0 0 30px; }
.the_menus_set .the_sets ul li.ui-sortable-placeholder{ background:yellow; visibility:visible !important; border:2px dashed #BBBBBB; }

.the_sets .edit-name-field{ border-bottom:1px solid #BBB; padding-bottom:10px; margin-bottom:10px; }
.the_sets .edit-name-field span{ margin-right:5px; }
.the_sets .edit-name-field .medium_textbox{ padding:7px 10px !important; height:auto !important; border-radius:0 !important; }
.the_sets .edit-name-field .edit-menu-name{ 
    background:url(../images/panel_bg.jpg) repeat-x;
    border:1px solid #BBB;
    display:inline-block;
    vertical-align:top;
    padding:8px 10px;
    cursor:pointer;}