<!-- BEGIN list-block -->

<h1>{title}</h1>
<div class="tab_container">
    <div class="single_content">
        <div id="response"></div>
        <form action="" method="post" name="alist">
           <input type="hidden" name="state" value="{type}" />

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
	            <div class="button_right">
	                <div class="search_box clearfix" style="float:right;">
	                    <div class="textwrap">
	                        <input type="text" name="search" class="searchtext" value="" placeholder="Seach" autocomplete="off" />
	                    </div>
	                    <div class="buttonwrap">
	                        <img src="{img-url}/ico-search.png" name="search" class="searchbutton" alt="">
	                    </div>
	                </div>
	            </div>            
            </div>
            
            <div class="status_to_show">Show: {view-option}</div>
            <div class="list">            
                <table id="custom-post-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th align="left" width="15" data-orderable="false">
                                <input type="checkbox" name="select_all" autocomplete="off" />
                            </th>
                            <th align="left">Post Name</th>
                            <th align="left">Post Type</th>
                            <th align="left">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
                
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table  = jQuery('#custom-post-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax-url}',
                    type : 'POST',
                    data : function(d){
                        d.pkey = 'load-custom-post-data';
                        d.show = jQuery('[name=data_to_show]:checked').val();
                    }
                },
                columns: [
                    {
                        data: 'id', render: function ( data, type, row ){
                            var html = 
                            '<input type="checkbox" name="select[]" class="title_checkbox select" value="' + data + '"  autocomplete="off" />';

                            return html;
                        }
                    },
                    {
                        data: 'title', render: function ( data, type, row ){
                            var html = 
                            '<p>' + data + '</p>'+
                            '<div class="link-action">'+
                                '<div class="list-action" id="the-action-'+ row.id +'">'+
                                    '<a href="' + row.edit_link + '">Edit</a>'+
                                    '<a href="' + row.ajax_link + '" class="delete-link" id="'+ row.id +'" rel="' + data + '">Delete</a>'+
                                '</div>'+
                            '</div>';

                            return html;
                        }
                    },
                    {
                        data: 'sef', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'status', render: function ( data, type, row ) {                            
                            return '<strong style="text-transform:capitalize; ' + ( data != 'publish' ? 'color:red;' : '' ) + '">' + data + '</strong>';
                        }
                    }
                ]
            });

            table.on( 'init.dt', function (){
                set_button_access();
                delete_custom_post_func( table );
            });

            table.on( 'draw.dt', function (){
                set_button_access();
                delete_custom_post_func( table );
            });

            jQuery('[name=search]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });

            jQuery('[name=data_to_show]').on('keyup change', function(){
                table.ajax.reload(function(){
                    set_button_access();
                    delete_custom_post_func( table );
                }, false);
            });
        });
    </script>
</div>

<!-- END list-block -->