<!-- BEGIN form-block -->

<h1>{page_title}</h1>
<div class="tab_container">
    <div class="single_content">

		{alert}

        <form method="post" action="">

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

            <div class="list_edit">
                <fieldset>
                    <p>Post Name</p>
                    <input type="hidden" class="custom-post-id" name="lcustom_id" value="{lcustom_id}" autocomplete="off" />
                    <input type="text" class="custom-post-name medium_textbox" name="lcustom_post" value="{lcustom_post}" autocomplete="off" required />
                </fieldset>

                <fieldset>
                    <p>Post Type</p>
                    <input type="text" class="custom-post-type medium_textbox" name="lsef" value="{lsef}" autocomplete="off" />
                </fieldset>

                <fieldset>
                    <p>Sidebar Icon</p>
                    <p>Select an image file on your computer (2MB max), recommended size 24px * 24px:</p>
                    <div class="custom-post-icon clearfixed">{lcustom_icon}</div>
                    <input type="file" name="licon" autocomplete="off" />
                </fieldset>

                <fieldset class="hidden">
                    <input type="text" class="textbox" name="ajax_url" value="{ajax_url}" autocomplete="off" />
                </fieldset>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>

<!-- END form-block -->