<!-- BEGIN form-block -->

<h1>{app_title}</h1>
<ul class="tabs">{tab}</ul>
<div class="tab_container apps-setting-wrapp">
    {alert}

    <form method="post" action="">

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    <li>{button}</li>
                </ul>
            </div>
        </div>

        <div class="button-language {btn_cls}">
            <ul class="clearfix">
                <!-- BEGIN form-language-btn-block -->
                <li class="{llanguage_btn_cls}">
                    <a href="#" data-filter="{llanguage_code}" class="btn">
                        <img src="{template_url}/flags/{llanguage_code}.svg" alt="" width="24" />
                        {llanguage}
                    </a>
                </li>
                <!-- END form-language-btn-block -->
            </ul>
        </div>

        <div class="content-loop {conten_css} active">
            <div class="list_edit">
                <fieldset>
                    <p>Title</p>
                    <p>
                        <input type="hidden" class="post-id-field" name="post_id[0]" value="{id}">
                        <input type="text" class="article-title textbox" name="title[{i}]" value="{title}" autocomplete="off" />
                    </p>
                </fieldset>

                <fieldset>
                    <p>Description</p>
                    <input type="text" class="textbox hidden post-type-field" name="post_type[{i}]" value="{group}" autocomplete="off" />
                    {textarea}
                </fieldset>

                {additional_data}

                <input type="hidden" name="site_url" value="{site_url}">
                <input type="hidden" name="ajax_url" value="{ajax_url}">
                <input type="hidden" name="imgs_url" value="{imgs_url}">
                <input type="hidden" name="imgs_url" value="{imgs_url}">
            </div>
        </div>

        <!-- BEGIN form-language-loop-block -->
        <div class="content-loop {llanguage_content_css}">
            <div class="list_edit">
                <fieldset>
                    <p>Title</p>
                    <input type="text" class="textbox" name="additional_fields[larticle_title_{llanguage_code}][{llanguage_index}]" value="{llanguage_larticle_title}" autocomplete="off" />
                </fieldset>

                {llanguage_additional_data}
            </div>
        </div>
        <!-- END form-language-loop-block -->

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    <li>{button}</li>
                </ul>
            </div>
       </div>
    </form>
</div>

<!-- END form-block -->