<!-- BEGIN general-setting -->

<h1>Global Settings</h1>
<ul class="tabs">
    {tab}
</ul>
<div class="tab_container">
    <div id="general" class="tab_content">
        <form name="glb" action="" method="post" enctype="multipart/form-data">
            <div class="alert-wrapper">{alert}</div>

            <div class="button_wrapper clearfix">
                <ul class="button_navigation">
                    <li>{save_changes_botton}</li>
                </ul>
            </div>

            <div class="form-field">
	            <fieldset>
	                <p><label>Organization / Website Name:</label></p>
	                <input type="text" id="web_name" name="web_name" value="{web_name}" class="medium_textbox" />
	            </fieldset>

	            <fieldset>
	                <p><label>Website Title:</label></p>
	                <input type="text" id="web_title" name="web_title" value="{web_title}" class="medium_textbox" />
	            </fieldset>

	            <fieldset>
	                <p><label>Tagline:</label></p>
	                <input type="text" id="tagline" name="web_tagline" value="{tagline}" class="medium_textbox" />
	            </fieldset>

	            <fieldset>
	                <p><label>Website Address:</label></p>
	                <span class="input-group">{htserver}</span>
	                <input type="text" id="website_address" name="site_url" value="{site_url}" class="medium_textbox" />
	            </fieldset>

	            <fieldset>
	                <p><label>Email:</label></p>
	                <input type="text" id="email" name="email" value="{email}" class="medium_textbox" /> <em>This address is used for admin purposes, like new user notification.</em>
	            </fieldset>

	            <fieldset>
	                <p><label>SMTP Server Address:</label></p>
	                <input type="text" id="smtp" name="smtp" value="{smtp}" class="medium_textbox" /> <em>SMTP address is used for sending an email.</em>
	            </fieldset>

                <fieldset>
                    <p><label>Google Analytic View ID</label></p>
                    <input type="text" id="analytic_view_id" name="analytic_view_id" value="{analytic_view_id}" class="medium_textbox" /> <em>Unique View Id for retrieving Analytics data.</em>
                </fieldset>

                <fieldset>
                    <p><label>Google Service Account</label></p>
                    <input type="file" name="google_service_account" value="Upload File" autocomplete="off">
                    <span class="filename {google_service_css}">{google_service_account}</span>
                </fieldset>

                <fieldset>
                    <p><label>Multi Language</label></p>
	                <select id="multi_language" name="multi_language" class="no-margin" autocomplete="off">
	                	<option value="0" {multi_language_inactive}>Inactive</option>
	                	<option value="1" {multi_language_active}>Active</option>
	                </select>
                </fieldset>

                <fieldset>
                    <p><label>HTTPS/SSL</label></p>
	                <select id="ssl_config" name="ssl_config" class="no-margin" autocomplete="off">
	                	<option value="0" {ssl_config_inactive}>Inactive</option>
	                	<option value="1" {ssl_config_active}>Active</option>
	                </select>
                </fieldset>

	            <fieldset>
	                <p><label>Timezone:</label></p>
	                <select id="time_zone"  name="time_zone" class="no-margin" autocomplete="off">
	                	{timezone}
	                </select>
	                <em>Choose a city in the same timezone as you.&nbsp;&nbsp;&nbsp;</em>
	                <em>UTC time is&nbsp;&nbsp;<span class="alert_yellow">{utc_time}</span>&nbsp;&nbsp;</em>
	                <em>Local time is&nbsp;&nbsp;<span class="alert_yellow">{local_time}</span></em>
	            </fieldset>

	            <fieldset>
	                <p><label>Date Format:</label></p>
	                <!-- BEGIN date-list-setting -->
	                <p>
						<input id="the_date_format_{index}" style="vertical-align:middle; margin:0 5px 0 0;" type="radio" name="the_date_format" value="{value}" {checked} autocomplete="off" />
						<label for="the_date_format_{index}" style="vertical-align:middle;">{value_format}</label>
					</p>
	                <!-- END date-list-setting -->
	                <p>
						<input id="custome_date_format" style="vertical-align:middle; margin:0 5px 0 0;" type="radio" name="the_date_format" value="" {custome_date_checked} autocomplete="off" />
						<label for="custome_date_format" style="vertical-align:middle;">Custom Format:</label><br />
						<input style="margin-left:20px; margin-top:10px;" type="text" name="date_format" value="{current_date_format}" class="medium_textbox" />
					</p>
	            </fieldset>

	            <fieldset>
	                <p><label>Time Format:</label></p>
	                <!-- BEGIN time-list-setting -->
	                <p>
						<input id="the_time_format_{index}" style="vertical-align:middle; margin:0 5px 0 0;" type="radio" name="the_time_format" value="{value}" {checked} autocomplete="off" />
						<label for="the_time_format_{index}" style="vertical-align:middle;">{value_format}</label>
					</p>
	                <!-- END time-list-setting -->
	                <p>
						<input id="custome_time_format" style="vertical-align:middle; margin:0 5px 0 0;" type="radio" name="the_time_format" value="" {custome_time_checked} autocomplete="off" />
						<label for="custome_time_format" style="vertical-align:middle;">Custom Format:</label><br />
						<input style="margin-left:20px; margin-top:10px;" type="text" name="time_format" value="{current_time_format}" class="medium_textbox" />
					</p>
	                <em>Click &quot; Save Changes &quot; to update sample output.</em>
	            </fieldset>
	        </div>

            <div class="button_wrapper clearfix">
            	<input type="hidden" name="update" value="true" />
                <ul class="button_navigation">
                    <li>{save_changes_botton}</li>
                </ul>
            </div>

            <script type="text/javascript">
				jQuery(function(){
					jQuery('[name=the_date_format]').on('click', function(){
						var format = jQuery(this).val();
						
						if( format == '' )
						{
							jQuery('[name=date_format]').focus();
						}
						else
						{
							jQuery('[name=date_format]').val( format );
						}
					});

					jQuery('[name=date_format]').on('focus', function(){
						jQuery('[name=the_date_format]').prop('checked', false);
						jQuery('#custome_date_format').prop('checked', true);
					});
					
					jQuery('[name=the_time_format]').on('click', function(){
						var format = jQuery(this).val();
						
						if( format == '' )
						{
							jQuery('[name=time_format]').focus();
						}
						else
						{
							jQuery('[name=time_format]').val( format );
						}
					});

					jQuery('[name=time_format]').on('focus', function(){
						jQuery('[name=the_time_format]').prop('checked', false);
						jQuery('#custome_time_format').prop('checked', true);
					});
				});
			</script>
        </form>
    </div>
</div>

<!-- END general-setting -->