<!-- BEGIN language-form -->

<h1>{app_title}</h1>
<ul class="tabs" style="border-bottom:none;">
    {tabs}
</ul>
<div class="tab_container language clearfix">
    <div class="single_content">
        {alert}

        <form method="post" action="#" enctype="multipart/form-data">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
            </div>

            <div class="list_edit" {am_style_background}>
                <fieldset>
                    <p>Country :</p>
                    <input type="hidden" name="llang_id" value="{lang_id}" class="textbox lang-id" />
                    {language_code}
                </fieldset>
                <fieldset>
                    <p>Language name :</p>
                    <input type="text" name="llanguage" value="{language_name}" class="textbox lang-name" />
                </fieldset>
                <fieldset>
                    <p>Flag :</p>
                    <figure class="lang-flag">
                        <img src="{language_flag}" alt="{language_txt}" />
                    </figure>
                </fieldset>
                <fieldset>
                    <p>Status :</p>
                    <input id="status_active" type="radio" name="lstatus" value="1" {status_active} autocomplete="off" /><label for="status_active">Active</label>
                    <input id="status_inactive" type="radio" name="lstatus" value="0" {status_inactive} autocomplete="off" /><label for="status_inactive">Inactive</label>
                </fieldset>
                <fieldset>
                    <p>Default :</p>
                    <input id="default_yes" type="radio" name="ldefault" value="1" {default_yes} autocomplete="off" /><label for="default_yes">Yes</label>
                    <input id="default_no" type="radio" name="ldefault" value="0" {default_no} autocomplete="off" /><label for="default_no">No</label>
                </fieldset>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.select-opt').change(function(){
                    var txt  = jQuery('option:selected', this).text();
                    var vals = jQuery(this).val();

                    if( vals == '' )
                    {
                        jQuery('.lang-name').val('');
                        jQuery('.lang-flag img').attr('alt', 'No Flag');
                        jQuery('.lang-flag img').attr('src', '');
                    }
                    else
                    {
                        txt = jQuery.trim( txt );

                        jQuery('.lang-name').val(txt);
                        jQuery('.lang-flag img').attr('alt', txt);
                        jQuery('.lang-flag img').attr('src', '{template_url}/flags/' + vals + '.svg');
                    }
                });
            });
        </script>
    </div>
</div>

<!-- END language-form -->