<!-- BEGIN menus-block -->

<table id="tb_menu" class="tb-menu">
    <tr>            	
		<td class="apps-set-wrapp">
		    <div class="the_apps_set">
		        <h2>Applications Set</h2>
		        <div class="apps-box">
		            <select class="apps-set" name="apps_set" autocomplete="off">
		                <option value="">Choose Applications</option>
		                <option value="archive">Post Archive</option>
		                <option value="pages">Pages</option>
		                <option value="blogs">Blogs</option>
		                {plugin_menu_set}
		                <option value="url">Custome URL</option>
		            </select>
		        </div>
		        <form method="post" action="">
		            <span id="error" ></span>
		            <div class="sets_apps_item">
		                <input type="hidden" name="activetab" id="activetab" value="{active_tab}">
		                <input type="hidden" name="curpage" id="curpage" value="{current_page}">
		                <ul id="the_apps_lists">
		                	{published_pages}
		                </ul>
		            </div>
		            <div class="apps-act">
		                <input type="button" value="Select all" name="select_all" class="button" />
		                <input type="submit" value="Add to menu set" name="add_selected" class="button" />
		            </div>
		        </form>
		    </div>
		</td>
	    <td class="menu-set-wrapp">
	        <div class="the_menus_set">
	            <h2>Menus Set</h2>
	            <form action="" method="post">
	                <div class="setname">
	                    <span>Set Name: </span>
	                    <input type="text" value="" name="setname" class="medium_textbox" />
	                    <input type="submit" name="create_menu_set" value="Create Menu Set" class="button" />
	                </div>
	            </form>
	            <ul class="tabs">
	            	<!-- BEGIN menus-set-block -->
	                <li class="{menu-class}">
	                    <a href="{menu-url}">{menu-name}</a>
	                    <span id="del_set_{menu-index}" class="delete_tab">X</span>
	                </li>

	                <script type="text/javascript">
						jQuery(function(){
							jQuery("#del_set_{menu-index}").click(function(){
								jQuery.post( '{ajax-url}', { removed_menu_set:'{menu-key}' }, function( e ){
									if( e.result == 'success' )
									{
										location = "{reload-url}"
									}
								}, 'json');
							});
						});
					</script>
	            	<!-- END menus-set-block -->

	            	{menu_set_2}
	            </ul>

	            <div class="the_sets">
	            	{the_sets}
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    var ua = navigator.userAgent.toLowerCase(); 

    if( ua.indexOf('safari') != -1 )
    {
        if( ua.indexOf('chrome')  > -1 )
        {
            jQuery('.the_apps_set').css('width','100%');
        }
        else
        {
            if( navigator.appVersion.indexOf('Mac') != -1 )
            {
                jQuery('.the_apps_set').css('width', '100%');
            }
        }
    }

    jQuery(window).resize(function() {
        var wheight = jQuery(window).height();

        jQuery('#tb_menu').height( wheight - 115 );
        jQuery('.sets_apps_item').height( wheight - 325 );
    });

	jQuery(document).ready( function(){
    	jQuery(window).trigger('resize');

		//-- reset all to unchecked
        jQuery('.selected_menu').each(function(){
            jQuery('.selected_menu').removeAttr('checked');
        });

        jQuery('[name=select_all]').click(function(){
        	var selected_all = true;

        	jQuery('.selected_menu').each(function(){
            	if( this.checked == false)
            	{
            		this.checked = true;
            		selected_all = false;
				}
        	});

        	if( selected_all )
        	{
        		jQuery('.selected_menu').each(function(){
	            	this.checked=false;
	        	});
			}
		});

		jQuery('[name=apps_set]').change(function(){
			jQuery('#the_apps_lists').html('<img class="loader" src="{img_url}/loader.gif" />');

			var obj = new Object();
				obj.app_set_name   = jQuery('[name=apps_set]').val();
				obj.plug_post_type = new Array();
				{attemp_plug_post_type}

			jQuery.post('{ajax_url}', obj, function(data){
				jQuery('#the_apps_lists').html(data);
			});
		});
	});
</script>

<!-- END menus-block -->
