<!-- BEGIN reading-setting -->

<h1>Global Settings</h1>
<ul class="tabs">
    {tab}
</ul>
<div class="tab_container">
    <div id="reading" class="tab_content">
        <form name="reading" action="" method="post">
            <div class="alert-wrapper">{alert}</div>

            <div class="button_wrapper clearfix">
                <ul class="button_navigation">
                    <li>{save_changes_botton}</li>
                </ul>
            </div>

            <div class="form-field">
	            <fieldset>
	                <p><label>Default number of posts viewed:</label></p>
	                <input type="text" id="post_view" name="post_viewed" value="{post_viewed}" class="small_textbox" /> <em>posts</em>
	            </fieldset>

	            <fieldset>
	                <p><label>The most recent RSS viewed:</label></p>
	                <input type="text" id="rss_view" name="rss_viewed" value="{rss_viewed}" class="small_textbox" /> <em>posts</em>
	            </fieldset>

	            <fieldset>
	                <p><label>Default number of status viewed:</label></p>
	                <input type="text" id="status_view" name="status_viewed" value="{status_viewed}" class="small_textbox" /> <em> status posts</em>
	            </fieldset>

	            <fieldset>
	                <p><label>For each article in a feed, show:</label></p>
	                <!-- BEGIN rss-view-list-setting -->
	                <p>
						<input style="vertical-align:middle; margin:0 5px 0 0;" type="radio" name="rss_view_format" value="{value}" {checked} />
						<span style="vertical-align:middle;">{format}</span>
					</p>
	                <!-- END rss-view-list-setting -->
	            </fieldset>

	            <fieldset>
	                <p><label>Use Search Engine Friendly URL:</label></p>
	                <!-- BEGIN sef-list-setting -->
	                <p>
						<input style="vertical-align:middle; margin:0 5px 0 0;" type="radio"  name="is_rewrite" value="{value}" {checked} />
						<span style="vertical-align:middle;">{option}</span>
					</p>
	                <!-- END sef-list-setting -->
	            </fieldset>
	        </div>

            <div class="button_wrapper clearfix">
            	<input type="hidden" name="update" value="true" />
                <ul class="button_navigation">
                    <li>{save_changes_botton}</li>
                </ul>
            </div>
        </form>
    </div>
</div>

<!-- END reading-setting -->