<!-- BEGIN list-block -->

<h1>{title}</h1>
<ul class="tabs {tab-css}">{tab}</ul>
<div class="tab_container {type}-tab-container" {tab-border}>
    <div id="response"></div>
    <form action="" method="post" name="alist">
        <input type="hidden" name="state" value="{group}" />

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
            <div class="button_right">
                <div class="search_box clearfix" style="float:right;">
                    <div class="textwrap">
                        <input type="text" name="search" class="searchtext" value="" placeholder="Seach" autocomplete="off" />
                    </div>
                    <div class="buttonwrap">
                        <img src="{img-url}/ico-search.png" name="search" class="searchbutton" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="list">            
            <table id="rule-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th align="left" width="15" data-orderable="false">
                            <span class="move"></span>
                        </th>
                        <th align="left" width="15" data-orderable="false">
                            <input type="checkbox" name="select_all" autocomplete="off" />
                        </th>
                        <th align="left">Name</th>
                        <th align="left">Parent</th>
                        <th align="left" width="50">Used</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </form>
    <div class="button_wrapper clearfix">
        <div class="button_left">
            <ul class="button_navigation">
                 {button}
            </ul>   
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table  = jQuery('#rule-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax-url}',
                    type : 'POST',
                    data : function(d){
                        d.pkey  = 'load-rule-data';
                        d.rule  = '{rule}';
                        d.group = '{group}';

                        if( jQuery('[name=mlanguage_default_lang]').length > 0 )
                        {
                            if( typeof jQuery('.mlanguage-fieldset-trigger input:checked').val() != 'undefined' )
                            {
                                d.lang = jQuery('.mlanguage-fieldset-trigger input:checked').val();
                            }
                            else
                            {
                                d.lang = jQuery('[name=mlanguage_default_lang]').val();
                            }
                        }
                    }
                },
                columns: [
                    {
                        data: 'id', render: function ( data, type, row ){
                            return '<span class="move"></span>';
                        }
                    },
                    {
                        data: 'id', render: function ( data, type, row ){
                            var html = 
                            '<input type="checkbox" name="select[]" class="title_checkbox select" value="' + data + '"  autocomplete="off" />';

                            return html;
                        }
                    },
                    {
                        data: 'name', render: function ( data, type, row ){
                            var html = 
                            '<p>' + data + '</p>'+
                            '<div class="link-action">'+
                                '<div class="list-action" id="the-action-'+ row.id +'">'+
                                    '<a href="' + row.edit_link + '">Edit</a>'+
                                    '<a href="' + row.ajax_link + '" class="delete-link" id="'+ row.id +'" rel="' + data + '">Delete</a>'+
                                '</div>'+
                            '</div>';

                            return html;
                        }
                    },
                    {
                        data: 'parent', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'count', render: function ( data, type, row ){
                            return data;
                        }
                    },
                ],
                rowReorder: {
                    selector: 'td:first-child'
                }
            });

            table.on( 'init.dt', function (){
                set_button_access();
                delete_rule_func( table, 'delete-rule', '{group}' );
            });

            table.on( 'draw.dt', function (){
                set_button_access();
                delete_rule_func( table, 'delete-rule', '{group}' );
            });

            table.on( 'row-reorder', function ( e, diff, edit ){
                if( diff.length > 0 )
                {
                    var data  = new Object;
                    var start = table.page.info().start;
                    
                    jQuery.each(diff, function(i, ele){
                        data[ table.row( diff[i].node ).data().id ] = start + diff[i].newPosition;
                    });
                    
                    var url = table.row( diff[0].node ).data().ajax_link;
                    var prm = new Object();
                        prm.pkey    = 'reorder-data';
                        prm.rule    = '{rule}';
                        prm.group   = '{group}';
                        prm.prc     = 'reorder';
                        prm.reorder = data;

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            console.log(e);
                        }
                    });
                }
            });

            jQuery('[name=search]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });

            jQuery('.mlanguage-fieldset-trigger input').on('keyup change', function(){
                table.ajax.reload(function(){
                    set_button_access();
                    delete_rule_func( table, 'delete-rule', '{group}' );
                }, false);
            });
        });
    </script>
</div>

<!-- END list-block -->