<!-- BEGIN usersAddNew -->

<h1>{prc}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            {alert}

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        <li>{save_user}</li>
                        <li>{cancel}</li>
                    </ul>
                </div>
            </div>

            <div class="form-field">
                <fieldset>
                    <p><label>Username (required):</label></p>
                    <input type="text" name="username" value="{user_name}" class="medium_textbox" id="username" />
                </fieldset>

                <fieldset>
                    <p><label>First name:</label></p>
                    <input type="text" name="first_name" value="{first_name}" class="medium_textbox" />
                </fieldset>

                <fieldset>
                    <p><label>Last name:</label></p>
                    <input type="text" name="last_name" value="{last_name}" class="medium_textbox" />
                </fieldset>

                <fieldset>
                    <p><label>Email (required):</label></p>
                    <input type="text" name="email" value="{email}" class="medium_textbox" />
                </fieldset>

                <fieldset>
                    <p><label>Gender (required):</label> </p>
                    {sex}
                </fieldset>

                <fieldset>
                    <p><label>Birthday:</label> </p>
                    {birthday}&nbsp;{birthmonth}&nbsp;{birthyear}&nbsp;
                </fieldset>

                <fieldset>
                    <p><label>Website:</label></p>
                    <input type="text" name="website" value="{website}" class="medium_textbox" /> ex: http://example.com
                </fieldset>

                <fieldset>
                    <p><label>Password (required):</label> </p>
                    <input type="password" name="password" value="" class="medium_textbox" id="password" />
                </fieldset>

                <fieldset>
                    <p><label>Retype password (required)</label>: </p>
                    <input type="password" name="re_password" value="" class="medium_textbox" />
                </fieldset>

                {user_type}
                {user_status}

                <fieldset>
                    <p><label>Send Details?</label></p>
                    <input type="checkbox" name="send" {send_checked} /> Send all details to the new user via email.
                </fieldset>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        <li>{save_user}</li>
                        <li>{cancel}</li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- END usersAddNew -->

<!-- BEGIN usersEdit -->
<h1>{prc}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            {alert}

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        <li>{save_user}</li>
                        <li>{cancel}</li>
                    </ul>
                </div>
            </div>

            <!-- BEGIN loopUser -->
            <div class="list_edit">

                <div class="form-field">
                    <h2>Personal Details</h2>
                    <fieldset>
                        <div class="profile_line">
                            <p><label>Username (required):</label></p>
                            <input type="text" name="username[{i}]" value="{username}" class="medium_textbox"  readonly="readonly" id="username_{i}" /> Your username cannot be changed
                            <input type="hidden" name="select[{i}]" value="{userid}" class="medium_textbox" readonly="readonly" />
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="profile_line">
                            <p><label>First name:</label></p>
                            <input type="text" name="first_name[{i}]" value="{first_name}" class="medium_textbox" />
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="profile_line">
                            <p><label>Last name:</label></p>
                            <input type="text" name="last_name[{i}]" value="{last_name}" class="medium_textbox" />
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="profile_line">
                            <p><label>Display name:</label></p>
                            {display_name}
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="profile_line">
                            <p><label>Gender (required):</label> </p>
                            {sex}
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="profile_line">
                            <p><label>Birthday:</label> </p>
                            {birthday}&nbsp;{birthmonth}&nbsp;{birthyear}&nbsp;
                        </div>
                    </fieldset>
                </div>

                <div class="form-field">
                    <h2>Contact Details</h2>
                    <fieldset>
                        <p><label>Email (required):</label></p>
                        <input type="text" name="email[{i}]" value="{email}" class="medium_textbox"/>
                    </fieldset>
                    <fieldset>
                        <p><label>Website:</label></p>
                        <input type="text" name="website[{i}]" value="{website}" class="medium_textbox" /> ex: http://example.com
                    </fieldset>
                </div>

                <div class="form-field">
                    <h2>User Information</h2>
                    <fieldset>
                        <p><label>Password (required):</label> <em>If you would like to change the password type a new one. Otherwise leave this blank.</em></p>
                        <input type="password" name="password[{i}]" value="" class="medium_textbox" id="password_{i}" />
                    </fieldset>
                    <fieldset>
                        <p><label>Retype password (required)</label>: <em>Type your new password again.</em></p>
                        <input type="password" name="re_password[{i}]" value="" class="medium_textbox" />
                    </fieldset>

                    {user_type}
                    {user_status}
                    {send_option}
                </div>
            </div>

            <!-- END loopUser -->

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        <li>{save_user}</li>
                        <li>{cancel}</li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
</div>
<!-- END usersEdit -->

<!-- BEGIN profilePicture -->
<h1>{prc}</h1>
<div class="tab_container">
    <div class="single_content">
        <form action="" method="post" enctype="multipart/form-data" >
            <div class="alert-wrapper">
                {alert}
            </div>

            <div class="clearfix">
                <div class="the_picture">
                    {the_avatar}
                </div>
                <div class="upload_profile_pic">
                    <p>Select an image file on your computer (2MB max):</p>
                    <input type="file" name="theavatar" /><br />
                    {upload_button}
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END profilePicture -->

