<!-- BEGIN list-block -->

<h1>Users</h1>
<div class="tab_container" style="border-top:1px solid #bbbbbb;">
    <div id="response"></div>

    <form action="" method="post" name="alist">
        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
            <div class="button_right">
                <div class="search_box clearfix" style="float:right;">
                    <div class="textwrap">
                        <input type="text" name="search" class="searchtext" value="" placeholder="Seach" autocomplete="off" />
                    </div>
                    <div class="buttonwrap">
                        <img src="{img-url}/ico-search.png" name="search" class="searchbutton" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="list">            
            <table id="users-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th align="left" width="15" data-orderable="false">
                            <input type="checkbox" name="select_all" autocomplete="off" />
                        </th>
                        <th align="left">Username</th>
                        <th align="left">Name</th>
                        <th align="left">Email</th>
                        <th align="left">User Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        
        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>   
            </div>
        </div>
    </form>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table  = jQuery('#users-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ targets:4, type:'date' }],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax-url}',
                    type : 'POST',
                    data : function(d){
                        d.pkey = 'load-users-data';
                    }
                },
                columns: [
                    {
                        data: 'id', render: function ( data, type, row ){
                            var html = 
                            '<input type="checkbox" name="select[]" class="title_checkbox select" value="' + data + '"  autocomplete="off" />';

                            return html;
                        }
                    },
                    {
                        data: 'username', render: function ( data, type, row ){
                            var html =
                            '<div class="clearfix">'+
                                '<div class="avatar">'+
                                    '<a href="' + row.user_link + '">'+
                                        '<img src="' + row.avatar + '" alt="">'+
                                    '</a>'+
                                '</div>'+
                                '<a href="' + row.user_link + '">' + data + '</a>'+
                            '</div>'+
                            '<div class="link-action">'+
                                '<div class="list-action" id="the-action-'+ row.id +'">'+
                                    '<a href="' + row.edit_link + '">Edit</a>'+
                                    '<a href="' + row.ajax_link + '" class="delete-link" id="'+ row.id +'" rel="' + data + '">Delete</a>'+
                                '</div>'+
                            '</div>';

                            return html;
                        }
                    },
                    {
                        data: 'name', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'email', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'usertype', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ]
            });

            table.on( 'init.dt', function (){
                set_button_access();
                delete_user_func( table, 'delete-user' );
            });

            table.on( 'draw.dt', function (){
                set_button_access();
                delete_user_func( table, 'delete-user' );
            });

            jQuery('[name=search]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });
        });
    </script>
</div>

<!-- END list-block -->