<!-- BEGIN writing-setting -->

<h1>Global Settings</h1>
<ul class="tabs">
    {tab}
</ul>
<div class="tab_container">
    <div id="writing" class="tab_content">
        <form name="writing" method="post" action="">
        	<div class="alert-wrapper">{alert}</div>

            <div class="button_wrapper clearfix">
                <ul class="button_navigation">
                    <li>{save_changes_botton}</li>
                </ul>
            </div>

            <div class="form-field">
	            <fieldset>
	                <p><label>Default number of list viewed:</label></p>
	                <input type="text" id="lists_view" name="list_viewed" value="{list_viewed}" class="small_textbox" />&nbsp;<em>posts</em>
	            </fieldset>

	            <fieldset>
	                <p><label>Email format:</label></p>
	                <!-- BEGIN email-list-setting -->
	                <p>
						<input style="vertical-align:middle; margin:0 5px 0 0;" type="radio" name="email_format" value="{value}" {checked} />
						<span style="vertical-align:middle;">{format}</span>
					</p>
	                <!-- END email-list-setting -->
	            </fieldset>

	            <fieldset>
	                <p><label>Text Editor:</label></p>
	                <!-- BEGIN editor-list-setting -->
	                <p>
						<input style="vertical-align:middle; margin:0 5px 0 0;" type="radio" name="text_editor" value="{value}" {checked} />
						<span style="vertical-align:middle;">{editor}</span>
					</p>
	                <!-- END editor-list-setting -->
	            </fieldset>

	            <fieldset>
	                <p><label>Default thumbnail size:</label></p>
	                <p>
	                    <em>Width</em>&nbsp;
	                    <input type="text" name="thumbnail_image_width" value="{thumbnail_image_width}" class="small_textbox" />&nbsp;
	                    <em>Height</em>&nbsp;
	                    <input type="text" name="thumbnail_image_height" value="{thumbnail_image_height}" class="small_textbox" />
	                </p>	            
	            </fieldset>
	            <fieldset>
	                <p><label>Default medium image size:</label></p>
	                <p>
	                    <em>Max Width</em>&nbsp;
	                    <input type="text" name="medium_image_width" value="{medium_image_width}" class="small_textbox" />&nbsp;
	                    <em>Max Height</em>&nbsp;
	                    <input type="text" name="medium_image_height" value="{medium_image_height}" class="small_textbox" />
	                </p>	            
	            </fieldset>
	            <fieldset>
	                <p><label>Default large image size:</label></p>
	                <p>
	                    <em>Max Width</em>&nbsp;
	                    <input type="text" name="large_image_width" value="{large_image_width}" class="small_textbox" />&nbsp;
	                    <em>Max Height</em>&nbsp;
	                    <input type="text" name="large_image_height" value="{large_image_height}" class="small_textbox" />
	                </p>
	            </fieldset>
	        </div>

            <div class="button_wrapper clearfix">
            	<input type="hidden" name="update" value="true" />
                <ul class="button_navigation">
                    <li>{save_changes_botton}</li>
                </ul>
            </div>
        </form>
    </div>
</div>

<!-- END writing-setting -->