*{ -webkit-tap-highlight-color:rgba(0,0,0,0);  -webkit-tap-highlight-color:transparent}
.menu-mobile .top-animate{background: #555353 !important;top:13px !important;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.menu-mobile .mid-animate{ opacity:0}
.menu-mobile .bottom-animate{background: #555353 !important;top:13px !important;-webkit-transform:rotate(-225deg);transform:rotate(-225deg);}
.menu-mobile .top-menu{top: 2px;/* width: 31px; *//* height:2px; */border-radius:10px;background-color:#F9A530;}
.menu-mobile .mid-menu{top: 11px;width:25px;height:2px;border-radius:10px;background-color:#F9A530;}
.menu-mobile .bottom-menu{ top:21px;  width:25px;  height:2px;  border-radius:10px;  background-color:#F9A530}
.menu-mobile .menui{background: #555353;transition:0.6s ease;transition-timing-function:cubic-bezier(.75,0,.29,1.01);margin-top:10px;position:absolute;width: 31px;height: 2px;}
.menu-mobile .icon{z-index: -1;position: relative;display:block;/* padding:9px; */height:32px;width:32px;/* margin:0px; */top: 13px;left: 25px;/* margin-left: 23px; *//* margin-top: 40px; */}
.menu-mobile .mobilenav{ font-family:inherit;  top:0;  left:0;  z-index:999;  display:none;  position:fixed;  width:100%;  height:100%;  background:rgba(0,0,0,0.9)}
.menu-mobile .mobilenav li{ list-style-type:none;  text-align:center;  padding:10px}
.menu-mobile .mobilenav li a{ font-size:150%;  color:#fff;  text-decoration:none;  font-weight:300;  width:100%}
.menu-mobile .mobilenav li:first-child{ margin-top:60px}
body.noscroll {overflow: hidden;}

/*body.scrolled .menu-mobile .icon{z-index: 1;}*/