@media screen and (min-width: 0px) {
    .container {
        /* width:auto */
    }

    .a-ws {
        /* height:280px */
    }

    .header {
        height: auto
    }

    .m320 {
        display: block;
        height: 28px;
        background: #00468C
    }

    .m320 #dl-menu {
        display: none;
        text-align: center
    }

    .m320 .dl-menuwrapper button {
        margin-left: -45px;
        z-index: 100
    }

    .m320 .dl-menuwrapper button:after {
        background: #fff;
        box-shadow: 0 6px 0 #fff, 0 12px 0 #fff;
        -moz-box-shadow: 0 6px 0 #fff, 0 12px 0 #fff;
        -webkit-box-shadow: 0 6px 0 #fff, 0 12px 0 #fff
    }

    .m320 span.text-menu {
        cursor: pointer;
        margin-left: 35px;
        color: #fff !important
    }

    .header .logo {
        margin: 20px;
        display: block;
        text-align: center
    }

    .header .logo img {
        width: 280px;
        height: 28px
    }

    .top-menu {
        display: none
    }

    .footer .menu {
        padding: 0
    }

    .footer .menu>ul {
        /* display:none */
    }

    .footer .dl-menuwrapper {
        padding: 10px 0 0 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }

    .footer .dl-menuwrapper button:after {
        background: #fff;
        box-shadow: 0 6px 0 #fff, 0 12px 0 #fff;
        -moz-box-shadow: 0 6px 0 #fff, 0 12px 0 #fff;
        -webkit-box-shadow: 0 6px 0 #fff, 0 12px 0 #fff
    }

    .footer span.text-menu {
        top: 15px;
        left: 0;
        color: #fff !important
    }

    .footer .dl-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 36px
    }

    .footer .social-network {
        float: none;
        margin: 20px 10px 0
    }

    .footer .social-network>ul>li:nth-child(1),
    .footer .social-network>ul>li:nth-child(2) {
        position: absolute;
        top: 16px;
        right: 0;
        z-index: 200
    }

    .footer .social-network>ul>li:nth-child(1) a,
    .footer .social-network>ul>li:nth-child(2) a {
        color: #163B5F;
        font-size: .1px;
        font-weight: 0;
        width: 25px;
        height: 25px;
        display: inline-block;
        overflow: hidden
    }

    .footer .social-network>ul>li:nth-child(1) {
        margin-right: 30px
    }

    .footer .social-network .border {
        text-align: center
    }

    .footer .contact {
        background-position: 10px 20px;
        padding-top: 60px;
        margin: 0 10px
    }

    .footer .contact li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px
    }

    .footer .contact img {
        position: absolute;
        left: 15px;
        top: 5px;
        /* margin-top:-6px; */
    }

    .footer .copyright {
        text-align: center
    }

    .footer .copyright .book-online {
        position: relative;
        display: block;
        margin: 20px auto -15px
    }

    .c-widget-search .title {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700
    }

    .widget-search {
        /* text-align:center; */
        /* padding:20px 0 0; */
        /* width:270px; */
        /* margin:0 auto; */
        /* bottom:20px */
    }

    .widget-search .row.left {
        text-align: center
    }

    .widget-search .row:nth-child(2) .col:nth-child(2) {
        display: none
    }

    .widget-search .row:last-child {
        display: none
    }

    .widget-search .c-select {
        display: block;
        margin: 0
    }

    .widget-search .col input {
        margin: 10px 0
    }

    .option-location li {
        text-align: left
    }

    #popup-ws .widget-search-2 {
        text-align: center
    }

    .widget-search-2 .title {
        display: block;
        margin-bottom: 10px;
        font-weight: 700
    }

    .widget-search-2 .row {
        margin: 0 !important
    }

    .widget-search-2 input[type="radio"] {
        position: relative;
        width: 20px;
        height: 18px;
        display: inline;
        opacity: 0;
        margin-right: -16px;
        vertical-align: top
    }

    .widget-search-2 input[type=text] {
        width: 220px;
        margin: 5px 0 !important
    }

    .widget-search-2 .ml10 {
        margin-left: 0 !important
    }

    .widget-search-2 .btn-submit-ca {
        float: none;
        width: 220px;
        margin-top: 5px
    }

    .widget-search-2 .c-select {
        margin: 5px 0 !important;
        text-align: center
    }

    .widget-search-2 .c-select input[type=text] {
        margin: 0 !important
    }

    .widget-search-2 .option-location {
        left: auto !important;
        right: auto !important;
        margin: auto !important
    }

    /*.home .a-ws {
        height: 350px
    }
*/
    .home .c-why {
        background: #eee;
        height: auto
    }

    .home .why ul li {
        width: 100%;
        margin: 20px auto
    }

    .about .a-ws {
        /* height:280px */
    }

    .about .container p img {
        float: none !important;
        display: block !important;
        clear: both !important;
        margin: 0 auto !important
    }

    .about .container p span {
        display: block !important;
        clear: both !important;
        width: auto !important;
        margin: auto !important;
        margin-top: 10px !important
    }

    .route .desc h1 {
        /* font-size:20px */
    }

    .route .label-route {
        font-size: 14px
    }

    .route .tb-title p {
        font-size: 14px
    }

    /*.route .tb-schedule{font-size:16px}
.tb-schedule td{width:auto;}
.tb-schedule td:nth-child(2n){text-indent:20%}*/
    .contact .a-ws {
        height: 280px
    }

    .contact .desc .left,
    .contact .desc .right {
        /* display:block; */
        /* width:auto; */
    }

    .contact .desc .left {
        padding-right: 0
    }

    .contact .desc .right {
        /* padding-left:0 */
    }

    .form-contact input[type="text"],
    .form-contact input[type="email"],
    .form-contact textarea {
        /* width:100% */
    }

    .form-contact input.txtchapta {
        display: inline-block;
        width: 110px;
        height: 34px
    }

    .contact .right .data-contact {
        display: none
    }

    .contact .right .sosmed {
        display: none
    }

    .container.accommodation_detail,
    .container.page_detail {
        width: auto
    }

    .accommodation-slide .bx-wrapper,
    .page-slide .bx-wrapper {
        /* width:auto */
    }

    .bx-wrapper .bx-viewport ul li a {
        /* width:auto; */
        /* height:250px; */
    }
}

@media screen and (min-width: 320px) {
    .accomm-list {
        /* width:300px */
    }

    .accomm-list h2 {
        /* width:280px */
    }

    .accomm-attach {
        /* width:300px; */
        /* height:225px; */
    }

    .accomm-attach.category {
        /* height:300px */
    }

    .accommodation-slide,
    .page-slide {
        overflow: hidden;
        /* height:auto */
    }

    .accommodation-slide a.arow-nav,
    .page-slide a.arow-nav {
        /* left:0; */
        /* top:auto; */
        /* z-index:999; */
        /* bottom:15px; */
        /* width:40px; */
        /* height:60px; */
        /* background:url(../img/slide-arrow-2.png) no-repeat 0 0; */
    }

    .accommodation-slide a.arow-nav.up,
    .page-slide a.arow-nav.up {
        /* right:0; */
        /* left:auto; */
        /* bottom:15px; */
        /* background-position:-40px 0; */
    }

    #bx-pager,
    .page_detail #bx-pager {
        /* width:9999px; */
        height: 80px;
        overflow: hidden;
    }

    #bx-pager a {
        /* width:100px; */
        /* height:80px; */
        /* display:table-cell; */
        vertical-align: middle;
    }

    .accomm-brief {
        padding: 0 10px
    }

    .inquiry-btn {
        margin-left: 10px
    }
}


@media screen and (min-width: 480px) {
    .accomm-list {
        /* width:220px */
    }

    .accomm-list h2 {
        /* width:200px */
    }

    .accomm-attach {
        /* width:220px; */
        /* height:145px; */
    }

    .accomm-attach.category {
        /* height:220px */
    }

    .container.accommodation_detail {
        width: 480px
    }

    .accommodation-slide .bx-wrapper {
        width: 480px
    }

    .container.page_detail {
        width: 480px
    }

    .page-slide .bx-wrapper {
        /* width:480px */
    }

    .bx-wrapper .bx-viewport ul li a {
        /* width:480px; */
        /* height:300px */
    }

    #popup-ws {
        left: 20px;
        right: 20px
    }

    .widget-search-2 input[type=text] {
        width: 220px;
        margin: 5px 8px !important
    }

    .widget-search-2 .ml10 {
        margin-left: 0 !important
    }

    .widget-search-2 .btn-submit-ca {
        margin: 5px 8px 0
    }

    .widget-search-2 .c-select {
        margin: 5px 8px !important
    }

    .contact .desc .left,
    .contact .desc .right {
        /* margin:0 45px */
    }
}


@media screen and (min-width: 640px) {
    .accomm-attach {
        /* width:300px; */
        /* height:225px; */
    }

    .accomm-attach.category {
        /* height:300px */
    }

    .accomm-list {
        /* width:300px */
    }

    .accomm-list h2 {
        /* width:280px */
    }

    .container.accommodation_detail {
        width: 750px
    }

    .accommodation-slide .bx-wrapper {
        width: 590px
    }

    .page_detail {
        width: 750px
    }

    .page-slide .bx-wrapper,
    .page-slide .bx-wrapper .bx-viewport ul li a {
        /* width:610px */
    }

    .bx-wrapper .bx-viewport ul li a {
        /* width:590px; */
        /* height:400px; */
    }

    .accommodation-slide,
    .page-slide {
        overflow: hidden;
        /* height:400px */
    }

    .accommodation-slide a.arow-nav,
    .page-slide a.arow-nav {
        /* top:0; */
        /* left:auto; */
        /* right:50px; */
        /* bottom:0; */
        /* width:60px; */
        /* height:40px; */
        /* background:url(../img/slide-arrow.png) no-repeat 0 0; */
    }

    .accommodation-slide a.arow-nav.up,
    .page-slide a.arow-nav.up {
        /* top:auto; */
        /* right:50px; */
        /* bottom:0; */
        /* background-position:-60px 0; */
    }

    .page-slide a.arow-nav,
    .page-slide a.arow-nav.up {
        /* right:40px */
    }

    #bx-pager,
    .page-slide #bx-pager {
        /* width:160px; */
        height: auto;
        overflow: visible;
    }

    #bx-pager a,
    .page-slide #bx-pager a {
        /* width:auto; */
        height: auto;
        /* display:block; */
    }

    .accomm-brief {
        padding: 0
    }

    .inquiry-btn {
        margin-left: 0
    }

    .page-slide #bx-pager {
        /* width:140px */
    }

    .a-ws {
        /* height:280px!important */
    }

    #popup-ws {
        left: 10%;
        right: 10%
    }

    .m320 #dl-menu {
        position: absolute;
        right: 0;
        top: 50px;
        margin: 0;
        text-align: right
    }

    .m320 .dl-menuwrapper button {
        right: 40px;
        margin-left: 0
    }

    .m320 .dl-menuwrapper button:after {
        background: #000;
        box-shadow: 0 6px 0 #000, 0 12px 0 #000;
        -moz-box-shadow: 0 6px 0 #000, 0 12px 0 #000;
        -webkit-box-shadow: 0 6px 0 #000, 0 12px 0 #000
    }

    .m320 span.text-menu {
        margin-left: 0;
        margin-right: 80px;
        color: #000 !important;
        left: 300px
    }

    .header .logo {
        display: inline-block
    }

    /*.header .contact{display:block;position:absolute;top:0;margin:0;}*/
    .header .contact a {
        /* color:#fff; */
        /* font-size:14px; */
        margin-left: 10px;
    }

    .header .contact .phone {
        background-image: url(../images/icon-ph-2.png)
    }

    .header .contact .email {
        background-image: url(../images/icon-em-2.png)
    }

    .footer .menu>ul {
        /* display:inline-block; */
        margin-left: 10px;
    }

    .footer .dl-menuwrapper {
        display: none
    }

    .footer .social-network ul {
        border-top: 1px solid #4E6A98;
        text-align: center
    }

    .footer .social-network>ul>li:nth-child(1),
    .footer .social-network>ul>li:nth-child(2) {
        position: relative;
        display: inline-block;
        margin-bottom: 20px
    }

    .footer .social-network>ul>li:nth-child(1) a,
    .footer .social-network>ul>li:nth-child(2) a {
        color: #fff;
        font-size: 16px;
        width: auto;
        height: auto;
        display: inline
    }

    .footer .social-network>ul>li:nth-child(1) {
        margin-right: 0
    }

    .footer .social-network>ul>li:nth-child(3)>a:nth-child(1) {
        margin-left: -250px;
        vertical-align: middle
    }

    .footer .social-network>ul>li:nth-child(4) {
        margin-left: 200px;
        margin-top: -50px
    }

    .footer .social-network .border {
        text-align: center
    }

    .footer .social-network .border a {
        margin: 12px 10px 0
    }

    .footer .contact {
        border-top: none
    }

    .footer .copyright {
        text-align: left
    }

    .footer .copyright .book-online {
        margin: 0;
        position: absolute;
    }

    .widget-search {
        /* text-align:center; */
        /* padding:20px 0 0; */
        /* bottom:40px; */
        /* min-height:0; */
        /* height:134px; */
        /* overflow:hidden; */
        /* width:520px; */
    }

    .home .widget-search {
        /* overflow:inherit */
    }

    .c-widget-search .title {
        display: inline-block;
        text-align: left;
        margin-bottom: 0
    }

    .widget-search .row.left {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px
    }

    .widget-search .row:nth-child(2) .col:nth-child(2) {
        display: none
    }

    .home .widget-search .row:nth-child(2) .col:nth-child(2) {
        display: inline-block
    }

    .widget-search .row:last-child {
        display: inline-block
    }

    .widget-search .c-select {
        display: inline-block;
        margin: 0 10px
    }

    .widget-search .col {
        display: block;
        padding-right: 15px
    }

    .widget-search .col input {
        margin: 10px 0
    }

    .widget-search .txt200 {
        width: 220px
    }

    .widget-search .txt200:nth-child(1) {
        margin: 10px 10px 0 20px
    }

    .widget-search .txt200:nth-child(2) {
        margin: 10px 0 0 10px
    }

    .widget-search .txt140 {
        margin: auto 10px !important
    }

    .widget-search .txt140:first-child {
        margin-left: 20px !important
    }

    .widget-search .txt140:last-child {
        margin-right: 0 !important
    }

    .widget-search input.ml0[type="text"] {
        margin-left: 20px
    }

    .widget-search .btn-submit-ca {
        float: none;
        margin: 25px auto
    }

    .option-location {
        margin: 10px 20px
    }

    .c-select:last-child .option-location {
        margin: 10px 0
    }

    #field_return+.option-location {
        left: -10px
    }

    .widget-search-2 .c-select {
        margin: 5px 8px !important
    }

    /*.home .a-ws {
        height: calc(100% - 50px) !important;
    }*/

    .home .widget-search {
        /* height:auto */
    }

    .home .why ul li {
        width: 50%
    }

    .about .a-ws {
        /* height:350px */
    }

    .about .container p img {
        float: none;
        display: block;
        clear: both
    }

    .about .container p span {
        display: block !important;
        clear: both !important
    }

    .route .desc h1 {
        /* font-size:20px */
    }

    .route .label-route {
        font-size: 18px
    }

    .route .tb-title p {
        font-size: 18px
    }

    /*.route .tb-schedule{font-size:18px}
.tb-schedule td{width:auto;}
.tb-schedule td:nth-child(2n){text-indent:40%}*/
    .contact .a-ws {
        height: 380px
    }

    .contact .desc .left,
    .contact .desc .right {
        /* margin:0 90px */
    }
}

@media screen and (min-width: 960px) {
    .accomm-attach {
        /* width:300px; */
        /* height:225px; */
    }

    .accomm-attach.category {
        /* height:300px */
    }

    .container.accommodation_detail,
    .page_detail {
        width: 960px
    }

    .accommodation-slide .bx-wrapper {
        width: 800px
    }

    .accommodation-slide,
    .page-slide {
        overflow: hidden;
        /* height:527px */
    }

    .bx-wrapper .bx-viewport ul li a {
        /* width:800px; */
        /* height:527px; */
    }

    .page-slide .bx-wrapper,
    .page-slide .bx-wrapper .bx-viewport ul li a {
        /* width:820px */
    }

    .container {
        /* width:960px */
    }

    .container p {
        font-size: 18px
    }

    #popup-ws {
        display: none
    }

    #overlay {
        display: none
    }

    .header {
        height: 70px
    }

    .m320 {
        display: none
    }

    .container.header {
        /* width: 100%; */
    }

    .header .logo {
        display: inline-block;
        margin: 13px 0 0 25px;
    }

    .header .logo img {
        width: auto;
        height: auto
    }

    .header .contact {
        /* float:right; */
        /* margin: 24px 0px 0 0; */
        /* right: 28px; */
    }

    .header .contact a {
        display: inline-block;
        /* margin-left: 20px; */
        /* padding-left: 35px; */
        /* color:#000; */
        /* font-size:16px; */
        /* font-weight:800; */
        vertical-align: middle;
        line-height: 165%;
    }

    .header .contact .phone {
        background-image: url(../images/icon-ph-1.png)
    }

    .header .contact .email {
        background-image: url(../images/icon-em-1.png);
        /* background-size: 21px 16px; */
        margin-right: 0px;
        font-size: 14px;
        background-position: 0 3px;
        padding-top: 0px;
        margin-top: -3px;
    }

    .top-menu {
        display: block
    }

    .footer {
        position: relative;
        /* min-height:360px */
    }

    .footer .menu {
        display: inline-block;
        vertical-align: top
    }

    .footer .menu ul {
        margin: 30px 60px 0 0;
        /* display: inline-table; */
        /* width: 522px; */
    }

    .footer .menu ul li {
        margin: 0;
        list-style: none
    }

    .footer .menu ul li a {
        /* display:block; */
        /* color:#DEE3F3; */
        /* font-size: 15px; */
        /* font-weight: 300; */
        /* line-height: 200%; */
    }

    .footer .social-network {
        float: right;
        margin: 30px 0;
        overflow: hidden
    }

    .footer .social-network ul {
        margin: 0;
        text-align: left;
        border: none
    }

    .footer .social-network ul li {
        list-style: none;
        line-height: 140%;
        margin-bottom: 4px;
        padding: 0 15px
    }

    .footer .social-network>ul>li:nth-child(1),
    .footer .social-network>ul>li:nth-child(2) {
        display: block;
        top: 5px;
        margin-bottom: 5px
    }

    .footer .social-network>ul>li:nth-child(2) {
        margin-bottom: 20px
    }

    .footer .social-network>ul>li:nth-child(3)>a:nth-child(1) {
        margin-left: 0;
        vertical-align: middle
    }

    .footer .social-network>ul>li:nth-child(4) {
        margin-left: 0;
        margin-top: 0
    }

    .footer .social-network .border {
        border-bottom: 1px solid #4E6A98;
        border-top: 1px solid #4E6A98;
        height: 44px;
        text-align: left
    }

    .footer .social-network .border a {
        display: inline-block;
        margin: 12px 10px 0 0
    }

    .footer .social-network a {
        color: #DEE3F3;
        font-size: 16px;
        font-weight: 600
    }

    .footer .social-network img {
        vertical-align: middle;
        margin-top: -1px
    }

    .footer .contact {
        /* border-top:1px solid #4E6A98; */
        /* border-bottom:1px solid #4E6A98; */
        background-position: center right;
        padding-top: 0;
        margin: 20px 0 0;
    }

    .footer .contact ul {
        margin: 0;
        padding: 10px 0;
    }

    .footer .contact ul li {
        list-style: none;
        line-height: 140%;
        color: #DEE3F3;
        font-size: 16px;
        /* font-weight:300 */
    }

    .footer .contact img {
        margin-right: 8px
    }

    .footer .copyright {
        /* padding: 15px 0; */
        color: #fff;
        /* font-size:12px; */
        /* font-weight:200; */
    }

    .footer .copyright .book-online {
        /* position:absolute; */
        /* bottom:0; */
        /* right:10px; */
        /* width:138px; */
        /* height:30px; */
    }

    .c-widget-search {
        padding: 0 !important
    }

    .widget-search {
        /* text-align:center; */
        /* padding: 20px 45px 30px; */
        /* height:auto; */
        /* overflow:inherit; */
        /* width:auto; */
    }

    .c-widget-search .title {
        display: inline-block;
        text-align: left;
        margin-bottom: 0;
        font-family: 'Lato', sans-serif;
        /* font-weight:700; */
        font-size: 18px;
        color: #194772;
        font-weight: 600;
    }

    .widget-search .row {
        text-align: left;
        margin: 0;
        padding-left: 4px
    }

    .widget-search .row.left {
        text-align: left
    }

    .widget-search .row:nth-child(2) .col:nth-child(2) {
        display: inline-block
    }

    .widget-search .row:last-child {
        display: block;
        margin-top: 10px
    }

    .widget-search .c-select {
        display: inline-block;
        margin: 0 auto
    }

    .widget-search .col {
        display: inline-block;
        padding-right: 0
    }

    .widget-search .col input {
        margin: 10px 0
    }

    .widget-search .row:nth-child(2) .col>* {
        margin-right: 22px
    }

    .widget-search .row:nth-child(2) .col:last-child> :last-child {
        margin-right: 0 !important
    }

    .widget-search .txt200 {
        width: 200px
    }

    .widget-search .txt200:nth-child(1) {
        margin: 0
    }

    .widget-search .txt200:nth-child(2) {
        margin: 0
    }

    .widget-search .txt140 {
        margin: auto 10.5px !important
    }

    .widget-search .txt140:first-child {
        margin-left: 0 !important
    }

    .widget-search .txt140:last-child {
        margin-right: 0 !important
    }

    .widget-search input.ml0[type="text"] {
        margin-left: 0
    }

    .widget-search .btn-submit-ca {
        float: right;
        margin: auto
    }

    .option-location {
        margin: 10px 0
    }

    #field_return+.option-location {
        left: -10px
    }

   /* .home .a-ws {
        height: 578px
    }*/

    .home .why ul li {
        width: 25%
    }

    .about .container p img {
        display: auto !important;
        clear: none !important;
        margin: 0 auto !important
    }

    .about .container p img.right {
        float: right !important
    }

    .about .container p img.left {
        float: left !important;
        max-width: 50%
    }

    .about .container p span {
        display: inline-block !important;
        clear: none !important;
        width: 50% !important;
        margin: auto !important;
        margin-top: 10px !important
    }

    .container p span.right {
        padding-left: 50px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }

    .route .desc h1 {
        /* font-size:24px */
    }

    .route .label-route {
        font-size: 18px
    }

    .route .tb-title p {
        font-size: 18px
    }

    /*.route .tb-schedule{font-size:20px}
.tb-schedule td{width:33.33%;}
.tb-schedule td:nth-child(2n){text-indent:100px}*/
    .contact .a-ws {
        height: 280px
    }

    .contact .desc .left,
    .contact .desc .right {
        /* display:inline-block; */
        /* width:50%; */
        /* margin:0; */
    }

    .contact .desc .left {
        padding-right: 10px
    }

    .contact .desc .right {
        /* padding-left:10px */
    }

    .form-contact input[type="text"],
    .form-contact input[type="email"],
    .form-contact textarea {
        /* width:460px */
    }

    .form-contact input.txtchapta {
        display: inline-block;
        width: 110px;
        height: 34px
    }

    .contact .right .data-contact {
        display: block
    }

    .contact .right .sosmed {
        display: block
    }
}

@media screen and (min-width: 1000px) {
    .header .contact a {
        /* font-size: 13px; */
        /* font-weight: 400; */
    }
}

@media screen and (min-width: 1366px) {
    .container.header {
        /* width: 80%; */
    }

    .header .logo {
        margin-left: 0px;
    }

    .header .contact {
        /* right: 0px; */
    }

    .widget-search input[type=text].txt220 {
        width: 260px;
    }

    /*.widget-search input[type=text].txt140 {width: 167px;}*/
}




@media screen and (max-width: 1440px) {
    .container.header {
        width: calc(100% - 30px);
        margin-left: 30px;
    }

    .container.top-menu {
        width: calc(100% - 60px);
    }

    .header .logo {
        margin-left: 0px;
    }

    .header .contact {
        margin-right: 30px;
    }

    .top-menu>ul li:last-child a {
        right: -10px;
    }

    .top-menu>ul li:nth-child(2) a {
        left: -15px;
    }

    .top-menu>ul li:nth-child(3) a {
        left: 15px;
    }

    .top-menu>ul li:nth-child(4) a {
        left: 15px;
    }

    .top-menu>ul li:nth-child(5) a {
        left: 15px;
    }

    .top-menu>ul li:nth-child(6) a {
        left: 30px;
    }

    .top-menu>ul li:nth-child(7) a {
        left: 80px;
    }

    .top-menu>ul li:nth-child(8) a {
        left: 50px;
    }

    /*HOME START*/
    .nav-slide-home {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        background-size: 40px;
    }

    .nav-slide-home.next {
        margin-left: calc(100% - 40px);
    }

    .widget-search {
        max-height: 190px;
    }

    .widget-search .row.left {
        margin-bottom: 5px;
        padding-bottom: 5px;
        margin-top: 6px;
    }

    .widget-search input[type=text],
    .widget-search-2 input[type=text] {
        margin-bottom: 3px;
    }

    .c-transform h1 {
        font-size: 40px;
    }

    .c-transform {
        width: 1100px;
        margin: 0 auto;
    }

    .li-c-transform {
        margin-top: 50px;
        width: 100%;
    }

    .li-c-transform img:first-child {
        width: 262px;
        margin-left: 80px;
    }

    .li-c-transform img:last-child {
        width: 520px;
    }

    .li-c-transform img:nth-child(2) {
        width: 35px;
    }

    .container.why {
        width: 980px;
    }

    .home .why ul li {
        text-align: left;
    }

    .home .why ul li:first-child span {
        width: 169px
    }

    .home .why ul li:nth-child(2) span {
        width: 156px;
    }

    .home .why ul li:nth-child(3) span {
        width: 169px;
    }

    .home .why ul li:last-child span {
        width: 169px
    }

    .home .why ul li span {
        /* display: block; */
    }

    .home .why ul li:first-child img {}

    .home .why ul li:nth-child(2) img {
        margin-left: 35px;
    }

    .home .why ul li:nth-child(3) img {
        margin-left: 50px;
    }

    .home .why ul li:nth-child(4) img {
        margin-left: 94px;
    }

    .home .why ul li:first-child span {}

    .home .why ul li:nth-child(2) span {
        margin-left: 35px;
    }

    .home .why ul li:nth-child(3) span {
        margin-left: 50px;
    }

    .home .why ul li:nth-child(4) span {
        margin-left: 94px;
    }

    .page.home .container.desc {
        width: 800px;
    }

    .home .desc p {
        font-size: 16px;
    }

    .page.home .container.desc {
        padding: 100px 0;
    }
    /*HOME END*/

    /*PAGE START*/
    .wrap.page .a-ws {
        height: 340px;
    }

    .page-title {
        top: 230px;
    }

    .container.desc-about {
        width: 775px;
        padding: 70px 0;
    }

    .container p {
        font-size: 17px;
        font-weight: 400;
        line-height: 170%;
    }

    .wrap.page.about .page_detail {
        width: 960px;
    }

    .wrap.page.about .page-slide {
        margin-top: 80px;
    }

    a.arow-nav.prev,
    a.arow-nav.next {
        width: 40px;
        height: 40px;
        top: calc(50% - 84px);
        margin-top: 0px;
        background-size: 40px;
    }

    .page-slide a.arow-nav {
        width: 40px;
        height: 40px;
        background-size: 40px;
    }

    .container.desc {
        width: 775px;
    }

    .gallery-item {
        width: 960px;
    }

    .wrap.page .container.desc {
        width: 960px
    }

    .wrap.page .container.desc {
        width: 960px;
    }

    .page .desc h2 {
        font-size: 22px
    }


    .wrap.page.the-gilis .container.desc {
        width: 780px;
        margin-top: 0;
        padding-top: 60px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .wrap.page.the-gilis .wrap-desc-gray .desc h2 {
        font-size: 23px
    }

    .wrap.page.the-gilis .wrap-desc-gray {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .wrap.page.the-gilis .page_detail {
        margin-top: 80px;
    }

    .wrap.page .middle {
        width: 775px;
    }

    .wrap.page .middle.middle-image {
        width: 820px;
    }

    #tb-rate-desc td ul.li-small-nav {
        margin-left: 80px;
    }

    #tb-rate-desc td:last-child ul.li-small-nav {
        margin-left: 80px;
    }

    .content-custom {
        padding: 70px 0 50px;
    }

    #tb-general-tip-2 {
        margin-left: 10px;
    }

    #tb-general-tip-2 td h3 {
        font-size: 22px;
        font-weight: 700;
    }

    .wrap.page.general-tips .content-custom:last-child {
        padding-bottom: 0px;
    }

    .wrap.page.packages-offers .content-custom p,
    .wrap.page.packages-offers .content-custom ul {
        font-size: 17px
    }

    .wrap.page.packages-offers .content-custom h2 {
        font-size: 23px;
        line-height: 100% !important;
        margin-bottom: 8px
    }

    .wrap.page.packages-offers .content-custom:first-child .middle {
        width: 760px
    }

    .book-now {
        margin-top: 30px
    }

    #table-accommodation .accomm-list h2 {
        margin-top: 60px
    }

    .accomm-list .desc {
        width: 435px;
        font-size: 15px
    }

    .accomm-list .desc p {
        font-size: 15px
    }

    #table-accommodation td {
        padding-bottom: 130px
    }

    .accomm-list .visit {
        bottom: 70px
    }

    .wrap.page.contact .container.desc {
        width: 960px;
    }

    .wrap.page.route h1 {
        font-size: 46px;
    }

    .wrap-desc-gray.wrap-routes {}

    .wrap-desc-gray.wrap-routes .container.desc {
        width: 100%
    }

    .wrap-routes-rates {
        width: 100%
    }

    .wrap-desc-gray.wrap-routes .middle {
        width: 960px
    }

    .container.desc ul.ul-route li:nth-child(2n) {
        width: 60px
    }

    .page .wrap-desc-gray .wrap-routes-rates>h2 {
        padding-top: 20px
    }

    .route .tb-schedule tr:nth-child(2) td:first-child {
        width: 260px;
        padding-top: 0px;
        margin-top: 0px
    }

    .route .tb-schedule tr:nth-child(2) td:last-child {
        width: calc(260px - 60px);
        padding-top: 0px
    }

    .route .tb-schedule tr td {
        width: 260px
    }

    .route tr.tb-title:first-child td:first-child {
        width: calc(470px - 50px);
        padding-left: 50px
    }

    .route .tb-schedule tr td:first-child {
        padding: 15px 0 15px 50px
    }

    .route .tb-schedule h3 {
        margin: 0px
    }

    .route tr.tb-title:first-child td:last-child {
        padding-bottom: 10px
    }

    .route .tb-schedule.sunrise-departure tr td:first-child {
        width: calc(470px - 18px)
    }

    p.all-departure-txt {
        padding-left: 50px;
        padding: 15px 0 15px 50px
    }

    .wrap.page.testimonial {}

    .wrap.page.testimonial .container.desc {
        width: 900px;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px
    }

    .wrap.page.testimonial .container p {
        font-size: 15px
    }

    table.testimonial h4,
    table.testimonial h4 span {
        font-size: 17px
    }

    .wrap.page.accommodation .page-title h1 {
        font-size: 46px;
    }

    /*PAGE END*/

    .container.footer {
        width: 960px;
    }

    .footer .menu ul:first-child {
        width: 310px;
    }
}

@media screen and (max-width: 1024px) {
    .home-slide-item .iframe-wrapper{
        padding-top: 56.25%;
        position: relative;
    }

    .wrap.page.home{
        padding-top: 80px;
    }

    .wrap.page.contact{
        padding-top: 70px;
    }

    .wrap.wrap-header {
        overflow: hidden;
        width: 100%;
    }

    .container.top-menu {
        display: none;
    }

    .wrap.white.wrap-header-white {
        /* border-top: none; */
    }

    .header .contact .email {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile {
        float: right;
        width: 225px;
        height: 100%;
        border-left: solid 1px #DDDDDD;
    }

    .header .contact {
        right: 240px;
    }

    .book-now-header {
        width: 145px;
        height: 75px;
        background: #00A2D9;
        border: none;
        float: right;
        position: absolute;
        top: 0;
        left: inherit;
        right: 0;
        font-size: 16px;
        color: #fff;
    }

    /*.menu-mobile-ul:before {content: "";display: block;border-top: solid 4px rgba(221, 221, 221, 0.49);}
	.menu-mobile-ul{position:absolute;z-index:9999;background:#fff;width:100%;height: 0;overflow:hidden;}
	.menu-mobile-ul ul{ width:100%}
	.menu-mobile-ul ul{width:80%;margin:0 auto;text-align:center;height:300px;position:relative;top: 50%;margin-top:-150px;}
	.menu-mobile-ul ul li{ list-style-type:none;  height:12.5%}
	.menu-mobile-ul ul li a{ font-size:15px; font-weight:300}*/
    .body-home .menu-mobile {
        width: 225px;
        border-left: solid 1px #ddd;
    }

    .body-other-page.hasscrolled.scrolled .menu-mobile {
        width: 225px;
    }

    .body-other-page.hasscrolled .menu-mobile {
        width: 225px;
    }

    .body-home.scrolled .menu-mobile,
    .body-home.hasscrolled .menu-mobile {
        width: 225px;
    }

    body .menu-mobile {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    .menu-mobile .icon {
        z-index: 1;
    }

    .home .a-ws {
        display: none;
    }

    .home .c-widget-search{
        height: auto;
    }

    .home-slide-container{
        position: static;
    }

    .home-slide-container .slick-list,
    .home-slide-container .slick-track{
        height: calc(100vh - 128px);
    }

    .ul-pagging-slide {
        width: 100%;
        margin: 0;
        text-align: center;
        position: absolute;
        bottom: 20px;
    }

    .ul-pagging-slide li {
        display: inline-block;
        list-style-type: none;
        margin: 0 15px;
    }

    .ul-pagging-slide li input[type="button"] {
        width: 10px;
        height: 10px;
        border: none;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }

    .ul-pagging-slide li.active input[type="button"] {
        background: #fff;
    }


    .book-now-mobile {
        display: block;
    }

    .menu-mobile-ul {
        display: block;
    }

    .ul-pagging-slide {
        display: block;
    }

    .c-transform {
        padding: 85px 0;
        width: 800px;
        margin: 0 auto;
    }

    .c-transform h1 {
        margin-top: 0px;
        font-size: 34px;
    }

    .desc.desc-home {
        font-size: 16px;
        width: 100%;
    }

    .li-c-transform img:first-child {
        width: 208px;
        margin-left: 15px;
    }

    .li-c-transform img:nth-child(2) {
        width: 27px;
    }

    .li-c-transform img:last-child {
        width: 414px;
    }

    .li-c-transform {
        margin-top: 45px;
    }

    .wrap.page .a-ws {
        height: 250px;
    }

    .page-title {
        top: 175px;
        width: 600px;
        margin-left: -300px;
    }

    .wrap.page.success-inquiry .page-title {
        top: 156px;
    }

    .page-title h1 {
        font-size: 40px;
    }

    /*HOME START*/
    .container.why {
        width: 825px
    }

    .home .why ul li:first-child span {
        width: 148px
    }

    .home .why ul li:nth-child(2) img {
        margin-left: 15px
    }

    .home .why ul li:nth-child(2) span {
        margin-left: 10px
    }

    .home .why ul li:nth-child(3) img {
        margin-left: 35px
    }

    .home .why ul li:nth-child(3) span {
        margin-left: 35px
    }

    .home .why ul li:nth-child(4) img {
        margin-left: 57px
    }

    .home .why ul li:nth-child(4) span {
        margin-left: 45px
    }

    /*HOME END*/

    /*PAGE START*/
    .wrap.page.about .page_detail {
        width: 780px;
    }

    #bx-pager a {
        padding: 2px 4px 0;
        width: calc(16.6667% - 6.8px)
    }

    a.arow-nav.prev,
    a.arow-nav.next {
        top: calc(50% - 60px)
    }

    .page-slide a.arow-nav,
    .page-slide a.arow-nav.up {
        bottom: 25px
    }

    .gallery-item {
        width: 780px;
    }

    .wrap.page .container.desc {
        width: 780px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .wrap.page .page_detail {
        width: 780px;
    }

    /*the gilis*/

    .wrap.page .middle.middle-image {
        width: 780px;
    }

    .content-custom p,
    .content-custom ul {
        font-size: 17px;
    }

    #tb-general-tip-2 p {
        font-size: 17px;
    }

    .accomm-list .desc {
        width: 375px;
    }

    .wrap.page.contact .container.desc {
        width: 780px;
    }

    .wrap.page.contact .page-title h1 {
        font-size: 32px;
    }

    .form-contact input[type="text"],
    .form-contact input[type="email"],
    .form-contact textarea {
        width: 380px;
    }

    .wrap.page.contact .page-title {
        margin-top: 50px;
    }

    .wrap.page.contact .container.desc {
        padding-bottom: 35px;
    }

    #map-canvas {
        height: 375px !important;
    }

    .wrap-desc-gray.wrap-routes {
        padding: 0px
    }

    .wrap-desc-gray.wrap-routes .container.desc {
        margin-top: 0px
    }

    .route .desc h1 {
        font-size: 30px;
        font-weight: 400
    }

    .wrap-desc-gray.wrap-routes .container.desc {
        width: 100%
    }

    .wrap-desc-gray.wrap-routes .middle {
        width: 760px
    }

    .wrap-desc-gray.wrap-routes .middle:first-child {}

    .wrap.page.route h1 {
        font-size: 44px;
        margin-bottom: 60px;
    }

    .wrap-desc-gray.wrap-routes .container.desc {
        padding-top: 50px;
    }

    ul.ul-route {
        width: 615px;
        margin: 0 auto
    }

    .container.desc ul.ul-route li:nth-child(2n) {
        width: 58px
    }

    .container.desc ul.ul-route li:nth-child(8) {
        background: none;
        width: 170px
    }

    .ul-route li {
        margin-bottom: 45px
    }

    .route tr.tb-title:first-child td:first-child {
        width: calc(310px - 50px);
    }

    .route .tb-schedule.sunrise-departure tr td:first-child {
        width: calc(310px - 4px);
    }

    .route .tb-schedule h3 {
        /*padding-top: 10px;*/
    }

    .route .tb-schedule.rates h3 {
        padding-top: 0px;
    }

    .wrap.page.testimonial .container.desc {
        width: 800px;
    }

    .wrap.page.success-inquiry p {
        margin-top: 10px !important;
    }

    .wrap.page.accommodation .a-ws {
        height: 160px;
    }

    .wrap.page.accommodation .page-title {
        top: 130px;
    }

    .wrap.page.accommodation .page-title h1 {
        font-size: 44px;
    }

    .gallery-item a:before {
        display: none;
    }

    .gallery-item a:after {
        display: none;
    }

    /*PAGE END*/

    .container.footer {
        width: 800px;
    }

    .footer .menu {
        width: 492px;
    }

    .footer .menu ul:nth-child(2) {
        margin-top: 0px;
    }

    .footer .menu ul li a {
        font-size: 15px;
    }

    .footer .menu ul:first-child {
        margin-top: 0px;
    }

    .footer .contact {
        margin-top: 0px;
    }

    .footer .contact ul {
        padding-top: 0px;
    }

    .footer .menu {
        height: 398px;
    }

    .footer .copyright .book-online {
        bottom: 10px;
    }

    .footer .copyright>div {
        margin-top: 5px;
        font-size: 13px;
    }

    .footer .copyright {
        padding-bottom: 30px;
    }
}


@media screen and (max-width: 768px) {
    .header .contact {
        display: none
    }

    .m320 {
        display: none
    }

    .wrap.wrap-header {
        height: 73px;
    }

    .header .logo img {
        width: 287px;
        height: auto;
        max-height: inherit
    }

    .header .logo {
        margin-top: 16px;
        margin-left: 30px
    }

    .menu-mobile {
        height: 73px
    }

    .menui.top-menu {
        display: block
    }

    .menu-mobile .icon {
        top: 15px;
    }

    .close-book-now-mobile {
        width: 78px;
        height: 80px;
        margin-left: -2px;
        background-position: calc(50% + 2px) center;
    }

    .book-now-mobile.widget-search .c-select {
        margin-left: 0px;
        margin-right: 0px;
    }

    .widget-search .col {
        padding-right: 0px;
    }

    .widget-search input.ml0[type="text"] {
        margin-left: 0px;
    }

    .option-location {
        margin: 17px 0;
    }

    /*HOME START*/
    .c-transform {
        width: 485px;
        padding: 60px 0 90px
    }

    .c-transform h1 {
        font-size: 30px;
        width: 348px;
        margin: 0 auto 10px
    }

    .li-c-transform img:first-child {
        width: 243px;
        margin: 0 auto
    }

    .li-c-transform img {
        display: block;
        text-align: center
    }

    .li-c-transform {
        text-align: center
    }

    .li-c-transform img:nth-child(2) {
        width: 24px;
        transform: rotate(90deg);
        margin: 30px auto 20px
    }

    .li-c-transform img:last-child {
        width: 456px;
        margin: 0 auto
    }

    .container.why {
        width: 585px;
    }

    .why ul li img {
        max-width: 102px
    }

    .home .why ul li {
        width: 25%
    }

    .home .why ul li span {
        font-size: 12px;
        line-height: 140%
    }

    .home .why ul li:first-child span {
        width: 116px
    }

    .home .why ul li:first-child img {
        margin-left: 6px
    }

    .home .why ul li:nth-child(2) span {
        width: 140px;
        margin-left: 0
    }

    .home .why ul li:nth-child(2) img {
        margin-left: 17px
    }

    .home .why ul li:nth-child(4) img {
        margin-left: 46px
    }

    .home .why ul li:nth-child(4) span {
        margin-left: 34px;
        width: 131px;
    }

    .home .why ul li:nth-child(3) span {
        margin-left: 0px
    }

    .why h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .container.why {
        padding: 70px 0;
    }

    .page.home .container.desc {
        width: 580px;
    }

    .home .desc p {
        font-size: 15px;
    }

    /*HOME END*/

    /*PAGE START*/
    .page-title h1 {
        font-size: 40px
    }

    .page-title {
        top: 175px;
        width: 500px;
        margin-left: -250px;
    }

    .wrap.page .a-ws {
        height: 245px;
        width: 100%;
    }

    .container.desc-about {
        width: 500px;
        padding: 60px 0
    }

    .container p {
        font-size: 16px
    }

    .page .container.desc ul,
    .page .container.desc ol {
        font-size: 16px;
        padding: 5px 0;
    }

    .wrap.page.about .page_detail {
        width: 555px;
    }

    a.arow-nav.prev,
    a.arow-nav.next {
        width: 30px;
        height: 30px;
        background-size: 30px;
        top: calc(50% - 52px)
    }

    .page-slide a.arow-nav.down,
    .page-slide a.arow-nav.up {
        width: 20px;
        height: 20px;
        background-size: 20px;
        bottom: 23px
    }

    .container {
        max-width: 100%;
    }

    .wrap.page.about .page-slide {
        margin-top: 70px;
    }

    /*.wrap.page.about .page_detail {
        margin-bottom: 0px;
    }*/

    .gallery-item {
        width: 555px;
    }

    .wrap.page .container.desc {
        width: 555px;
    }

    .page .desc h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .wrap.page.the-gilis .page_detail {
        width: 555px;
    }

    .wrap.page.the-gilis .page-slide a.arow-nav.down,
    .wrap.page.the-gilis .page-slide a.arow-nav.up {
        bottom: 26px;
    }

    .wrap.page.the-gilis .container.desc {
        width: 500px;
    }

    .wrap.page.the-gilis .wrap-desc-gray .desc h2 {
        font-size: 20px;
    }

    .wrap.page.the-gilis p.just-space {
        margin-bottom: 20px;
        line-height: 0;
    }

    .wrap.page .middle {
        width: 500px
    }

    .content-custom p,
    .content-custom ul {
        font-size: 16px
    }

    .content-custom {
        padding: 50px 0 30px
    }

    .wrap.page .middle.middle-image {
        width: 550px
    }

    #tb-rate-desc td ul.li-small-nav {
        margin-left: 0px
    }

    #tb-rate-desc td:last-child ul.li-small-nav {
        margin-left: 55px
    }

    #tb-general-tip-2 p {
        font-size: 16px;
    }

    #tb-general-tip-2 span {
        font-size: 16px !important;
    }

    #tb-general-tip-2 td h3 {
        font-size: 20px;
    }

    .wrap.page.packages-offers .content-custom:first-child .middle {
        width: 540px;
    }

    .wrap.page.packages-offers .content-custom p,
    .wrap.page.packages-offers .content-custom ul {
        font-size: 15px;
    }

    .wrap.page.packages-offers .wrap.page .middle {
        width: 550px;
    }

    .accomm-list .desc {
        width: 275px;
    }

    .wrap.page.contact .container.desc {
        width: 380px
    }

    .form-contact input[type="text"],
    .form-contact input[type="email"],
    .form-contact textarea {
        width: calc(100% - 40px)
    }

    .contact .desc .left,
    .contact .desc .right {
        width: 100%
    }

    .form-contact p {
        margin-bottom: 16px
    }

    .form-contact input[type="text"],
    .form-contact input[type="email"]{
        height: 43px
    }

    .contact .right .data-contact {
        display: block;
        margin-top: 30px;
        border-top: solid 1px rgba(85, 85, 85, 0.2);
    }

    .container.desc ul li {
        padding: 20px 0;
    }

    .page .container.desc ul li,
    .page .container.desc ol li {
        padding: 5px 0;
    }

    .middle-data-contact {
        width: 290px;
        margin: 0 auto;
    }

    #map-canvas {
        height: 350px !important;
    }

    .wrap-desc-gray.wrap-routes .container.desc {
        width: 100%
    }

    .wrap-desc-gray.wrap-routes .middle {
        width: 100%
    }

    ul.ul-route {
        width: 490px
    }

    .container.desc .ul-route li {
        padding: 0px
    }

    .container.desc .ul-route li:nth-child(6) {
        display: none
    }

    .container.desc ul.ul-route li:nth-child(8) {
        width: 60px;
        background: url('../images/nav-route.jpg') no-repeat;
        background-position: center center
    }

    .container.desc ul.ul-route li:nth-child(2n) {
        width: 80px
    }

    .route .desc h1 {
        margin-bottom: 30px;
    }

    .wrap-desc-gray.wrap-routes .container.desc {
        /*padding-top: 30px;*/
    }

    .route .tb-schedule h3 {
        font-size: 21px
    }

    .route .tb-schedule {
        font-size: 15px;
        font-weight: 400
    }

    .route .tb-schedule tr:nth-child(2) {
        font-size: 15px;
        font-weight: 400
    }

    .wrap-desc-gray.wrap-routes .middle.text-middle-route {
        width: 560px;
        font-size: 15px;
        line-height: 140%
    }


    .wrap.page.testimonial .container.desc {
        width: 500px
    }

    table.testimonial td {
        display: block;
        width: 100%;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 50px
    }

    table.testimonial td:last-child {
        padding-left: 0px
    }

    .wrap.page.success-inquiry p {
        margin-top: 10px !important;
    }


    .tb-result.tb-result-one-waytrip tr th:first-child,
    .tb-result.tb-result-one-waytrip tr td:first-child {
        max-width: 25px !Important;
        min-width: 25px !important;
        width: 25px !important;
        padding-left: 15px
    }

    .tb-result.tb-result-one-waytrip td:nth-child(2),
    .tb-result.tb-result-one-waytrip th:nth-child(2) {
        width: 160px !important;
        min-width: 160px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:first-child {
        width: 100px !important;
        max-width: 100px !important;
        min-width: 100px !important
    }

    .tb-result.tb-result-one-waytrip td:nth-child(3),
    .tb-result.tb-result-one-waytrip th:nth-child(3) {
        width: 100px;
        min-width: 100px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:nth-child(2) {
        width: 100px !important;
        min-width: 100px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:last-child {
        width: 100px
    }



    /*PAGE END*/

    .container.footer {
        width: 495px
    }

    .footer .menu {
        width: 100%
    }

    .footer .menu ul:first-child {
        width: 225px
    }

    .footer .menu {
        height: auto
    }

    .footer .contact {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px
    }

    .footer .contact ul li span,
    .footer .contact ul li a{
        display: inline;
        line-height: 120%;
        font-size: 14px
    }

    .footer .contact ul li:first-child span:last-child {
        margin-left: 5px;
        border-left: solid 1px #fff;
        padding-left: 5px;
        line-height: 100%;
        display: inline-block
    }

    .container.footer {
        height: 625px;
        max-height: 625px !important
    }

    .footer .contact {
        padding-top: 78px
    }

    .footer .copyright .book-online {
        bottom: 28px;
        width: 43px;
        font-size: 0px
    }

    .footer .contact ul li {
        padding-top: 15px;
        padding-bottom: 20px
    }

    .footer .contact ul li img {
        margin-top: 15px
    }

    .footer .connect {
        border-top: solid 1px rgba(255, 255, 255, 0.2);
        padding-top: 15px;
        padding-bottom: 15px
    }

    .footer .copyright {
        padding-top: 10px
    }

}

@media screen and (max-width: 375px) {

    .page-slide a.arow-nav.down,
    .page-slide a.arow-nav.up {
        bottom: 12px;
    }

    a.arow-nav.prev,
    a.arow-nav.next {
        top: calc(50% - 30px) !important;
    }

    .wrap.page.the-gilis a.arow-nav.prev,
    .wrap.page.the-gilis a.arow-nav.next {
        top: calc(50% - 37px) !important;
    }

    .wrap.page.the-gilis .page-slide a.arow-nav.down,
    .wrap.page.the-gilis .page-slide a.arow-nav.up {
        bottom: 13px !important;
    }

    .wrap.page.the-gilis p.just-space {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 320px) {

    .page-slide a.arow-nav.down,
    .page-slide a.arow-nav.up {
        bottom: 9px !important;
    }

    .wrap.page.the-gilis .page-slide a.arow-nav.down,
    .wrap.page.the-gilis .page-slide a.arow-nav.up {
        bottom: 10px !important;
    }

    .g-recaptcha {
        transform: scale(0.8);
        margin-left: -30px !important;
    }

    .footer .copyright>div {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 640px) {
    .popup-plugin .content-middle-pp-text {
        width: 470px;
    }

    .home-slide-container .slick-list,
    .home-slide-container .slick-track{
        height: calc(70vh - 128px);
    }
}


@media screen and (max-width: 550px) {
    .wrap.page.home{
        padding-top: 128px;
    }

    .wrap.wrap-header {
        height: 122px;
    }

    .wrap.page.contact{
        padding-top: 122px;
    }

    .container.header {
        height: 100%;
        margin-left: 0px;
        width: 100%;
    }

    .header .logo {
        position: absolute;
        top: inherit;
        bottom: 16px;
        left: 50%;
        margin-left: -113.5px;
        margin-bottom: 0px;
    }

    .header .logo img {
        width: 227px;
    }

    .menu-mobile {
        width: 100%;
        height: 50px;
        border-bottom: solid 1px #eee;
        border-left: none;
    }

    .body-other-page.hasscrolled.scrolled .menu-mobile,
    .body-other-page.hasscrolled .menu-mobile,
    .body-home.scrolled .menu-mobile,
    .body-home.hasscrolled .menu-mobile,
    .body-home .menu-mobile {
        width: 100%;
    }

    .body-home .menu-mobile {
        border-left: none;
    }


    .book-now-header {
        width: calc(100% - 60px);
        height: 50px;
    }

    .menu-mobile .icon {
        top: 4px;
        left: 16px;
    }

    .menu-mobile-ul ul {
        top: 40%;
    }

    .close-book-now-mobile {
        position: absolute;
        left: inherit;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background-size: 20px;
        background-position: center;
        background-color: transparent;
    }

    .form-book-now {
        padding-top: 40px;
    }

    .book-now-mobile.widget-search {
        height: 845px;
    }

    /*HOME START*/
    .nav-slide-home {
        width: 30px;
        height: 30px;
        background-size: 30px;
        margin-top: -15px;
    }

    .nav-slide-home.next {
        margin-left: calc(100% - 30px);
    }

    .ul-pagging-slide li input[type="button"] {
        width: 5px;
        height: 5px;
        border-radius: 5px;
    }

    .ul-pagging-slide li {
        margin: 0px 8px;
    }

    .ul-pagging-slide {
        bottom: 10px;
    }

    .c-transform h1 {
        font-size: 22px;
        margin-bottom: 20px;
        width: 260px;
    }

    .desc.desc-home {
        font-size: 14px;
    }

    .li-c-transform img:first-child {
        width: 170px;
    }

    .li-c-transform img:nth-child(2) {
        width: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .li-c-transform img:last-child {
        width: 265px;
    }

    .c-transform {
        padding: 60px 0 75px;
        width: 260px;
    }

    .container.why {
        width: 205px;
        padding: 60px 0;
    }

    .home .why ul li {
        width: 100%;
        text-align: center;
    }

    .home .why ul li span {
        width: 100% !important;
        margin: 0 !important;
    }

    .why ul li img {
        margin: 0 0 10px 0 !important;
    }

    .why h1 {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .page.home .container.desc {
        width: 260px;
        padding: 65px 0 45px;
    }

    /*HOME END*/

    /*PAGE START*/
    .wrap.page {
        /* top: 120px; */
        padding-top: 122px;
    }

    .wrap.page .a-ws {
        height: 160px;
    }

    .page-title h1 {
        font-size: 26px;
    }

    .page-title {
        top: 185px;
        max-width: 100%;
    }

    .container.desc-about {
        width: 80%;
    }

    .wrap.page.about .page_detail {
        margin: 30px auto;
        max-width: 95%;
        width: 500px;
    }

    .page-slide-nav{
        margin-top: 8px;
    }

    .page-slide-nav .slick-slide{
        margin: 0 2px;
    }

    a.arow-nav.prev,
    a.arow-nav.next {
        top: calc(50% - 40px);
    }

    .page-slide a.arow-nav.down,
    .page-slide a.arow-nav.up {
        bottom: 12px;
    }

    .wrap.page.about .page-slide {
        margin-top: 0px;
    }

    /*
    .wrap.page.about .page_detail {
        margin: 0px
    }*/

    #bx-pager,
    .page_detail #bx-pager {
        height: auto;
        padding-top: 3px;
        padding-bottom: 0px;
    }

    .wrap.page.about .wrap-container-desc {
        display: none
    }

    #bx-pager a {
        padding: 2px 3px 0;
        width: calc(16.6667% - 5px);
    }

    .gallery-item {
        width: 80%
    }

    .gallery-item a {
        width: calc(50% - 1.5px)
    }

    .gallery-item a:nth-child(3n) {
        margin-right: 3px
    }

    .gallery-item a:nth-child(2n) {
        margin-right: 0px
    }


    .wrap.page .container.desc {
        width: 100%;
        margin-top: 0px
    }

    .wrap.page .container.desc p {
        width: 80%;
        margin: 0 auto
    }

    .page .container.desc ul,
    .page .container.desc ol {
        width: 80%;
        margin: 0 auto;
        padding-left: 35px;
    }


    .wrap.page .container.desc p.image {
        width: 100%;
        margin-bottom: 20px
    }

    .page .desc h2 {
        width: 50%;
        min-width: 270px;
        margin-left: auto;
        margin-right: auto
    }

    .wrap.page .container.desc p {
        font-size: 15px;
    }

    .page-title {
        width: 80%;
        margin-left: 10%;
        left: 0;
    }

    .form-contact input[type="text"],
    .form-contact input[type="email"],
    .form-contact textarea {
        width: calc(100% - 40px);
    }

    .wrap.page.contact .container.desc p {
        margin: 0px;
        width: 100%;
    }

    .wrap.page.the-gilis .page_detail {
        width: 100%;
    }

    .wrap.page.the-gilis .page-slide a.arow-nav.down,
    .wrap.page.the-gilis .page-slide a.arow-nav.up {
        bottom: 20px;
    }

    .wrap.page.the-gilis .page_detail {
        margin-top: 15px;
        margin-bottom: 0px
    }

    .wrap.page.the-gilis .page-slide {
        margin-top: 0px
    }

    .wrap.page.the-gilis .wrap-desc-gray {
        margin-top: 0px
    }

    .wrap.page.the-gilis .wrap-desc-gray .desc h2 {
        margin-left: auto;
        margin-right: auto
    }


    .wrap.page .middle {
        width: 80%
    }

    .wrap.page .middle.middle-image {
        width: 100%
    }

    #tb-rate-desc td {
        width: 100%;
        display: block
    }

    #tb-rate-desc td:last-child ul.li-small-nav {
        margin-left: 0px
    }

    .content-custom {
        padding: 25px 0 15px
    }

    .content-custom:nth-child(2) {
        padding: 0px;
        margin: 0px
    }

    .content-custom:nth-child(2) p {
        margin-bottom: 0px;
        padding-bottom: 0px;
        line-height: 79%;
    }

    .content-custom:nth-child(2) p a {
        display: block
    }

    .content-custom h2 {
        text-align: left !important
    }

    .content-custom h2 {
        font-size: 20px
    }

    #tb-rate-desc {
        margin-top: 0px
    }

    #tb-general-tip td {
        width: 100%;
        display: block
    }

    #tb-general-tip td ul {
        max-width: inherit;
    }

    #tb-general-tip td ul li:before {
        font-size: 25px
    }

    #tb-general-tip td ul li {
        padding-left: 35px
    }

    #tb-general-tip-2 td:first-child {
        display: none
    }

    #tb-general-tip-2 tr:first-child td {
        padding-top: 60px
    }

    #tb-general-tip-2 span {
        line-height: 170%;
        font-size: 15px !important
    }

    #tb-general-tip td ul li {
        font-size: 15px
    }

    #tb-general-tip-2 td h3 {
        font-size: 19px
    }

    #tb-general-tip-2 tr td:last-child {
        padding-top: 25px;
        padding-bottom: 25px
    }

    #tb-general-tip-2 tr:first-child td:last-child {
        padding-top: 60px
    }

    #tb-general-tip-2 {
        margin-left: 0
    }

    .wrap.page.packages-offers .content-custom:first-child .middle {
        width: 80%
    }

    .wrap.page.packages-offers .content-custom:first-child h2 {
        font-size: 18px;
        text-align: center !important;
        margin-bottom: 5px
    }

    .content-custom.list-package .middle {
        padding-top: 50px;
        margin-bottom: 0px
    }

    .wrap.page.packages-offers .content-custom p,
    .wrap.page.packages-offers .content-custom ul {
        line-height: 170%
    }

    .wrap.page.packages-offers .wrap-gallery {
        padding-bottom: 40px
    }

    .wrap.page.packages-offers .wrap-gallery .gallery-item {
        margin: 0px auto 30px
    }


    .accomm-list .desc {
        width: 275px
    }

    #table-accommodation td {
        width: 100%;
        display: block
    }

    .wrap.page .container.desc .accomm-list p {
        width: 100%
    }

    .wrap.page.accommodation .container.desc {
        margin-top: 8px
    }


    .map-canvas {
        height: 210px
    }

    .wrap.page.contact .page-title h1 {
        font-size: 25px;
        margin-bottom: 20px
    }

    .wrap.page.contact .page-title {
        margin-top: 40px
    }

    .form-contact p {
        margin-bottom: 15px !important
    }

    .wrap.page.contact .container.desc {
        padding-top: 20px
    }

    .wrap.page.contact .container.desc {
        width: 100%
    }

    .contact .desc .left {
        width: 80%;
        min-width: 260px;
        margin: 0 auto;
        float: none;
    }

    .g-recaptcha {
        width: 320px;
        margin: 0 auto 20px
    }

    .contact .right .data-contact {
        margin-top: 50px
    }

    #map-canvas {
        height: 195px !important;
    }

    ul.ul-route {
        min-width: 252px;
        max-width: 252px;
        width: 252px
    }

    .ul-route li {
        width: 90px;
        height: 90px
    }

    .ul-route li span {
        margin-top: 38px
    }

    .container.desc ul.ul-route li:nth-child(2n) {
        width: 72px
    }

    .ul-route li:nth-child(3) span {
        margin-top: 27px
    }

    .container.desc ul.ul-route li:nth-child(4) {
        display: none
    }

    .container.desc .ul-route li:nth-child(6) {
        display: block
    }

    .container.desc ul.ul-route li:nth-child(8) {
        display: none
    }

    .page .wrap-desc-gray .wrap-routes-rates h2 {
        width: 100%
    }

    .wrap.page .wrap-desc-gray.wrap-routes .middle {
        width: 100%
    }

    .route tr.tb-title:first-child td:first-child {
        display: none
    }

    .route .tb-schedule.rates tr:nth-child(2) {
        display: none
    }

    .route .tb-schedule.rates h3 {
        text-align: center !important;
        font-weight: 600
    }

    .route .tb-schedule h3 strong {
        font-weight: 400;
        font-family: lato, sans-serif
    }

    .route tr.tb-title:first-child td:last-child {
        padding-bottom: 15px;
        padding-top: 14px;
    }

    .route .tb-schedule.rates tr td {
        display: block;
        padding: 0px 20px
    }

    .route .tb-schedule.rates tr td:first-child {
        padding: 25px 20px 10px;
        font-size: 17px;
        color: #194872;
        font-weight: 700
    }

    .route .tb-schedule.rates tr td:last-child {
        padding-bottom: 20px
    }

    .route .tb-schedule.rates tr td:nth-child(2) {
        font-weight: 600
    }

    .route .tb-schedule.rates tr td:nth-child(2):before {
        content: 'One Way : ';
        font-weight: 400
    }

    .route .tb-schedule.rates tr td:nth-child(3) {
        font-weight: 600
    }

    .route .tb-schedule.rates tr td:nth-child(3):before {
        content: 'Two Way (Return) : ';
        font-weight: 400
    }

    .route tr.tb-title:first-child td:last-child:before {
        content: ''
    }

    .wrap-desc-gray.wrap-routes .middle.text-middle-route {
        width: 280px !important;
        font-size: 15px;
    }

    .route .tb-schedule.sunrise-departure tr td {
        display: block
    }

    .route .tb-schedule.sunrise-departure tr:first-child td {
        display: block;
        width: 100%;
        float: none
    }

    .route .tb-schedule.sunrise-departure tr:nth-child(2) td:first-child {
        width: 100%;
        float: none;
        font-weight: 300;
        padding-bottom: 15px
    }

    .route .tb-schedule.sunrise-departure tr td {
        width: auto !important;
        padding: 0px 0 0 20px;
        float: left
    }

    .route .tb-schedule.sunrise-departure tr td:nth-child(2) {
        clear: both;
        padding-left: 20px;
        padding-bottom: 20px
    }

    .route .tb-schedule.sunrise-departure tr td:nth-child(2):after {
        content: ':';
        margin-right: 5px
    }

    .route .tb-schedule.sunrise-departure tr td:first-child {
        padding-top: 20px;
        padding-bottom: 11px;
        font-size: 17px;
        color: #194772;
        font-weight: 600
    }

    .route .tb-schedule.sunrise-departure tr td:last-child {
        padding-left: 0px
    }

    .route .tb-schedule.sunrise-departure tr:first-child td:first-child {
        padding-top: 10px;
    }

    .route .tb-schedule.sunrise-departure tr:last-child {
        display: none
    }

    p.all-departure-txt {
        width: calc(100% - 20px) !important;
        padding-left: 20px;
    }

    .wrap.page .wrap-desc-gray.wrap-routes .middle:last-child {
        padding-bottom: 0px
    }

    .wrap-desc-gray.wrap-routes .container.desc {
        margin-bottom: 0px
    }

    .wrap.page.route h1 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .wrap-desc-gray.wrap-routes .container.desc {
        padding-top: 35px;
    }

    table.testimonial {
        width: 80%;
        margin: 40px auto
    }

    .wrap.page.testimonial .container.desc p {
        width: 100%;
        margin-bottom: 15px;
    }

    table.testimonial td:last-child {
        padding-bottom: 0px;
    }

    /*table.testimonial td{ margin-bottom:30px}*/
    table.testimonial tr:last-child td {
        margin-bottom: 0px;
    }

    table.testimonial h4,
    table.testimonial h4 span {
        margin-top: 5px;
        line-height: 140%;
        /* font-size: 17px; */
    }

    table.testimonial tr:last-child td:last-child {
        /*display: none;*/
    }

    /*table.testimonial h4{margin-top:20px}	
	table.testimonial h4:last-child{margin-top:0px;}*/

    .wrap.page.success-inquiry .page-title {
        top: 175px;
        margin-left: 10%;
        width: 80%;
    }

    .tb-result.tb-result-one-waytrip td:nth-child(2),
    .tb-result.tb-result-one-waytrip th:nth-child(2) {
        width: inherit !important;
        min-width: 80px;
        padding-right: 5px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:first-child {
        width: inherit !Important;
        max-width: inherit !important;
        min-width: inherit !important;
        padding-right: 5px
    }

    .tb-result.tb-result-one-waytrip td:nth-child(3),
    .tb-result.tb-result-one-waytrip th:nth-child(3) {
        width: inherit;
        min-width: inherit;
        padding-right: 5px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:nth-child(2) {
        width: inherit !Important;
        min-width: inherit;
        padding-right: 5px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(3) td:nth-child(5) {
        padding-right: 10px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(3) td:nth-child(4) {}

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:last-child {
        width: inherit;
        padding-right: 5px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(3) td:nth-child(6) {
        padding-right: 10px
    }

    .wrap.page.accommodation .page-title h1 {
        font-size: 26px;
    }

    .wrap.page.accommodation .a-ws {
        height: 100px;
    }

    .wrap.page.accommodation .page-title {
        top: 160px;
    }

    /*PAGE END*/

    .container.footer {
        height: auto;
        max-height: inherit !important;
        padding-top: 45px;
        width: 100%;
    }

    .footer .menu ul {}

    .footer .menu {
        width: 200px;
        margin: 0 auto;
    }

    .footer .menu ul:first-child {
        width: 100%;
    }

    .footer .menu ul {
        width: 100%;
    }

    .footer .menu ul li a {
        text-align: center;
    }

    .footer .dl-menuwrapper {
        display: none;
    }

    .footer .contact {
        padding-top: 40px;
    }

    .middle-contact {
        width: 240px;
        position: relative;
        margin: 0 auto;
    }

    .footer .contact ul li {
        padding-left: 0px;
    }

    .footer .contact ul li:first-child {
        border-top: solid 1px rgba(255, 255, 255, 0.2);
        padding-top: 15px;
    }

    .footer .contact ul li:first-child span:last-child {
        border-left: none;
        padding-left: 45px;
        padding-top: 12px;
    }

    .footer .contact ul li:first-child span {}

    .footer .contact ul li img {
        margin-top: 0px;
    }

    .footer .contact ul li span,
    .footer .contact ul li a{
        padding-left: 50px;
        margin-left: 0px;
        display: block;
        line-height: 200%;
    }

    .footer .connect ul {
        float: inherit;
        margin: 0;
    }

    .footer .connect span {
        display: none;
    }

    .footer .connect {
        text-align: center;
    }

    .footer .connect ul li {
        margin: 0 30px;
    }

    .footer .copyright>div {
        float: left;
        width: calc(100% - 100px);
        margin-left: 40px;
        text-align: left;
        margin-top: 18px;
    }

    .footer .copyright:after {
        content: "";
        clear: both;
        display: table;
    }

    .footer .copyright .book-online {
        left: calc(100% - 83px);
        margin: 0;
        bottom: 0px;
    }

    .footer .copyright {
        position: relative;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .get-direction {
        margin-left: 50px;
    }


    .popup-plugin .content-middle-pp-text {
        width: 400px;
    }

}


@media screen and (max-width: 400px) {
    .popup-plugin .content-middle-pp-text {
        width: 300px;
    }

    .home-slide-container .slick-list,
    .home-slide-container .slick-track{
        height: calc(50vh - 128px);
    }
}


/*

@media screen and(max-width: 400px){
	.book-now-mobile.widget-search {
	    width: 100% !important;
	    height: 845px;
	}

	.middle-book-now-mobile {
	    width: 100%;
	}

	.form-book-now {
	    width: calc(100% - 60px);
	    max-width: inherit;
	    padding-top: 40px;
	}

	.close-book-now-mobile {
	    position: absolute;
	    left: inherit;
	    right: 10px;
	    top: 10px;
	    width: 30px;
	    height: 30px;
	    background-size: 20px;
	    background-position: center;
	    background-color: transparent;
	}


}*/


@media screen and (max-width: 375px) {

    .tb-result.tb-result-one-waytrip td:nth-child(2),
    .tb-result.tb-result-one-waytrip th:nth-child(2) {
        min-width: inherit
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:first-child {
        font-size: 0px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:first-child:before {
        content: "Dpr";
        font-size: 11px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:nth-child(2) {
        font-size: 0px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:nth-child(2) {
        content: "Arv";
        font-size: 0
    }

    .tb-result.tb-result-one-waytrip {
        font-size: 11px
    }

    .tb-result.tb-result-one-waytrip tr:first-child th:nth-child(3) {
        min-width: inherit !Important
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(2) th:nth-child(2):before {
        .tb-result.tb-result-one-waytrip tr: nth-child(2) th:nth-child(2);
        .tb-result.tb-result-one-waytrip tr: nth-child(2) th:nth-child(2);
        content: "Arv";
        font-size: 12px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(3) td:nth-child(4) {
        padding-right: 5px
    }

    .f-result-availability {
        overflow: hidden;
    }
}

@media screen and (max-width: 320px) {

    .tb-result tr:first-child th:last-child br,
    .tb-result.tb-result-one-waytrip tr:first-child th:last-child span {
        display: none
    }

    .tb-result.tb-result-one-waytrip tr th:first-child,
    .tb-result.tb-result-one-waytrip tr td:first-child {
        .tb-result.tb-result-one-waytrip tr th: first-child, .tb-result.tb-result-one-waytrip tr td:first-child;
        .tb-result.tb-result-one-waytrip tr th: first-child, .tb-result.tb-result-one-waytrip tr td:first-child;
        max-width: 10px !Important;
        min-width: 10px !important;
        width: 10px !important;
        padding-left: 7px;
        padding-right: 3px
    }

    .tb-result.tb-result-one-waytrip th {
        line-height: 120%
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(3) td:nth-child(5) {
        padding-right: 5px;
        max-width: 40px !Important
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(3) td:nth-child(6) {
        padding-right: 5px;
        max-width: 43px
    }

    .tb-result.tb-result-one-waytrip tr:nth-child(3) td:last-child {
        max-width: 50px
    }

    .tb-result tr:first-child th:last-child {
        vertical-align: top;
        padding-top: 9px;
    }

    .wrap.page .wrap-container-desc.page-not-found p {
        width: 90%;
    }
}