* {
    margin: 0;
    padding: 0
}

input,
button,
textarea,
select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0xp;
    border-radius: 0px;
}

img,
fieldset {
    border: 0
}

img {
    height: auto;
    width: auto\9;
    max-width: 100%
}

span,
* {
    outline: 0
}

input:focus {
    outline: none
}

.hidden{
	display: none !important;
}

.error {
    background-color: #E8AEB6 !important;
    border: 1px solid red !important;
    color: #900 !important
}

.btn-submit.succes {
    background: none repeat scroll 0 0 #64AD56 !important;
    color: #FFF !important;
    /* font-size:12px!important; */
    /* font-weight:400!important; */
    /* height:auto!important; */
    /* padding:10px!important; */
    width: 300px !important;
    border-radius: none !important;
    -moz-border-radius: none !important;
    -webkit-border-radius: none !important;
}

.grecaptcha-badge{
    display: none;
}

input.off {
    background-color: #bbb;
    cursor: none
}

a {
    color: #333;
    text-decoration: none;
    outline: none
}

p {
    margin: 0 0 1.2em;
    padding: 0
}

.clear {
    clear: both
}

ul,
ol {
    margin: 1em 0 1.4em 24px;
    padding: 0;
    line-height: 140%
}

li {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4em;
    margin: 20px 0 .4em;
    color: #fff;
    font-family: lato, sans-serif;
    font-weight: 400;
    text-transform: uppercase
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.4em
}

h4 {
    font-size: 1.2em
}

h5 {
    font-size: 1.1em
}

h6 {
    font-size: 1em
}

.middle {
    vertical-align: middle
}

p {
    color: #333;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    ;
    line-height: 100%;
    font-weight: 300
}

.bg-cover {
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important
}

.bg-loader {
    background: url(../images/loading.gif) no-repeat center center !important;
    background-size: 20px 20px !important
}

.ml10 {
    margin-left: 10px !important
}

body {
    position: relative;
    /*font:.81em/150% "Source Sans Pro",sans-serif;*/
    font: 12px/160% 'Lato', sans-serif;
    ;
    font-style: normal;
    color: #777;
    counter-reset: section;
}

.wrap {
    display: block
}

.wrap.blue {
    background: #00468C
}

.container {
    position: relative;
    margin: 0 auto;
    width: 960px;
    font-family: 'Lato', sans-serif;
}

.container p {
    color: #000;
    font-family: 'Lato', sans-serif;
    ;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%
}

.container.desc {
    width: 1078px;
    /* margin-top: 40px; */
}

.wrap-desc-gray {
    background-color: #F7F7F7;
    padding-top: 40px;
    margin-top: 80px;
    padding-bottom: 80px;
}

.page .wrap-desc-gray .desc h2 {
    font-size: 28px;
    margin: 0 0 20px;
    font-weight: 700;
}

/*.page .wrap-desc-gray .desc h2 strong {font-weight: 300;}*/
.container.desc h1 {
    color: #000
}

.page .desc {
    text-align: left;
    padding: 40px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.page .desc h2 {
    color: #444;
    font-weight: 400;
    margin: 0 0 1.8em;
    font-size: 28px;
    text-transform: inherit;
}

.page .desc p {
    color: #777
}

.page .container.desc ul,
.page .container.desc ol {
    color: #777;
    text-align: justify;
}

.wrap.page .container.desc {
    margin-top: 40px;
    margin-bottom: 60px;
}


.a-ws {
    height: 380px;
}

.c-widget-search {
    background: url(../images/page-route.jpg) no-repeat center center
}

.wrap.page.why-amed .c-widget-search {
    background: url(../images/why-amed.jpg) no-repeat center center
}

.wrap.page.the-gilis .c-widget-search {
    background: url(../images/the-gilis.jpg) no-repeat center center
}

.wrap.page.transport .c-widget-search {
    background: url(../images/transport_new_bg.jpg) no-repeat center center
}

.wrap.page.general-tips .c-widget-search {
    background: url(../images/general-tips.jpg) no-repeat center center
}

.wrap.page.packages-offers .c-widget-search {
    background: url(../images/package_bg.jpg) no-repeat center center
}

.overlay {
    display: none;
    z-index: 200;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.80)
}

#popup-ws {
    display: none;
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    z-index: 201;
    background: rgba(27, 127, 167, 0.70);
    border-radius: 4px
}

#popup-ws .widget-search-2 {
    padding: 20px;
    position: relative
}

#popup-ws .close-popup {
    position: absolute;
    top: -10px;
    right: -10px
}

.wrap-header-container {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    background: #fff;
}

.container.header {
    width: calc(100% - 50px);
    margin-left: 50px;
}

.header {
    height: 75px
}

.header .logo {
    display: inline-block;
    margin: 20px 0
}

.header .logo a {
    display: inline-block
}

.header .logo img {
    max-width: 360px;
    max-height: 36px
}

.header .contact {
    float: right;
    margin: 30px 50px 0 0;
    right: 300px;
}

.header .contact a {
    display: inline-block;
    margin-left: 50px;
    padding-left: 40px;
    color: #555353;
    font-size: 12.5px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 140%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /* background-size:20px 21px; */
    -moz-background-size: 20px 21px;
    /* -webkit-background-size:20px 21px; */
    height: 37px;
    margin-right: 15px;
    padding-top: 1px;
    font-family: lato, sans-serif;
}

.header .contact .phone {
    background-image: url(../images/icon-ph-1.png)
}

.header .contact .email {
    background-image: url(../images/icon-em-1.png)
}

body.body-home .header .contact {
    right: 0px;
}



.wrap.white {
    border-top: solid 1px #EEEEEE;
    position: relative;
}

.wrap.white:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    right: 0;
    height: 6px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.container.top-menu {
    width: calc(100% - 100px);
    height: 53px;
}

.book-now-header {
    width: 240px;
    height: 71px;
    background: #00A2D9;
    border: none;
    float: right;
    position: absolute;
    top: 0;
    left: inherit;
    right: 0;
    font-size: 16px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
}

.book-now-header-desktop {
    position: absolute;
    top: 0px;
    right: 0;
    width: 170px;
    height: 70px;
    background: #00A2D9;
    border: none;
    color: #fff;
    font-size: 16px;
}

.body-home .menu-mobile {
    width: 0px;
    position: relative;
    overflow: hidden;
    border-left: none;
}

.body-home.hasscrolled .menu-mobile {
    animation-name: header_home_animate_hide;
    animation-duration: 600ms;
    width: 0px;
}

.menu-mobile {
    float: right;
    width: 239px;
    height: 100%;
    border-left: solid 1px #DDDDDD;
}


@keyframes header_home_animate_hide {
    0% {
        width: 320px;
    }

    100% {
        width: 0px;
    }
}

.body-home.scrolled .menu-mobile {
    animation-name: header_home_animate_show;
    animation-duration: 600ms;
    width: 320px;
    border-left: solid 1px #DDDDDD;
}

@keyframes header_home_animate_show {
    0% {
        width: 0px;
    }

    100% {
        width: 320px;
        border-left: solid 1px #DDDDDD;
    }
}

.body-other-page.hasscrolled .menu-mobile {
    animation-name: header_animate_hide;
    animation-duration: 600ms;
    width: 239px;
}

@keyframes header_animate_hide {
    0% {
        width: 320px;
    }

    100% {
        width: 239px;
    }
}

.body-other-page.hasscrolled.scrolled .menu-mobile {
    animation-name: header_animate_show;
    animation-duration: 600ms;
    width: 320px;
}

@keyframes header_animate_show {
    0% {
        width: 239px;
    }

    100% {
        width: 320px;
    }
}





body .container.top-menu {
    height: 53px;
    /*overflow:hidden;*/
}

body.hasscrolled .container.top-menu {
    height: 53px;
    animation-name: header_menu_animate_show;
    animation-duration: 600ms;
    overflow: inherit;
}

@keyframes header_menu_animate_show {
    0% {
        height: 0px;
        overflow: hidden;
    }

    100% {
        height: 53px;
        overflow: inherit;
    }
}

body.scrolled .container.top-menu {
    height: 0px;
    animation-name: header_menu_animate_hidden;
    animation-duration: 600ms;
    overflow: hidden;
}

@keyframes header_menu_animate_hidden {
    0% {
        height: 53px;
    }

    100% {
        height: 0px;
    }
}

body.scrolled .menu-mobile .icon {
    z-index: 1;
    animation-name: menu_mobile_show;
    animation-duration: 800ms;
}

@keyframes menu_mobile_show {
    0% {
        z-index: -1;
    }

    100% {
        z-index: 1;
    }
}


.menu-mobile-ul:before {
    content: "";
    display: block;
    border-top: solid 4px rgba(221, 221, 221, 0.49);
}

.menu-mobile-ul {
    position: absolute;
    z-index: 9999;
    background: #fff;
    width: 100%;
    height: 0;
    /* border-top:4px solid #eee; */
    overflow: hidden;
    /* display: none; */
}

.menu-mobile-ul ul {
    width: 100%
}

.menu-mobile-ul ul {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    position: relative;
    top: 50%;
    margin-top: -150px;
}

.menu-mobile-ul ul li {
    list-style-type: none;
    height: 12.5%
}

.menu-mobile-ul ul li a {
    font-size: 15px;
    font-weight: 500;
}




/*



@keyframes header_animate_hide{
	0%{width: 320px;}
	100%{width: 239px;}
}

body.hasscrolled.scrolled .menu-mobile{animation-name: header_animate_show; animation-duration: 600ms;width: 320px;}
@keyframes header_animate_show{
	0%{width: 239px;}
	100%{width: 320px;}
}*/




.top-menu>ul,
.top-menu>ul li {
    position: relative;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 0
}

.top-menu>ul:before,
.top-menu>ul:after {
    content: "";
    clear: both;
    display: table;
}

.top-menu>ul li {
    display: inline-block;
    width: 11.111%;
    /*float: left;*/
}

.top-menu>ul li:hover,
.top-menu>ul li.selected {
    /* background: url(../images/bg-hover-1.png) repeat-x center bottom; */
}

.top-menu>ul li a:hover {
    color: #194772;
}

.top-menu>ul li a:hover:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    height: 6px;
    background: #00A2D9;
    z-index: 3;
}

.top-menu>ul li a {
    display: block;
    padding: 0 10px;
    height: 53px;
    line-height: 53px;
    color: #545454;
    font-size: 12px;
    font-weight: 600;
    width: auto;
    float: left;
    position: absolute;
}

.top-menu>ul li ul {
    width: 200px;
    margin: 0;
    position: absolute;
    top: 40px;
    background: #00468C;
    z-index: 9999;
    display: none;
    padding-top: 4px
}

.top-menu>ul li:hover ul {
    display: block
}

.top-menu>ul li ul li {
    width: 200px;
    text-align: left
}

.top-menu>ul li ul li:hover {
    background-image: none;
    background-color: #1B7FA7
}

.top-menu>ul li:last-child a {
    /* float: right; */
    /* margin-right: -10px; */
    right: 15px;
}

.top-menu>ul li:nth-child(2) a {
    left: 0px;
}

.top-menu>ul li:nth-child(3) a {
    left: 30px;
}

.top-menu>ul li:nth-child(4) a {
    left: 30px;
}

.top-menu>ul li:nth-child(5) a {
    left: 30px;
}

.top-menu>ul li:nth-child(6) a {
    left: 60px;
}

.top-menu>ul li:nth-child(7) a {
    left: 97px;
}

.top-menu>ul li:nth-child(8) a {
    left: 70px;
}

.top-menu>ul li:first-child a {
    margin-left: -10px;
}

.body-about li:first-child a:after,
.body-route li:nth-child(2) a:after,
.body-why-amed li:nth-child(3) a:after,
.body-the-gilis li:nth-child(4) a:after,
.body-transport li:nth-child(5) a:after,
.body-accommodation li:nth-child(6) a:after,
.body-general-tips li:nth-child(7) a:after,
.body-gallery li:nth-child(8) a:after,
.body-packages-offers li:nth-child(9) a:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    height: 6px;
    background: #00A2D9;
    z-index: 3;
}



.body-about.hasscrolled li:first-child a:after,
.body-route.hasscrolled li:nth-child(2) a:after,
.body-why-amed.hasscrolled li:nth-child(3) a:after,
.body-the-gilis.hasscrolled li:nth-child(4) a:after,
.body-transport.hasscrolled li:nth-child(5) a:after,

.body-general-tips.hasscrolled li:nth-child(7) a:after,
.body-gallery.hasscrolled li:nth-child(8) a:after,
.body-packages-offers.hasscrolled li:nth-child(9) a:after {
    opacity: 1;
    animation-name: show_hover_menu;
    animation-duration: 3s;
}

.body-accommodation.hasscrolled li:nth-child(6) a:after {
    opacity: 1;
    animation-name: show_hover_menu;
    animation-duration: 7s;
}

@keyframes show_hover_menu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.body-about.scrolled li:first-child a:after,
.body-route.scrolled li:nth-child(2) a:after,
.body-why-amed.scrolled li:nth-child(3) a:after,
.body-the-gilis.scrolled li:nth-child(4) a:after,
.body-transport.scrolled li:nth-child(5) a:after,
.body-accommodation.scrolled li:nth-child(6) a:after,
.body-general-tips.scrolled li:nth-child(7) a:after,
.body-gallery.scrolled li:nth-child(8) a:after,
.body-packages-offers.scrolled li:nth-child(9) a:after {
    opacity: 0;
    animation-name: hidden_hover_menu;
    animation-duration: 600ms;
}

@keyframes hidden_hover_menu {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}






.footer {
    position: relative;
    /* min-height:360px */
    max-height: 500px;
    height: 500px;
    font-weight: 500;
}

.container.footer {
    width: 1336px;
    padding-top: 46px;
}

.footer .menu {
    vertical-align: top;
    width: calc(100% - 309px);
    height: 380px;
}

.footer .menu ul {
    margin: 30px 60px 0 0;
    display: inline-table;
}

.footer .menu ul:first-child {
    width: 520px;
}

.footer .menu ul li {
    margin: 0;
    list-style: none
}

.footer .menu ul li a {
    display: block;
    color: #DEE3F3;
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
}

.footer .menu .dl-menu li a {
    line-height: 100%
}

.footer .social-network {
    float: right;
    margin: 30px 0;
    overflow: hidden
}

.footer .social-network ul {
    margin: 0
}

.footer .social-network ul li {
    list-style: none;
    line-height: 180%;
    margin-bottom: 4px;
    padding: 0 15px
}

.footer .social-network .border {
    border-bottom: 1px solid #4E6A98;
    border-top: 1px solid #4E6A98;
    height: 44px
}

.footer .social-network .border a {
    display: inline-block;
    margin: 12px 10px 0 0
}

.footer .social-network a {
    color: #DEE3F3;
    font-size: 16px;
    font-weight: 600
}

.footer .social-network img {
    vertical-align: middle;
    min-height: 16px
}

.footer .contact {
    margin-top: 20px;
    /* border-top:1px solid #4E6A98; */
    /* border-bottom:1px solid #4E6A98; */
    /* background-image:url(../images/logo-2.png); */
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 201px 48px;
    -moz-background-size: 201px 48px;
    -webkit-background-size: 201px 48px;
    /* float: left; */
    display: inline-block;
    width: 305px;
}

.footer .contact a {
    color: #DEE3F3
}

.footer .contact ul {
    margin: 0;
    padding: 10px 0;
}

.footer .contact ul li {
    list-style: none;
    line-height: 140%;
    color: #DEE3F3;
    font-size: 16px;
    font-weight: 500;
}

.footer .contact img {
    margin-right: 8px
}

.footer .copyright {
    padding: 15px 0 45px;
    color: #fff;
    font-size: 14px;
    /* font-weight:200; */
}

.footer .copyright .book-online {
    position: absolute;
    bottom: 25px;
    right: 0px;
    width: 138px;
    height: 38px;
    /* background-color:#F2B731; */
    background-image: url(../images/book-online.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    -moz-background-size: inherit;
    -webkit-background-size: inherit;
    color: #fff;
    padding-top: 20px;
    /* font-weight: 300; */
    font-size: 15px;
}

.get-direction {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    display: block;
    width: 148px;
    margin-left: 40px;
    background: url(../images/location-white.png) no-repeat, url(../images/nav-small-white.png) no-repeat;
    background-position: left 5px, right 6px;
    background-size: 9px, 17px;
    padding-left: 20px;
}


.vegas-timer {
    opacity: 0;
}

.page-title {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 250px;
    width: 800px;
    max-width: 80%;
    left: 50%;
    margin-left: -400px;
    text-align: center;
}

.page-title h1 {
    font-family: 'Lato', sans-serif;
    ;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    text-transform: inherit;
}

.a-ws {
    position: relative
}

.wrap.home .a-ws{
    height: auto !important;
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
}

.widget-search {
    position: absolute;
    padding: 10px 45px;
    bottom: -20px;
    left: 0;
    right: 0;
    max-height: 222px;
    height: 222px;
/*    background: #fff;*/
    background-color: rgba(255,255,255,0.8);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.widget-search .title,
.widget-search-2 .title {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
}

.widget-search label,
.widget-search-2 label {
    margin: 0 15px 0 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-size: 16px !important;
    /* text-transform: uppercase; */
}

.widget-search .row,
.widget-search-2 .row {
    margin-bottom: 20px;
    font-size: 0;
    /* border-bottom: solid 1px #EEEEEE; */
}

.widget-search .row.left {
    text-align: left
}

.widget-search .row:first-child {
    border-bottom: solid 1px #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.widget-search .col,
.widget-search-2 .col {
    display: inline-block
}

.widget-search .c-select,
.widget-search-2 .c-select {
    position: relative;
    display: inline-block
}

.trigger-location {
    display: block !important;
    height: 37px;
    position: absolute;
    top: 32px;
    width: 258px;
    cursor: pointer;
}

.option-location {
    position: absolute;
    display: none;
    margin: 0;
    left: 0px;
    top: 28px;
    width: calc(100% - 2px);
    color: #545454;
    font-size: 14px;
    border: none;
    background: #fff;
    border-radius: 0 0 3px 3px;
    z-index: 100;
    border: solid 1px rgba(25, 72, 114, 0.47);
    border-top: none;
}

.c-select:last-child .option-location {
    width: calc(100% - 1px);
}

.option-location li {
    padding: 5px 0;
    cursor: pointer;
    list-style: none;
    text-indent: 10px;
    border-bottom: solid 1px rgba(25, 72, 114, 0.47);
}

.option-location li:last-child {
    border: none
}

.option-location li:hover,
.option-location li.selected {
    color: #fff;
    background: #FC5B27
}

.radio {
    line-height: 0;
    margin: 0;
}

.radio input[type=radio] {
    position: absolute;
    opacity: 0;
}

.radio input[type=radio] + .radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #00A2D9;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    margin-right: 0;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type=radio]:checked + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    background-color: #00A2D9;
}

.radio input[type=radio]:focus + .radio-label:before {
    border-color: #00A2D9;
    outline: none;
}

.radio input[type=radio]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type=radio] + .radio-label:empty:before {
    margin-right: 0;
}

.check {
    display: inline-block;
    height: 30px;
    width: 45px;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
}

.check__check {
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.check__check:checked~.check__indicator {
    background: #7befb2;
}

.check__check:checked~.check__indicator:after {
    transform: translate(15px, 0);
}

.check__check,
.check__indicator {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

.check__indicator {
    background: #00A2D9;
    transition: background 0.25s ease;
    border-radius: 15px;
    overflow: hidden;
}

.check__indicator:after {
    height: 20px;
    width: 20px;
    background: #fff;
    content: '';
    position: absolute;
    border-radius: 100%;
    top: 5px;
    left: 5px;
    transition: transform 0.25s ease;
    background: #FFFFFF;
}

.widget-search input[type="radio"] {
    display: none;
    opacity: 0;
}

.widget-search input[type="radio"]+label {
    color: #194772;
    font-family: 'Lato', sans-serif;
    ;
    font-size: 14px;
}

.widget-search input[type="radio"]+label span {
    display: inline-block;
    width: 14px;
    height: 16px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 35px;
    background-image: url(../images/radio.png);
    background-position: -19px 0;
    cursor: pointer;
}

.widget-search input[type="radio"]:checked+label span {
    background-image: url(../images/radio.png);
    background-position: -2px 0
}

.widget-search input[type=text],
.widget-search-2 input[type=text] {
    margin: 0 10px;
    height: 36px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    ;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* background-image:url(../images/booking-icon.png); */
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 52px 254px;
    -moz-background-size: 52px 254px;
    -webkit-background-size: 52px 254px;
    border: solid 1px rgba(25, 72, 114, 0.47);
    color: #545454;
}

.widget-search .c-select p {
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 0px;
    margin-left: 5px;
}

.widget-search input[type=text].txtadult {
    width: 160px;
    margin-right: 21px !important;
}

.widget-search input[type=text].txtinfant {
    width: 160px;
}


input[type=text].ml0 {
    margin-left: 0
}

input[type=text].mr0 {
    margin-right: 0
}

.txt220 {
    width: 220px
}

.txt200 {
    width: 200px
}

.txt140 {
    width: 140px
}

.txtfrom {
    background-position: 2px 2px
}

.txtto {
    background-position: 2px -72px
}

.txtdate {
    background-position: 2px -146px
}

.txtdate.off {
    background-color: #eee !important
}

.form-book-now .txtdate.off{
    background-color: #777 !important
}

.txtadult {
    background-position: 2px -35px
}

.txtchild {
    background-position: 2px -109px
}

.txtinfant {
    background-position: 2px -183px
}

.btn-submit-ca,
.f-result-availability input[type=submit] {
    float: right;
    width: 422px;
    height: 35px;
    cursor: pointer;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    background: #194872;
    border: none;
    border-radius: 3px;
    /* -webkit-box-shadow:0 3px 0 0 #B14D2E; */
    /* box-shadow:0 3px 0 0 #B14D2E; */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    text-transform: uppercase;
}

.home .c-widget-search {
    background: #000;
    position: relative;
    height: calc(100vh - 124px);
}

/*body .vegas-container {height: 100% !important; width: 100%;    position: absolute;}*/
.nav-slide-home {
    width: 50px;
    height: 50px;
    background: url('../images/nav-slide-big.jpg') no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px;
    cursor: pointer;
}

.nav-slide-home.next {
    left: inherit;
    right: 0;
    margin-left: calc(100% - 50px);
    transform: rotate(180deg)
}

.home .a-ws {
    height: 578px;
    width: 1080px;
}

.c-why {
    margin-top: 3px;
    height: 346px;
    background: url(../images/bg-c-why.jpg) no-repeat center center
}

.container.why {
    width: 1336px;
}

.why {
    position: relative;
    padding: 100px 0;
    color: #2B557A;
}

.why h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-transform: inherit;
    margin: 0px 0px 100px 0;
    color: #2B557A;
}

.why h2 {
    color: #2D4F66;
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: none
}

.why ul {
    margin: 0;
    font-size: 0;
    text-align: center
}

.why ul li {
    display: inline-block;
    margin: 20px;
    width: 190px;
    list-style: none;
    line-height: 160%;
    color: #2B557A;
    font-size: 15px;
    font-weight: 600;
    vertical-align: top;
    /* font-family: lato,sans-serif; */
}

.why ul li img {
    margin-bottom: 20px;
    max-width: 150px;
    width: auto;
}

.why ul li span {
    display: block;
    text-align: center;
}

.home .desc {
    padding: 135px 20px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 1075px;
}

.home .desc p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
    color: #666666;
}

.page.home .container.desc {
    padding: 90px 0 50px;
}

.about .c-widget-search {
    background: url(../images/page-about.jpg) no-repeat center center
}

/*.about .a-ws{height: 380px;}*/
.about .widget-search {
    bottom: 30px
}

.about .desc {
    padding: 40px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.route {
    text-align: center
}

.route .c-widget-search {
    background: url(../images/page-route.jpg) no-repeat center center
}

.route .a-ws {
    height: 280px
}

.about .widget-search {
    bottom: 30px
}

.route .desc {
    padding: 40px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.route .desc h1 {
    margin: 0;
    color: #194872;
    font-size: 40px;
    text-transform: none;
    font-weight: 300;
    margin-bottom: 45px;
}

.route .label-route {
    color: #000;
    font-size: 18px;
    font-weight: 600
}

.route .tb-title {
    padding: 4px 0;
    text-align: center;
    background: #4B699F
}

.route .tb-title h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 800
}

.route .tb-title p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300
}

.route .tb-schedule {
    margin: 0;
    width: 100%;
    color: #777777;
    font-size: 16px;
    font-weight: 300;
    border-bottom: solid 1px #DDDDDD;
}

.route .tb-title {
    font-size: 16px;
    font-weight: 300;
}

.route .tb-schedule tr:nth-child(2n + 1) {
    background: #fbfbfb;
}

.route .tb-schedule tr {
    background: #F4F4F4;
}

.route .tb-schedule tr td {
    padding: 15px 0;
}

.route .tb-schedule tr td:first-child {
    padding: 15px 0 15px 60px;
}

.route .tb-schedule tr:nth-child(2) td:first-child {
    padding: 5px 0 15px 0px;
}

.route .tb-schedule tr:nth-child(2) td {
    padding-top: 5px;
}

.route tr.tb-title:first-child td:first-child {
    width: 450px;
    padding-top: 15px;
    padding-left: 60px;
    margin-right: 0px;
    vertical-align: top;
}

.route tr.tb-title:first-child td:last-child {
    width: auto;
    padding-bottom: 0px;
}

.route .tb-schedule h3 {
    font-size: 22px;
    font-weight: 300;
    margin: 0px;
}

.route .tb-schedule h3 strong {
    font-weight: 300;
}

.route .tb-schedule.sunrise-departure tr td:first-child {
    width: 510px;
}

.route .tb-schedule.sunrise-departure tr:first-child td:first-child {
    padding-left: 0px;
    padding: 15px 0 5px;
}

.route .tb-schedule.sunrise-departure tr:nth-child(2) td:first-child {
    padding-top: 0px;
    padding-bottom: 18px;
}

.middle.text-middle-route {
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
}

/*.tb-schedule tr:nth-child(odd){background: #FBFBFB;}
.tb-schedule tr:nth-child(even){background: #F4F4F4;}
.tb-schedule tr:last-child td{text-align:left;font-size:20px;font-weight:700}
.tb-schedule td{padding:8px 15px;width:33.33%;}
.tb-schedule td:nth-child(even){text-indent:100px}
.tb-schedule td:last-child{text-align:right}
.tb-schedule.rates tr:last-child td{font-weight:400}
.tb-schedule.rates td:nth-child(even){text-indent:0}
.tb-schedule.rates td{width:auto;}
.tb-schedule.rates h3{margin:0;font-size: 20px;font-weight: 300;}*/





/*.contact .c-widget-search{background:url(../images/page-about.jpg) no-repeat center center;background-size:cover!important;-moz-background-size:cover!important;-webkit-background-size:cover!important}
.contact .a-ws{height:280px}
.contact .widget-search{bottom:30px}*/


.wrap.page.contact .a-ws {
    display: none;
}

.contact .c-widget-search {
    background: none;
}


.contact .desc {
    font-size: 0;
    padding: 40px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.contact .desc .left,
.contact .desc .right {
    width: 305px;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
}

.contact .desc .left {
    padding-right: 10px
}

.contact .desc .right {}

.wrap.page.contact {
    background: #F4F4F4;
    padding-bottom: 80px;
    padding-top: 124px;
    top: inherit;
}

.wrap.page.contact .page-title {
    position: relative;
    color: #194772;
    top: inherit;
    left: inherit;
    margin: 70px 0 0;
    width: 100%;
}

.wrap.page.contact .page-title h1 {
    color: #194772;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.wrap.page.contact .page-title:after {
    content: "";
    display: block;
    width: 165px;
    border-top: solid 1px #BBBBBB;
    left: 50%;
    position: relative;
    margin-left: -82.5px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.form-contact {
    position: relative
}

.form-contact span {
    display: block
}

.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact textarea {
    border: medium none;
    background: #fff;
    width: 480px;
    /* border-radius:5px; */
    -moz-border-radius: 5px;
    /* -webkit-border-radius:5px; */
    /* box-sizing:border-box; */
    -moz-box-sizing: border-box;
    /* -webkit-box-sizing:border-box; */
    height: 50px;
    /* text-indent: 25px; */
    font-size: 16px;
    font-weight: 300;
    font-family: lato, sans-serif;
    padding: 0 20px;
}

.form-contact input[type="text"],
.form-contact input[type="email"]{
    /* height:32px; */
    /* text-indent:10px; */
}

.form-contact textarea {
    padding: 10px 20px;
    height: 130px;
    resize: none;
}

.form-contact input.txtchapta {
    display: inline-block;
    width: 110px;
    height: 34px;
    vertical-align: middle;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0
}

.form-contact img {
    vertical-align: middle;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px
}

.form-contact .btn-submit {
    cursor: pointer;
    width: 220px;
    height: 50px;
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    font-family: lato, sans-serif;
    background: #00A2D9;
    /* border-radius:5px; */
    -moz-border-radius: 5px;
    /* -webkit-border-radius:5px; */
    /* box-sizing:border-box; */
    /* -webkit-transition:all 300ms linear; */
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    /* transition:all 300ms linear; */
}

.form-contact .btn-submit:hover {
    background: #00A2D9;
}

.wrap.page.contact .container.desc {
    width: 990px;
    padding-bottom: 80px;
    margin-bottom: 0px;
}

.form-contact p {
    margin-bottom: 30px;
}

.g-recaptcha {
    margin-bottom: 30px;
}


.contact .desc .right {
    float: right;
}

.map {
    margin-top: 28px
}

.data-contact {
    margin: 0
}

.data-contact li {
    margin: 10px 0;
    list-style: none;
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    border-bottom: solid 1px rgba(85, 85, 85, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
}

.data-contact li:first-child {
    padding-top: 0px
}

.data-contact li:last-child {
    border-bottom: none;
}

.data-contact li span,
.data-contact li a{
    display: block;
    margin-left: 60px;
    line-height: 160%;
    margin-bottom: 10px;
    color: #555555;
}

.data-contact li img {
    float: left;
}

.notify p {
    color: red !important;
}

.data-contact img {
    margin-bottom: -5px
}

.right .sosmed {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    font-size: 16px;
    height: 36px
}

.right .sosmed a {
    margin-right: 5px;
    vertical-align: middle
}

.right .sosmed img {
    vertical-align: middle
}

#blogContent {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400
}

#blogContent .left,
#blogContent .right {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    _background: #eee
}

#blogContent .left {
    width: 660px;
    padding-right: 40px;
    border-right: 1px solid #ccc
}

#blogContent .right {
    width: 220px;
    margin-left: 40px
}

.page #blogContent p {
    font-size: 16px
}

.page #blogContent h2 {
    margin: 10px 0
}

.page #blogContent a {
    color: #1B7FA7 !important
}

.page #blogContent a:hover {
    text-decoration: underline
}

#blogContent .oneBlog {
    margin-bottom: 50px
}

#blogContent .oneBlog .meta {
    background: none repeat scroll 0 0 #EEE;
    margin: 10px 0;
    padding: 2px 5px
}

#blogContent .oneBlog .meta .post-date {
    display: inline-block;
    position: absolute;
    right: 5px
}

#blogContent .oneBlog .content {
    font-size: 14px
}

#blogContent .oneBlog .content h2 {
    font-size: 16px;
    font-weight: 700
}

#portfolioNavigation a {
    display: inline-block;
    margin-right: 2px;
    padding: 0 6px;
    background: #eee;
    border: 1px solid #ddd
}

#portfolioNavigation a:hover {
    background: #FC5B27
}

#justAnotherSearchForm input[name="sKey"] {
    text-indent: 5px;
    height: 24px;
    width: 214px;
    border: 1px solid #ddd;
    background-color: #eee;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 98.5% center;
    background-size: 16px;
    -moz-background-size: 20px;
    -webkit-background-size: 20px
}

#justAnotherSearchForm .submitSearch {
    display: inline-block;
    height: 24px;
    margin-left: -20px;
    width: 24px
}

.cat_list a {
    font-size: 16px;
    font-weight: 600
}

.accommodation_detail,
.page_detail {
    margin: 40px auto
}

.accommodation-slide,
.page-slide {
    margin: 40px 0;
    /* background:#ddd; */
    position: relative;
    overflow: hidden;
    /* height:527px */
}

.page-slide {
    margin-bottom: 0
}

.accommodation-slide .bx-wrapper,
.page-slide .bx-wrapper {
    width: 100%;
	border: 0;
    margin: 0;
}

.bx-wrapper .bx-viewport {
    float: left;
    border: none;
    box-shadow: none;
    left: 0;
    background: #000
}

.bx-wrapper .bx-viewport ul {
    margin: 0;
    padding: 0
}

.bx-wrapper .bx-viewport ul li {
    background: #000
}

.bx-wrapper .bx-viewport ul li a {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bx-wrapper .bx-viewport ul li a img {
    /* position:absolute; */
    /* padding:0; */
    /* margin:0; */
    /* border:none; */
}

#bx-pager {
    float: left;
    /* width:160px; */
    /* padding:5px 0; */
}

#bx-pager a {
    display: block;
    padding: 5px 6px 0;
    width: calc(16.6667% - 10px);
    /* display: inline-table; */
    float: left;
}

#bx-pager a img {
    width: 100%
}

#bx-pager a:first-child {
    padding-left: 0px;
}

#bx-pager a:nth-child(6n) {
    padding-right: 0px;
}

.container.accommodation {
    width: 100%;
    margin-top: 20px;
}

.page_detail #bx-pager {
    min-width: 100%;
    margin-left: 0;
    padding: 5px 0;
    max-height: 110px;
}

.accommodation-slide a.arow-nav,
.page-slide a.arow-nav {
    top: 0;
    right: 50px;
    padding: 0;
    position: absolute;
    width: 52px;
    height: 52px;
    z-index: 990;
    background: url('../images/nav-bxslider.png') no-repeat;
    cursor: pointer;
}

.accommodation-slide a.arow-nav.up,
.page-slide a.arow-nav.up {
    /* top:auto; */
    /* bottom:0; */
    /* background-position:-60px 0 */
}

.page-slide a.arow-nav {
    right: 40px
}

.inquiry-btn {
    cursor: pointer;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    display: block;
    width: 250px;
    height: 46px;
    line-height: 46px;
    background-color: #FFBF00;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
}

.accomm-attach {
    overflow: hidden;
    width: 100%;
    height: 555px;
    background: #000;
    position: relative;
}

.accomm-attach a {
    display: block;
    line-height: 0
}

/*.accomm-list{float:left;margin: 0px;width: calc(50% - 0.5px);border-right: solid 1px #DDDDDD;padding-bottom: 80px;}*/
.accomm-list:nth-child(2n) {
    margin-right: 0px;
    /* margin-left:0.5px; */
    border-right: none;
}

.accomm-list h2 a {
    /* color:#FFF */
}

.accomm-list h2 {
    /* padding:10px; */
    margin: 100px 0 0 0;
    /* background:#1B7FA7; */
    /* border-bottom:3px solid #2D4F66; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #545454;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

.accomm-list .desc {
    width: 690px;
    margin: 0 auto;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}

.accomm-list .visit {
    display: block;
    width: 180px;
    height: 35px;
    background: #00A2D9;
    border-radius: 4px;
    /* margin: 40px auto 0; */
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    bottom: 100px;
}

.accomm-list .desc p {
    font-size: 17px
}

.wrap.page.accommodation .container.desc {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    padding-top: 0px;
}

#table-accommodation td {
    width: 50%;
    border-right: solid 1px #eee;
    vertical-align: top;
    padding-bottom: 180px;
    position: relative;
}

#table-accommodation td:last-child {
    border-right: none;
}

#table-accommodation .accomm-list h2 {
    margin-bottom: 20px;
    margin-top: 70px;
    font-size: 22px;
    font-weight: 600;
}

.tooltip {
    display: none;
    border-radius: 5px;
    position: absolute;
    background: #FC5B27;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    padding: 5px 10px;
    left: 50px;
    top: -28px
}

.tooltip:before {
    position: absolute;
    border: solid;
    bottom: -6px;
    z-index: 99;
    content: "";
    border-color: #FC5B27 transparent;
    border-width: 6px 6px 0;
    left: 5%
}

.terms_link,
.info-link {
    color: #1B7FA7
}

.terms_link:hover,
.info-link:hover {
    text-decoration: underline
}

.container.desc ul {
    font-size: 18px;
    color: #000;
    list-style: square
}

.container.desc ul li {
    padding-left: 5px
}

.container.desc .page_detail ul li {
    padding-left: 0
}

.page-header {
    margin-bottom: 15px
}

.f-result-availability input[type=submit] {
    float: none;
    width: 225px
}

.txtlocation {
    background: url('../images/location.png');
    background-size: 11px !important;
    background-position: 96%;
}

.txtdate {
    background: url('../images/calendar.png');
    background-size: inherit !important;
    background-position: 96%;
}

.col-bottom-search span {
    position: absolute;
    z-index: 99;
    width: 60px;
    height: 26px;
    background: #00A2D9;
    border-radius: 4px 0 0 4px;
    color: #fff;
    font-size: 14px;
    padding: 10px 0 0 0;
    line-height: 100%;
    text-align: center;
}

span.lbl-adult {
    left: 0;
}

.col.col-bottom-search {
    position: relative;
}

.widget-search input[type=text].txtadult {
    padding-left: 70px;
}

.widget-search input[type=text].txtchild {
    padding-left: 60px;
    margin-right: 21px !important;
    width: 160px;
}

.widget-search input[type=text].txtinfant {
    padding-left: 60px;
}


.c-transform h1 {
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    color: #2B5379;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
    text-transform: inherit;
}

.c-transform .desc {
    padding: 0px;
    text-align: center;
    margin: 0 auto;
}

.c-transform {
    padding: 160px 0 170px;
}

.c-transform {
    display: none;
}

.desc.desc-home {
    font-size: 20px;
}

.li-c-transform {
    width: 1280px;
    margin: 110px auto 0;
}

.li-c-transform img:first-child {
    margin-right: 70px;
}

.li-c-transform img:nth-child(2) {
    margin-right: 48px;
}

.wrap.page.home .page-title {
    display: none;
}

.home .c-why {
    margin-top: 0px;
}

.clearfix:before {
    content: "";
    display: block;
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


.footer .contact ul li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    padding-bottom: 15px;
    padding-top: 10px;
}

.footer .contact ul li:first-child span {}

.footer .contact ul li span,
.footer .contact ul li a{
    display: block;
    margin-left: 40px;
    /* font-size: 14px; */
    line-height: 200%;
    max-width: 200px;
}

.footer .contact ul li:first-child img {
    margin-top: 1px;
}

.footer .contact ul li:first-child {
    padding-top: 0px;
}

.footer .contact ul li img {
    margin-top: 11px;
}


.footer .connect {
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.footer .contact ul li:last-child {
    border-bottom: none;
}

.footer .connect span {
    float: left;
    /* font-weight: 300; */
    font-size: 14px;
}

.footer .connect ul {
    float: left;
    margin: 0 0 0 20px;
    padding: 0;
}

.footer .connect ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer .connect ul li img {
    width: 9px;
}

.footer .connect ul li.tripadvisor a {
    position: absolute;
    top: -4px;
    left: 0
}

.footer .connect ul li.tripadvisor img {
    height: 25px;
    width: auto;
    display: table
}

.footer .connect ul li.tripadvisor {
    position: relative;
    width: 36px;
    height: 18px
}


.wrap.page {
    position: relative;
    padding-top: 80px;
}

.wrap.page.home{
	padding-top: 124px;
}

.f7-gray {
    background: #f7f7f7;
}

.container.desc-about {
    width: 1078px;
    padding: 115px 0;
}

.container.desc-about {}

.container.desc-about p {
    margin-bottom: 0px;
}

.f7-gray .container p {
    color: #666666;
}

.f7-gray .container {
    line-height: 170%;
}

.wrap.page .page_detail {
    width: 1078px;
}

/*.wrap.page.accommodation,
.wrap.page.the-gilis,
.wrap.page.why-amed,
.wrap.page.transport,
.wrap.page.packages-offers
 {padding-bottom: 80px;}*/

a.arow-nav.next {
    right: 0;
    top: calc(50% - 63.5px);
    width: 52px;
    height: 52px;
    margin-top: -26px;
}

a.arow-nav.prev {
    right: inherit;
    left: -1px;
    top: calc(50% - 63.5px);
    width: 52px;
    height: 52px;
    margin-top: -26px;
    transform: rotate(180deg);
}

a.arow-nav.down {
    left: -1px;
    bottom: 33px;
    top: inherit;
    transform: rotate(180deg);
}

.page-slide a.arow-nav.up {
    bottom: 33px;
    top: inherit;
    background-position: inherit !important;
    right: 0px;
}

.gallery-item {
    width: 1078px;
    margin: 45px auto 45px;
}

.gallery-item a {
    width: calc(33.33% - 3px);
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
    position: relative;
    line-height: 0;
    font-size: 0;
    height: 210px;
}

.gallery-item a:nth-child(3n) {
    margin-right: 0px;
}

.gallery-item a img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.gallery-item a:before {
    content: "";
    display: block;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    background: rgba(25, 72, 114, 0.95);
    z-index: 99;
    position: absolute;
    left: 25px;
    top: 25px;
    opacity: 0;
}

.gallery-item a:after {
    content: "View";
    width: 93px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    color: #fff;
    font-size: 14px;
    border: solid 1px #fff;
    border-radius: 44px;
    -moz-border-radius: 44px;
    margin-left: -68.5px;
    margin-top: -22px;
    text-align: center;
    line-height: 44px;
    padding-left: 43px;
    background-image: url('../images/zoom.png');
    background-repeat: no-repeat;
    background-position: 28px 14px;
    opacity: 0;
}

.gallery-item a:hover:before {
    transition: opacity 600ms;
    opacity: 1;
}

.gallery-item a:hover:after {
    transition: opacity 600ms;
    opacity: 1;
}


.wrap-desc-new h2 {
    font-size: 28px;
    color: #444444;
    margin-bottom: 30px;
}

.hide-slide {
    display: none;
}

.wrap-desc-gray.wrap-routes {
    padding: 40px 0 0 0;
    margin: 0;
}

p.all-departure-txt {
    background: #F4F4F4;
    padding: 20px 0 20px 60px;
    font-size: 16px;
    margin-bottom: 40px;
}

table.tb-schedule.sunrise-departure {}

.wrap-desc-gray .middle:last-child {
    padding-bottom: 40px;
}

.wrap-desc-gray.wrap-routes .container.desc {
    padding-bottom: 0px;
    width: 1280px;
}

.map-canvas {
    width: 100%;
    height: 460px;
}

.map-canvas img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.wrap.page.route h1 {
    color: #545454;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin: 0 0 70px 0;
    text-transform: inherit
}

.wrap-desc-gray.wrap-routes .container.desc {
    margin: 0px auto
}

.wrap.page.route .page-title {
    display: none;
}

.container.desc {
    /*width: 1280px;*/
    padding: 40px 0;
}

.wrap-routes-rates {
    background: #fff;
    width: 1280px;
    margin: 0 auto;
}

.ul-route {}

.ul-route li {
    float: left;
}

.ul-route {
    margin: 0px 0 60px;
}

.middle {
    vertical-align: inherit;
    width: 1078px;
    margin: 0 auto;
}

.page .wrap-desc-gray .wrap-routes-rates h2 {
    font-size: 22px;
    padding: 40px 0;
    margin: 0px;
    text-transform: inherit;
    color: #777777;
}

.wrap-routes-rates .desc h2 {
    font-size: 22px;
    text-transform: inherit;
}

.wrap-desc-gray .middle {
    color: #777777;
}

.wrap-desc-gray .middle h2 {
    color: #777777;
}

.ul-route li {
    width: 110px;
    height: 110px;
    padding-left: 0px !important;
    background: #194872;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 100%;
    border-radius: 75px;
    list-style-type: none;
}

.ul-route li:nth-child(2n) {
    width: 83px;
    background: none;
}

.ul-route li span {
    display: block;
    margin-top: 48px;
    text-align: center;
}

.ul-route li:nth-child(3) span {
    width: 80%;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
    line-height: 130%;
}

.ul-route li:nth-child(3) {
    position: relative;
}

.container.desc ul.ul-route li:nth-child(2n) {
    background: url('../images/nav-route.jpg') no-repeat;
    background-position: center center;
}

.border-gray {
    border-top: solid 2px #F4F4F4;
}

.gray-content {
    background: #F7F7F7;
}

.content-custom {
    padding: 95px 0;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 170%;
}

.content-custom p,
.content-custom ul {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 170%;
    margin-left: 0px;
}

.content-custom h2 {
    font-size: 28px;
    color: #444444;
    font-weight: 300;
    font-family: lato, sans-serif;
    margin: 0;
}

.content-custom h1,
.content-custom h2,
.content-custom h3,
.content-custom h4 {
    text-transform: inherit;
}

.wrap.page.packages-offers .content-custom p,
.wrap.page.packages-offers .content-custom ul {
    font-size: 19px;
}

ul.li-small-nav li {
    list-style-type: none;
    background: url('../images/nav-small.png') no-repeat;
    padding-left: 30px;
    background-position: left;
    margin-bottom: 20px;
}

#tb-rate-desc {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tb-rate-desc td {
    vertical-align: top;
    width: 50%;
}

#tb-rate-desc td:last-child ul.li-small-nav {
    margin-left: 90px;
}

ul.li-small-nav {
    margin-left: 190px;
}


#tb-general-tip td {
    width: 50%;
    vertical-align: top;
}

#tb-general-tip td ul {
    max-width: 90%;
}

#tb-general-tip td ul li {
    list-style-type: none;
    padding-left: 50px;
    position: relative;
    margin-bottom: 25px;
}

#tb-general-tip td:first-child ul li:first-child {}

#tb-general-tip td:first-child ul li:nth-child(2) {}

#tb-general-tip td:first-child ul li:nth-child(3) {}

#tb-general-tip td ul li:before {
    position: absolute;
    left: 0;
    font-size: 30px;
    color: #444444;
}

#tb-general-tip td:first-child ul li:first-child:before {
    content: "1.";
}

#tb-general-tip td:first-child ul li:nth-child(2):before {
    content: "2.";
}

#tb-general-tip td:first-child ul li:nth-child(3):before {
    content: "3.";
}

#tb-general-tip td:nth-child(2) ul li:first-child:before {
    content: "4.";
}

#tb-general-tip td:nth-child(2) ul li:nth-child(2):before {
    content: "5.";
}

#tb-general-tip td:nth-child(2) ul li:nth-child(3):before {
    content: "6.";
}

#tb-general-tip-2 img {
    max-width: inherit;
}

#tb-general-tip-2 td {
    vertical-align: top;
}

#tb-general-tip-2 td h3 {
    margin-top: 0px;
    font-size: 28px;
    color: #444444;
}

#tb-general-tip-2 {
    font-size: 18px;
}

#tb-general-tip-2 p {
    font-size: 18px;
    font-weight: 400;
    font-family: lato, sans-serif;
    color: #777777;
}

#tb-general-tip-2 span {
    font-size: 18px !important;
    font-weight: 400;
    font-family: lato, sans-serif;
    color: #777777;
}

#tb-general-tip-2 td:first-child {
    width: 110px;
    padding-top: 40px;
}

#tb-general-tip-2 tr td:last-child {
    border-bottom: solid 1px #EEEEEE;
    padding-bottom: 20px;
    padding-top: 40px;
}

#tb-general-tip-2 tr:first-child td:last-child {}

#tb-general-tip-2 td:first-child {}

#tb-general-tip-2 tr:first-child td {
    padding-top: 0px;
}

#tb-general-tip-2 tr:last-child td:last-child {
    border-bottom: none;
}

.book-now {
    width: 135px;
    height: 40px;
    background: #00A2D9;
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.list-package .middle {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: solid 1px #EEEEEE;
}

.list-package .middle:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.content-custom.list-package {
    padding-bottom: 0px;
}

.see-more {
    width: 144px;
    height: 36px;
    margin: 0 auto;
    display: block;
    background: #777777;
    border: none;
    border-radius: 18px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: lato, sans-serif;
    cursor: pointer;
}

.wrap.page.packages-offers .wrap-gallery {
    background: #F7F7F7;
    padding: 40px 0 80px;
}

a.image-source-link {
    color: #fff;
}

.wrap.page.packages-offers .page-title h1 {
    /*text-shadow: 2px 2px 5px #484747;*/
}

table.testimonial {
    font-family: lato, sans-serif;
    margin: 100px 0;
}

table.testimonial td {
    width: 50%;
    padding-right: 5%;
    font-size: 18px;
    /* color: #000; */
    font-family: 'Lato', sans-serif;
    /* font-size: 18px; */
    font-weight: 400;
    line-height: 160%;
    padding-top: 80px;
}

table.testimonial td img {
    margin-bottom: 10px;
}

table.testimonial tr:first-child td {
    padding-top: 0px;
}

table.testimonial td:last-child {
    padding-right: 0px;
    padding-left: 5%;
}

table.testimonial h4,
table.testimonial h4 span {
    color: #444444;
    font-weight: 600;
    font-size: 18px;
    text-transform: inherit;
    margin: 0px;
    line-height: 200%;
}

.book-now-mobile {
    /*display: none;*/
}

.menu-mobile-ul {
    /*display: none;*/
}

.ul-pagging-slide {
    display: none;
}

body.body-home .book-now-header-desktop {
    display: none;
}

.book-now-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 380px;
    z-index: 9999;
}

.close-book-now-mobile {
    width: 76px;
    height: 71px;
    border: none;
    background-image: url('../images/close-book-now.png');
    background-color: #00A2D9;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.form-book-now {
    float: right;
    max-width: 304px;
    width: 244px;
    background: #194872;
    padding: 0 30px;
    color: #fff;
    height: 780px;
}

.form-book-now {}

.form-book-now h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: lato, sans-serif;
}

.border-bnm {
    width: 100%;
    border-bottom: solid 1px #DDDDDD;
}

.form-book-now .type-book {
    margin: 15px 0;
}

.form-book-now input[type="radio"]+label {
    color: #fff;
}

.input-type-book {
    float: left;
    width: 50%;
}

.input-type-book input[type="radio"]+label span {
    margin-right: 10px;
}

.input-type-book:last-child input[type="radio"]+label span {
    margin-left: 25px;
}

.book-now-mobile.widget-search {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    z-index: 9999;
    max-height: inherit;
    padding: inherit;
    height: 780px;
    left: inherit;
    background: transparent;
    overflow: hidden;
}

.middle-book-now-mobile {
    width: 380px;
}

.book-now-mobile.widget-search label {
    margin: inherit;
    font-size: 14px !Important;
    font-weight: 400 !Important;
}

.book-now-mobile.widget-search .c-select p {
    color: #fff;
    font-weight: 400;
    margin: 5px 0 10px;
}

.book-now-mobile.widget-search .c-select {
    width: 100%;
    margin-top: 25px;
}

.book-now-mobile.widget-search input[type=text] {
    margin: 0;
    width: calc(100% - 0px);
    border-radius: 0px;
    border: solid 1px #fff;
    background: none;
    height: 43px;
    color: #fff;
}

.c-select.c-select-to {
    margin-top: 10px !important;
    margin-bottom: 20px;
}

.book-now-mobile.widget-search .trigger-location {
    top: inherit;
    bottom: 0;
    width: 100%;
    height: 43px;
}

.book-now-mobile.widget-search .c-select-to .trigger-location {
    top: 37px;
}

.form-book-now .c-select .option-location {
    top: 63px;
    width: calc(100% - 3px);
}

.col-datepicker {
    margin: 20px 0;
}

.book-now-mobile.widget-search input[type=text].txtdate {
    margin-bottom: 20px;
    background: url('../images/calendar-white.png') no-repeat;
    background-position: calc(100% - 15px);
}

.book-now-mobile.widget-search input[type=text].txtdate:last-child {
    margin-bottom: 0px;
}

.book-now-mobile.widget-search .col-bottom-search {
    margin: 20px 0;
    position: relative;
}

.book-now-mobile .col-bottom-search input {
    margin-bottom: 20px;
}

.book-now-mobile.widget-search .col-bottom-search {}

.book-now-mobile.widget-search .col-bottom-search input[type=text] {
    margin-bottom: 20px !important;
    height: 44px;
    margin-left: 0px !important;
    width: 100%;
}

.book-now-mobile .col-bottom-search span {
    border-radius: 0;
    background: #fff;
    color: #194872;
    font-size: 14px;
    width: 104px;
    height: 44px;
    padding: 0;
    line-height: 44px;
}

.book-now-mobile .col-bottom-search span.lbl-adult {
    top: 0px;
}

.book-now-mobile.widget-search .col-bottom-search input {
    padding-left: 120px;
}

.book-now-mobile.widget-search .btn-submit-ca {
    width: 100%;
    background: #fff;
    border-radius: 0;
    color: #194872;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 70px;
    height: 43px;
}

.book-now-mobile.widget-search input[type=text].txtlocation {
    background: url('../images/location-white.png') no-repeat;
    background-position: 13px 15px;
    padding-left: 40px;
    width: 100%;
}

.book-now-mobile.widget-search input[type=text].txtlocation.txtto {
    margin-bottom: 20px;
}

.book-now-mobile.widget-search .error {
    background-color: transparent !important;
}

body.disable-scroll {
    overflow: hidden;
}

.book-now-mobile.widget-search.scrolled-menu {
    overflow-y: scroll;
    height: 100%;
}


.wrap.page.about .page-slide {
    margin-top: 100px;
}

.wrap.page.about .page_detail {
    margin-bottom: 100px;
}

.wrap.page.success-inquiry .page-title {
    width: 500px;
    /* top: 129px; */
    margin-left: -250px;
    top: 225px;
}

.wrap.page.page.success-inquiry {
    padding-bottom: 70px;
}

.success-inquiry .wrap-container-desc:last-child {
    display: none;
}


.wrap.page.ticket-succesfully .container.a-ws .widget-search {
    display: none;
}

.wrap.page.ticket-succesfully .container p {
    color: #0D750D;
    margin: 120px 0;
    text-align: center;
    font-size: 24px;
}

.wrap.page.ticket-succesfully .container {
    width: 80%;
}


a.read-more {
    color: #00A1D8;
    font-style: italic;
    font-size: 14px;
}

.hide {
    display: none;
}

.bg-book-now-mobile {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
}

div#menu-mobile-ul ul li a:after {
    display: none;
}

.body-no_result .container.a-ws .widget-search {
    display: none !important;
}

.body-no_result .tb-summary-01 td:first-child {
    width: 140px;
}

.body-no_result .tb-summary-02 td:first-child {
    width: 140px;
}

.body-no_result .tb-summary {
    font-size: 15px;
    line-height: 160%;
}

.gm-style-iw h3 {
    color: #545454;
}

.gm-style-iw br {
    display: none;
}

.gm-style-iw table {
    display: none;
}

.wrap.page.accommodation .c-widget-search {
    background: none
}

.wrap.page.accommodation .page-title h1 {
    color: #545454
}

.wrap.page.accommodation .a-ws {
    height: 250px;
}

.body-accommodation .wrap.white:after {
    background: rgba(222, 222, 222, 0.5)
}

.wrap.page.accommodation .page-title {
    top: 210px;
}

.body-accommodation {}

.wrap-container-desc.page-not-found p {
    text-align: center;
}


.overlay-plugin {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.80);
    z-index: 999;
    display: none;
}

.popup-plugin {
    position: absolute;
    z-index: 1000;
    top: 60px;
    width: 100%;
    display: none;
}

.content-pp {
    display: table;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    background: #fff;
    color: #000;
}

.popup-plugin button.close {
    position: absolute;
    right: -15px;
    top: -16.5px;
    cursor: pointer;
    background: none;
    border: none;
}

.content-middle-pp-text {
    width: 600px;
    max-width: 100%
}

.content-middle-pp-text p,
.content-middle-pp-text h1,
.content-middle-pp-text h2,
.content-middle-pp-text h3 {
    width: 80%;
    margin-left: 10% !important;
    color: #000
}

.content-middle-pp-text ul,
.content-middle-pp-text ol {
    width: 80%;
    margin-left: 10% !important;
    padding-left: 20px
}

.content-middle-pp-text p,
.content-middle-pp-text ul,
.content-middle-pp-text ol {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 140%;
    font-weight: 300;
}

.content-middle-pp-image-only p {
    margin: 0px;
    padding: 0px;
}

.content-middle-pp-image-only img {
    display: block;
}

.floating-wa-btn {
    z-index: 9999999999;
    visibility: visible;
    opacity: 0.8;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
}

.floating-wa-btn:hover {
    opacity: 1
}

.floating-wa-btn img {
    width: 100%;
    height: auto
}

.page-slide-container .slick-arrow{
    height: 40px;
    width: 40px;
    z-index: 1;
}

.page-slide-container .slick-arrow:before{
    content: '';
        background-image: url('../images/nav-bxslider.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
        display: block;
        height: 100%;
        width: 100%;
}

.page-slide-container .slick-prev:before{
    transform: rotate(180deg);
}

.page-slide-container .slick-prev{
    left: 0;
}

.page-slide-container .slick-next{
    right: 0;
}

.page-slide-nav{
    margin-top: 10px;
}

.page-slide-container .slick-track,
.page-slide-nav .slick-track{
    display: flex !important;
}

.page-slide-container .slick-slide,
.page-slide-nav .slick-slide{
    height: inherit !important;
}

.page-slide-container .slick-slide img,
.page-slide-nav .slick-slide img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.page-slide-nav .slick-slide img{
    object-fit: cover;
}

.page-slide-nav .slick-slide{
    margin: 0 5px;
}

.home-slide-container,
.home-slide-container .slick-list,
.home-slide-container .slick-track{
    height: 100%;
}

.home-slide-item,
.video-wrapper,
.embed-player{
    position: relative;
    height: 100%;
    width: 100%;
}

.home-slide-item img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.home-slide-item iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.home-slide-container .slick-arrow{
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 40px;
    z-index: 1;
}

.home-slide-container .slick-arrow:before{
    content: '';
        background-image: url('../images/nav-slide-big.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
        display: block;
        height: 100%;
        width: 100%;
}

.home-slide-container .slick-next:before{
    transform: rotate(180deg);
}

.home-slide-container .slick-prev{
    left: 0;
}

.home-slide-container .slick-next{
    right: 0;
}

@media screen and (max-width: 900px) {

    #blogContent .left,
    #blogContent .right {
        display: inline-block
    }

    #blogContent .left {
        width: 60%
    }

    #blogContent .right {
        width: 40%;
        margin: 0;
        padding-left: 40px
    }
}

@media screen and (max-width: 789px) {

    #blogContent .left,
    #blogContent .right {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
        border: none
    }

    .searchBlock {
        position: absolute;
        top: 10px;
        right: 10px
    }
}

@media screen and (max-width: 575px) {
    .floating-wa-btn {
        bottom: 70px;
        right: 40px;
    }
}

@media screen and (max-width:480px) {
    #blogContent .oneBlog .meta .post-date {
        display: block;
        position: relative;
        right: 0
    }
}