@font-face {
  font-family: 'icomoon-custom';
  src:  url('fonts/icomoon-custom.eot?ogcl1t');
  src:  url('fonts/icomoon-custom.eot?ogcl1t#iefix') format('embedded-opentype'),
    url('fonts/icomoon-custom.ttf?ogcl1t') format('truetype'),
    url('fonts/icomoon-custom.woff?ogcl1t') format('woff'),
    url('fonts/icomoon-custom.svg?ogcl1t#icomoon-custom') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cicon-"], [class*=" cicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-custom' !important;
  color: #000000;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cicon-shuttle:before {
  content: "\e900";  
}
.cicon-barbeque:before {
  content: "\e901";
}
.cicon-dining:before {
  content: "\e902";
}
.cicon-car:before {
  content: "\e903";
}
.cicon-doctor:before {
  content: "\e904";
}
.cicon-breakfast:before {
  content: "\e905";
}
.cicon-currency:before {
  content: "\e906";
}
.cicon-cooking-class:before {
  content: "\e907";
}
.cicon-laundry:before {
  content: "\e908";
}
.cicon-wifi:before {
  content: "\e909";
}
.cicon-journey:before {
  content: "\e90a";
}
.cicon-airplane:before {
  content: "\e90b";
}
