<!-- BEGIN form-block -->
<h1>{ftitle}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

			{alert}

            <div class="content-loop active">
                <div class="list_edit">
                    <fieldset>
                        <p>Account name</p>
                        <p><input type="text" class="textbox" name="name" value="{name}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset class="half">
                    	<div class="col">
	                        <p>Bank Name</p>
	                        <p><input type="text" class="textbox custom-width" style="--customwidth:90%" name="bank_name" value="{bank_name}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col">
	                        <p>Bank Branch</p>
	                        <p><input type="text" class="textbox custom-width" name="branch" style="--customwidth:90%" value="{branch}" autocomplete="off" required /></p>
	                    </div>
                    </fieldset>
                    <fieldset class="half">
                    	<div class="col">
	                        <p>Account Number</p>
	                        <p><input type="text" class="textbox custom-width" style="--customwidth:90%" name="account_no" value="{account_no}" autocomplete="off" required /></p>
                        </div>
                    	<div class="col">
                    		<p>Swift Code</p>
                        	<p><input type="text" class="textbox custom-width" style="--customwidth:90%" name="swift_code" value="{swift_code}" autocomplete="off" required /></p>
                        </div>
                    </fieldset>
                    <fieldset class="half">
                    	<div class="col">
	                        <p>Currency</p>
	                        <p>
	                        	<select class="select-option custom-width" style="--customwidth:90%" name="currency" autocomplete="off" required>
	                        		<option value="Rupiah" {selected_idr}>Rupiah</option>
	                        		<option value="USD" {selected_usd}>USD</option>
	                        	</select>
	                        </p>
	                    </div>
                    </fieldset>
                    <fieldset>
                        <p>Address</p>
                        <p><textarea class="textbox" rows="7" name="address" autocomplete="off" required>{address}</textarea></p>
                    </fieldset>
                </div>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>
<!-- END form-block -->