<!-- BEGIN form-block -->
<h1>{ftitle}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

			{alert}

            <div class="content-loop active">
                <div class="list_edit">
                    <fieldset>
                        <p>Boat name</p>
                        <p><input type="text" class="textbox" name="bname" value="{bname}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset>
                        <p>Boat code</p>
                        <p><input type="text" class="textbox" name="bcode" value="{bcode}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset>
                        <p>Allotment</p>
                        <p><input type="text" class="textbox" name="ballotment" value="{ballotment}" autocomplete="off" required /></p>
                    	<p {update_all_css}>
                    		<input id="updateall" type="checkbox" value="1" name="update_allotment_all_schedule" autocomplete="off">
                    		<label for="updateall">Apply new allotment to all related schedules?</label>
                    	</p>
                    </fieldset>
                    <fieldset>
                        <p>Status</p>
                    	<p>
	                    	<input id="publish" type="radio" name="status" value="1" {checked_publish} />
	                    	<label for="publish">Publish</label>
	                    	<input id="unpublish" type="radio" name="status" value="0" {checked_unpublish} />
	                    	<label for="unpublish">Unpublish</label>
	                    </p>
                    </fieldset>
                </div>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>
<!-- END form-block -->