<!-- BEGIN list-block -->
<h1>{title}</h1>
<div class="tab_container">
    <div class="single_content">
        <div id="response"></div>
        <form action="" method="post" name="alist">
            <div class="button_wrapper clearfix">
	            <div class="button_right">
	                <div class="search_box clearfix" style="float:right;">
	                    <div class="textwrap">
	                        <input type="text" name="search" class="searchtext" value="" placeholder="Seach" autocomplete="off" />
	                    </div>
	                    <div class="buttonwrap">
	                        <img src="{img-url}/ico-search.png" name="search" class="searchbutton" alt="">
	                    </div>
	                </div>
	            </div>            
            </div>

            {alert}
            
            <div class="booking_filter">
                <select class="select-option" name="type" style="width: 180px;">
                    <option value="">All Departure</option>
                    {type-option}
                </select>
                <select class="select-option" name="rid" style="width: 250px;">
                    <option value="">All Route</option>
                    {route-option}
                </select>
                <select class="select-option" name="status" style="width: 180px;">
                    <option value="">All Booking Status</option>
                    {status-option}
                </select>
                <input name="start" type="text" placeholder="Start date" value="{start}" class="textbox" />
                <input name="end" type="text" placeholder="End date" value="{end}" class="textbox" />
                <input name="filter" type="button" value="Filter" class="filters">
                <div class="show-data-length">
                    <b>Show Data</b>
                    <select class="select-option" name="length">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="list">            
                <table id="booking-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th align="left" width="15" data-orderable="false">
                                <input type="checkbox" name="select_all" autocomplete="off" />
                            </th>
                            <th align="left">Booked By</th>
                            <th align="left">Ticket Number</th>
                            <th align="left">Departure</th>
                            <th align="left">Destination</th>
                            <th align="left">Date</th>
                            <th align="left" data-orderable="false">Time</th>
                            <th align="left">Trip</th>
                            <th align="left" data-orderable="false">Status</th>
                            <th align="center">Adult</th>
                            <th align="center">Child</th>
                            <th align="center">Infant</th>
                            <th align="right" data-orderable="false">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th colspan="9" align="right">Total:</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
                
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table  = jQuery('#booking-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ targets:5, type:'date' }],
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax-url}',
                    type : 'POST',
                    data : function(d){
                        d.pkey   = 'load-booking-data';
                        d.rid    = jQuery('[name=rid]').val();
                        d.type   = jQuery('[name=type]').val();
                        d.status = jQuery('[name=status]').val();
                        d.dstart = jQuery('[name=start]').val();
                        d.dend   = jQuery('[name=end]').val();
                    }
                },
                columns: [
                    {
                        data: 'bid', render: function ( data, type, row ){
                            var html = 
                            '<input type="checkbox" name="select[]" class="title_checkbox select" value="' + data + '"  autocomplete="off" />';

                            return html;
                        }
                    },
                    {
                        data: 'name', render: function ( data, type, row ){
                            var html = 
                            '<p>' + data + '</p>'+
                            '<div class="link-action">'+
                                '<div class="list-action" id="the-action-'+ row.bid +'">'+
                                    '<a href="javascript:;"class="view-link" data-id="' + row.bid + '">View Detail</a>'+
                                    '<a href="' + row.ajax_link + '" class="delete-link" id="'+ row.bid +'" rel="' + data + '">Delete</a>'+
                                '</div>'+
                            '</div>';

                            return html;
                        }
                    },
                    {
                        data: 'no_ticket', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'rfrom', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'rto', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'date', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'time', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'type', render: function ( data, type, row ) {
                            return data == 1 ? 'Return' : 'One Way';
                        }
                    },
                    {
                        data: 'status', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'num_adult', render: function ( data, type, row ) {
                            return data;
                        },
                        className: 'text-center'
                    },
                    {
                        data: 'num_child', render: function ( data, type, row ) {
                            return data;
                        },
                        className: 'text-center'
                    },
                    {
                        data: 'num_infant', render: function ( data, type, row ) {
                            return data;
                        },
                        className: 'text-center'
                    },
                    {
                        data: 'total', 
                        render: $.fn.dataTable.render.number(',', '.', 0, ''),
                        className: 'text-right'
                    }
                ],
                footerCallback: function( row, data, start, end, display ) {
                    var api = this.api();
         
                    //-- Remove the formatting to get integer data for summation
                    var intVal = function( i ){
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };
         
                    //-- Total over this page
                    total_adult = api.column( 9, { page: 'current' }).data().reduce( function( a, b ){
                        return intVal( a ) + intVal( b );
                    }, 0);

                    total_child = api.column( 10, { page: 'current' }).data().reduce( function( a, b ){
                        return intVal( a ) + intVal( b );
                    }, 0);

                    total_infant = api.column( 11, { page: 'current' }).data().reduce( function( a, b ){
                        return intVal( a ) + intVal( b );
                    }, 0);

                    total_price = api.column( 12, { page: 'current' }).data().reduce( function( a, b ){
                        return intVal( a ) + intVal( b );
                    }, 0);
         
                    //-- Update footer
                    var numFormat = $.fn.dataTable.render.number( '\,', '.', 0, '' ).display;

                    jQuery( api.column( 9 ).footer() ).html( numFormat( total_adult ) );
                    jQuery( api.column( 10 ).footer() ).html( numFormat( total_child ) );
                    jQuery( api.column( 11 ).footer() ).html( numFormat( total_infant ) );
                    jQuery( api.column( 12 ).footer() ).html( numFormat( total_price ) );
                }
            });

            table.on( 'draw.dt', function (){
                jQuery(this).closest('.dataTables_wrapper').find('.dataTables_paginate').toggle( table.page.info().pages > 1 );
                delete_booking_func( table );
                view_booking_func( table );
                set_button_access();
            });

            jQuery('[name=search]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });

            jQuery('[name=length]').on('change', function(){
                table.page.len( this.value ).draw();
            });

            jQuery('[name=filter]').on('click', function(){
                table.ajax.reload(function(){
                    delete_booking_func( table );
                    view_booking_func( table );
                    set_button_access();
                }, false);
            });

            jQuery('.mlanguage-fieldset-trigger input').on('keyup change', function(){
                table.ajax.reload(function(){
                    delete_booking_func( table );
                    view_booking_func( table );
                    set_button_access();
                }, false);
            });

            jQuery('[name=start]').datepicker({
                dateFormat:'dd MM yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });

            jQuery('[name=end]').datepicker({
                dateFormat:'dd MM yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });
        });

        function view_booking_func( table )
        {
            jQuery('.view-link').unbind();
            jQuery('.view-link').on('click', function(e){
                var bid = jQuery(this).data('id');

                jQuery.fancybox.open({
                    src: '{ajax-url}',
                    type: 'ajax',
                    opts: {
                        baseClass: 'popup-booking-detail',
                        closeExisting: true,
                        ajax: { 
                            settings: { 
                                type: 'POST',
                                data: {
                                    pkey : 'view-booking-detail',
                                    bid  : bid,
                                }
                            }
                        },
                        afterLoad : function( instance, current ){
                            var form = jQuery(current.$content).find('form');
                            var nsel = jQuery(current.$content).find('.text-number');
                            var clip = new ClipboardJS('.copy');

                            clip.on('success', function(e) {
                                jQuery(current.$content).find('.action span').html( 'Link has been copied' ).addClass( 'success' );

                                e.clearSelection();
                            });

                            clip.on('error', function(e) {
                                jQuery(current.$content).find('.action span').html( 'Failed to copied link' ).addClass( 'success' );
                            });

                            init_number( nsel );

                            form.find('.edit-act input').on('change', function(){
                                form.find('.action span').html( '' ).removeClass( 'success' );
                                form.find('.action span').html( '' ).removeClass( 'failed' );

                                if( this.checked )
                                {
                                    form.find('.edited-field').prop( 'disabled', false );
                                    form.find('.action input').prop( 'disabled', false );
                                }
                                else 
                                {
                                    form.find('.edited-field').prop( 'disabled', true );
                                    form.find('.action input').prop( 'disabled', true );
                                }
                            });

                            form.find('.booking-status').on('click', function(){
                                jQuery(this).toggleClass('booking-status-open');
                            });

                            form.find('[name=status]').on('change', function(){
                                var dt = jQuery(this).data();

                                form.find('.booking-status .notice').removeAttr('class').addClass( dt.class );
                                form.find('.booking-status').toggleClass('booking-status-open');
                                form.find('.booking-status-label').html( dt.label );
                            });

                            form.find('[name=update]').on('click', function(){
                                jQuery.ajax({
                                    data: form.serializeArray(),
                                    url: '{ajax-url}',
                                    dataType : 'json',
                                    method: 'POST',
                                    beforeSend: function( xhr ){
                                        jQuery(current.$content).find('.action span').html( '' ).removeClass( 'success' );
                                        jQuery(current.$content).find('.action span').html( '' ).removeClass( 'failed' );
                                        jQuery(current.$content).find('.overlay').show();
                                    },
                                    success: function( e ){ 
                                        jQuery(current.$content).find('.action span').html( e.message ).addClass( e.result );
                                    },
                                    error: function( e ){
                                        jQuery(current.$content).find('.action span').html( 'Something wrong! try again later' ).addClass( 'failed' );
                                    },
                                    complete: function( e ){
                                        jQuery(current.$content).find('.overlay').hide();
                                    }
                                });

                                return false;
                            });

                            form.find('[name=send_invoice]').on('click', function(){
                                jQuery.ajax({
                                    url: '{ajax-url}',
                                    dataType : 'json',
                                    method: 'POST',
                                    data: {
                                        pkey : 'send-invoice',
                                        bid  : bid,
                                    },
                                    beforeSend: function( xhr ){
                                        jQuery(current.$content).find('.action span').html( '' ).removeClass( 'success' );
                                        jQuery(current.$content).find('.action span').html( '' ).removeClass( 'failed' );
                                        jQuery(current.$content).find('.overlay').show();
                                    },
                                    success: function( e ){ 
                                        jQuery(current.$content).find('.action span').html( e.message ).addClass( e.result );
                                    },
                                    error: function( e ){
                                        jQuery(current.$content).find('.action span').html( 'Something wrong! try again later' ).addClass( 'failed' );
                                    },
                                    complete: function( e ){
                                        jQuery(current.$content).find('.overlay').hide();
                                    }
                                });

                                return false;
                            });
                        },
                        afterClose: function(){
                            table.ajax.reload(function(){
                                delete_booking_func( table );

                                view_booking_func( table );

                                set_button_access();

                            }, false);
                        }
                    }
                });
            });
        }

        function delete_booking_func( table )
        {
            jQuery('.delete-link').unbind();
            jQuery('.delete-link').on('click', function(e){
                var url = jQuery(this).attr('href');
                var prm = new Object();
                    prm.pkey = 'delete-booking';
                    prm.id   = jQuery(this).attr('id');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html( 'Are you sure want to delete this data?' );
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    table.ajax.reload(function(){

                                        if( e.result == 'success' )
                                        {
                                            show_popup( 'Notification', 'This data has been successfully deleted' );
                                        }
                                        else if( e.result == 'failed' )
                                        {
                                            show_popup( 'Warning', 'Sorry, This data can\'t be deleted. Please try again later' );
                                        }

                                        delete_booking_func( table );

                                        view_booking_func( table );

                                        set_button_access();

                                    }, false);
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup( 'Warning', 'Sorry, This data can\'t be deleted. Please try again later' );
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });

                return false;
            });
        }
    </script>
</div>
<!-- END list-block -->