<!-- BEGIN result-block -->
<div class="form-manual-booking" id="form-manual-booking">
    <form class="f-booking" name="f-booking" method="post" action="{site-url}submit-ticket/" data-url="{site-url}">
	    <div class="indicator">
	        <div class="loader"></div>
	    </div>

    	{alert}
		{summary}
		{step}

	    <table class="other-table" cellpadding="5" cellspacing="5">
            <tr>
                <td width="100">Status Booking</td>
    			<td width="5">:</td>
                <td>
                	<select name="bstatus">
                		<option value="wp">Waiting Payment</option>
                		<option value="pd">Confirmed</option>
                	</select>
                </td>
            </tr>
            <tr class="wp-field">
                <td width="100">Send Invoice?</td>
    			<td width="5">:</td>
                <td>
                	<select name="send_invoice">
                		<option value="1">Yes</option>
                		<option value="0">No</option>
                	</select>
                </td>
            </tr>
        </table>
		<input type="hidden" name="is_admin" value="1">
		<input type="submit" class="filters" name="submit_booking" value="Create Booking">
	</form>
</div>
<!-- END result-block -->

<!-- BEGIN empty-block -->
<div class="form-manual-booking" id="form-manual-booking">
	<div class="message" style="width:600px; text-align: center;">
		<p>No schedule available is found, but changes may occur.<br/>
		If you want to be notified for changes to availability on the date you want, please contact us at <br/>
		<a style="color:#00468C; text-decoration:underline;" href="mailto:info@freebird-express.com">info@freebird-express.com.</a>
	</div>
</div>
<!-- END empty-block -->