<!-- BEGIN detail-block -->
<div class="popup-booking-content">
	<div class="overlay">
		<img class="img-loader" src="{img-url}/loading.gif" />
	</div>
	<form method="post" action="{ajax-url}">
		<div class="no-ticket">
			<h1>
				Ticket No. : {no_ticket}
				<label for="edit-act" class="edit-act">
					<input id="edit-act" type="checkbox" autocomplete="off">
				</label>
			</h1>
			<div class="booking-status">
			    <div class="{status}-notice notice">
			        <span class="booking-status-icon"></span>
			        <span class="booking-status-label">{status_label}</span>
			    </div>
			    <ul>
			    	{status_option}
			    </ul>
			</div>
		</div>
		<div class="booking-section booked-by">
			<h2>Booked By</h2>
		    <table class="tb-detail" cellspacing="1" cellpadding="5">
		        <tr class="head">
		            <td width="80">Title</td>
		            <td>Name</td>
		            <td>Address</td>
		            <td>Country</td>
		            <td width="160">Phone</td>
		            <td>Email</td>
		            <td width="160">Booking Date</td>
		        </tr>
		        <tr>
		            <td valign="top">
	                    <select class="edited-field" name="booking_by[title]" autocomplete="off" disabled>
	                        {title_option}
	                    </select>
		            </td>
		            <td valign="top">
		                <input class="textbox edited-field" type="text" name="booking_by[fname]" value="{byname}" autocomplete="off" disabled>
		            </td>
		            <td valign="top">
		            	<input class="textbox edited-field" type="text" name="booking_by[address]" value="{address}" autocomplete="off" disabled>
		            </td>
		            <td valign="top">
	                    <select class="edited-field" name="booking_by[country]" autocomplete="off" disabled>
	                        {country}
	                    </select>
		            </td>
		            <td valign="top" align="center">
		                <input class="textbox edited-field" type="text" name="booking_by[phone]" value="{phone}" autocomplete="off" disabled>
		            </td>
		            <td valign="top" align="center">
		                <input class="textbox edited-field" type="email" name="booking_by[email]" value="{email}" autocomplete="off" disabled>
		            </td>
		            <td valign="top" align="center">
		                <input class="textbox" type="text" value="{created_date}" autocomplete="off" disabled>
		            </td>
		        </tr>
		    </table>
		</div>
		<div class="booking-section booking-detail">
			<h2>Trip Detail</h2>
		    <table class="tb-detail tb-detail-trip" cellspacing="1" cellpadding="5">
		        <tr class="head">
		            <td rowspan="2">Depart From</td>
		            <td rowspan="2">Destination</td>
		            <td rowspan="2" width="160">Date</td>
		            <td rowspan="2" width="100">Time Dept</td>
		            <td rowspan="2" width="100">Time Arr</td>
		            <td colspan="3">Price</td>
		            <td rowspan="2" width="160">Subtotal<br>({num_adult} adults, {num_child} childs, {num_infant} infant)</td>
		        </tr>
		        <tr class="head">
		            <td width="150">Adult</td>
		            <td width="150">Child</td>
		            <td width="150">Infant</td>
		        </tr>
		        <!-- BEGIN detail-loop-block -->
		        <tr>
		            <td>
		                <input class="textbox" type="text" value="{rfrom}" autocomplete="off" disabled>
		            </td>
		            <td>
		                <input class="textbox" type="text" value="{rto}" autocomplete="off" disabled>
		            </td>
		            <td align="center">
		                <input class="textbox" type="text" value="{date}" autocomplete="off" disabled>
		            </td>
		            <td align="center">
		            	<input type="text" class="textbox edited-field textbox-time" name="booking_detail[{bdid}][stime_departure]" value="{stime_departure}" autocomplete="off" disabled>
		            </td>
		            <td align="center">
		                <input type="text" class="textbox edited-field textbox-time" name="booking_detail[{bdid}][stime_arrive]" value="{stime_arrive}" autocomplete="off" disabled>
		            </td>
		            <td align="center">
		                <input class="textbox text-number text-right" data-m-dec="0" type="text" value="{price_per_adult}" autocomplete="off" disabled>
		            </td>
		            <td align="center">
		                <input class="textbox text-number text-right" data-m-dec="0" type="text" value="{price_per_child}" autocomplete="off" disabled>
		            </td>
		            <td align="center">
		                <input class="textbox text-number text-right" data-m-dec="0" type="text" value="{price_per_infant}" autocomplete="off" disabled>
		            </td>
		            <td align="center">
		                <input class="textbox text-number text-right" data-m-dec="0" type="text" value="{total}" autocomplete="off" disabled>
		            </td>
		        </tr>
		        <!-- END detail-loop-block -->
		        <tr>
		            <td colspan="8" align="right">Pickup Cost</td>
		            <td align="center" width="160">
		                <input class="textbox text-number text-right" data-m-dec="0" type="text" value="{pickup_cost}" autocomplete="off" disabled>
		            </td>
		        </tr>
		        <tr>
		            <td colspan="8" align="right">Transfer Cost</td>
		            <td align="center" width="160">
		                <input class="textbox text-number text-right" data-m-dec="0" type="text" value="{transfer_cost}" autocomplete="off" disabled>
		            </td>
		        </tr>
		        <tr>
		            <td colspan="8" align="right">Total</td>
		            <td align="center" width="160">
		                <input class="textbox text-number text-right" data-m-dec="0" type="text" value="{total_summary}" autocomplete="off" disabled>
		            </td>
		        </tr>
		    </table>
		</div>
		<div class="booking-section passenger-detail">
			<h2>Passenger Detail</h2>
		    <table class="tb-detail" cellspacing="1" cellpadding="5">
		        <tr class="head">
		            <td>Name</td>
		            <td>Country</td>
		            <td>Type</td>
		        </tr>
		        <!-- BEGIN detail-passenger-block -->
		        <tr>
		            <td>
		                <input class="textbox edited-field" type="text" name="booking_passenger[{bid}][fname]" value="{passname}" autocomplete="off" disabled>
		            </td>
		            <td>
	                    <select class="edited-field" name="booking_passenger[{bid}][country]" autocomplete="off" disabled>
	                        {country_option}
	                    </select>
		            </td>
		            <td>
	                    <select name="type" autocomplete="off" disabled>
	                        {type_option}
	                    </select>
		            </td>
		        </tr>
		        <!-- END detail-passenger-block -->
		    </table>
		</div>
		<div class="booking-section passenger-detail">
			<h2>Pickup & Transfer</h2>
		    <table class="tb-detail" cellspacing="1" cellpadding="5">
		        <tr class="head">
		            <td colspan="2">Pickup</td>
		            <td colspan="2">Transfer</td>
		        </tr>
		        <tr class="head">
		            <td>Destination</td>
		            <td>Address</td>
		            <td>Destination</td>
		            <td>Address</td>
		        </tr>
		        <tr>
		            <td align="center">{pickup_destination}</td>
		            <td align="center">{address_pickup}</td>
		            <td align="center">{transfer_destination}</td>
		            <td align="center">{address_transfer}</td>
		        </tr>
		    </table>
		</div>
		<div class="hidden">
	        <input type="hidden" name="id" value="{bid}" />
	        <input type="hidden" name="bbid" value="{bbid}" />
	        <input type="hidden" name="pkey" value="edit-booking-detail" />
	    </div>
	    <div class="action">
	        <input type="button" name="update" class="filters" value="Update Booking Data" disabled />
	        <input type="button" name="send_invoice" class="filters" value="Send Invoice Email" disabled />
	        <a data-clipboard-text="{download_ticket_link}" class="filters copy">Copy Link Download Ticket</a>
	        <span></span>
	   	</div>
    </form>
</div>
<!-- END detail-block -->