<!-- BEGIN booking-availability-block -->
<div class="form-manual-booking" id="form-manual-booking">
	<form name="mbooking" method="post">
	    <div class="indicator">
	        <div class="loader"></div>
	    </div>
	    <table width="400" cellpadding="2" cellspacing="2">
            <tr>
                <td width="100">Route</td>
    			<td width="5">:</td>
                <td>{rname}<span id="manual-route-name"></span> <input type="hidden" name="rid" value="{rid}"></td>
            </tr>
            <tr>
                <td>Schedule</td>
    			<td>:</td>
                <td>{sname}<span id="manual-schedule-name"></span> <input type="hidden" name="sid" value="{sid}"></td>
            </tr>
            <tr>
                <td>Date</td>
    			<td>:</td>
                <td>{date_str}<span id="manual-date"></span> <input type="hidden" name="date" value="{date}"></td>
            </tr>
            <tr>
                <td>Time</td>
    			<td>:</td>
                <td>{time}<span id="manual-time"></span> <input type="hidden" name="time" value="{time}"></td>
            </tr>
            <tr>
                <td colspan="3">
                	<hr>
                </td>
            </tr>
	        <tr>
	            <td width="100">Trip type</td>
	            <td width="5">:</td>
	            <td>
	                <label for="trip_type_0" style="margin-right: 10px;"><input type="radio" name="trip_type" value="0" id="trip_type_0" checked>&nbsp;One way trip</label>
	                <label for="trip_type_1"><input type="radio" name="trip_type" value="1" id="trip_type_1">&nbsp;Return trip</label>
	            </td>
	        </tr>
	        <tr id="tr_departure_date">
	            <td width="100">Departure date</td>
	            <td>:</td>
	            <td><input type="text" name="dep_date" value="{date}" class="textbox dpicker" disabled="disabled"></td>
	        </tr>
	        <tr id="tr_return_date" style="display:none;">
	            <td>Return date</td>
	            <td>:</td>
	            <td><input type="text" name="ret_date" value="" class="textbox dpicker" id="ret_date"></td>
	        </tr>
	        <tr>
	            <td> No. of Adult</td>
	            <td>:</td>
	            <td><input type="text" name="adult" value="1" class="textbox" onkeyup="this.value=this.value.replace(/[^\d]/,'')"></td>
	        </tr>
	        <tr>
	            <td> No. of Child</td>
	            <td>:</td>
	            <td><input type="text" name="child" value="0" class="textbox" onkeyup="this.value=this.value.replace(/[^\d]/,'')"></td>
	        </tr>
	        <tr>
	            <td> No. of Infant</td>
	            <td>:</td>
	            <td><input type="text" name="infant" value="0" class="textbox" onkeyup="this.value=this.value.replace(/[^\d]/,'')"></td>
	        </tr>
	        <tr>
	            <td colspan="3" align="right">
	                <input type="submit" class="filters" name="check_availibility" value="Check Avaibility">
	                <input type="button" class="filters" name="cancel_manual_booking" value="Cancel">
	            </td>
	        </tr>
	    </table>
	</form>
</div>
<!-- END booking-availability-block -->