<!-- BEGIN list-block -->
<h1>{title}</h1>
<div class="tab_container">
    <div class="single_content">
        <div id="response"></div>
        <form action="" method="post" name="alist">
            {alert}

            <div class="button_wrapper clearfix">
	            <div class="button_left">
	            	<div class="booking_filter show-filter">
		                <select class="select-option" name="rid" style="width: 250px;">
		                    <option value="">All Route</option>
		                    {route-option}
		                </select>
		                <select class="select-option filter-option" name="year" style="width: 80px;">
		                    {year-option}
		                </select>
		                <select class="select-option filter-option" name="month" style="width: 110px;">
		                    {month-option}
		                </select>
		                <select class="select-option bulk-option" name="status"style="width: 150px;">
		                    {status-option}
		                </select>
		                <input class="filter-option filters" name="filter" type="submit" value="Filter" />
		                <input class="filter-option filters" name="batch" type="button" value="Bulk Update" />
		                <input class="bulk-option textbox" name="start" type="text" placeholder="Start date" />
		                <input class="bulk-option textbox" name="end" type="text" placeholder="End date" />
		                <input class="bulk-option filters" name="update" type="submit" value="Update" />
		                <input class="bulk-option filters" name="cancel" type="button" value="Cancel" />
		            </div>
	            </div>            
            </div>
            <div class="list">
				<div class="wrap-calendar">
				    <div class="goto-today"><a href="javascript:;" id="goto-today">Today</a></div>
				    <!-- BEGIN calendar-loop-block -->
					<div class="calendar" id="calendar-{i}" style="margin-bottom: 20px;">
						<table class="tb-calendar" id="tb-calendar-{i}" cellpadding="0" cellspacing="1" border="0">
							<tr>	
							    <td width="250" id="rname-{rid}" class="head">{route-name}</td>
							    <td class="nav nav-prev">
							    	<a class="trigger-prev" rel="tb-calendar-data-{i}"></a>
							    </td>
							    <td class="body" rowspan="{row-span}">
							    	<div class="wrap-container-data">
								    	<div class="container-data">
								    		{tr-calendar-date-data}
									    </div>
									</div>
							    </td>
							    <td class="nav nav-next">
							    	<a class="trigger-next" rel="tb-calendar-data-{i}"></a>
							    </td>
							</tr>	
							{tr-schedule-name}	
						</table>	
					</div>	
					<!-- END calendar-loop-block -->	
				</div>
            </div>
        </form>
    </div>
</div>
<script>
	function init_datepicker()
	{
	    jQuery('[name=start]').datepicker({
	        dateFormat:'dd MM yy',
	        minDate: 0,
	        onSelect: function(date){
	            var date2 = jQuery('[name=end]').datepicker('getDate');

	            if( date2 == null )
	            {
	                jQuery('[name=end]').datepicker('setDate', date);
	            }

	            jQuery('[name=end]').datepicker('option', 'minDate', date);
	        }
	    });

	    jQuery('[name=end]').datepicker({
	        dateFormat:'dd MM yy',
	        minDate: 0,
	        onClose: function(date){
	            var date2 = jQuery('[name=start]').datepicker('getDate');

	            if( date2 == null )
	            {
	                jQuery('[name=start]').datepicker('setDate', date);
	            }
	            
	            jQuery('[name=start]').datepicker('option', 'maxDate', date);
	        }
	    });

	    jQuery('.dpicker').datepicker({
	        minDate: 0
	    });
	}

	function init_calendar()
	{
		jQuery('[name=batch]').on('click', function(){
	    	jQuery('.booking_filter').removeClass('show-filter').addClass('show-bulk');
	    });

	    jQuery('[name=cancel]').on('click', function(){
	    	jQuery('.booking_filter').removeClass('show-bulk').addClass('show-filter');
	    });

	    if( jQuery('.tb-calendar').length > 0 )
	    {
			jQuery('.goto-today').on('click', function(){
				var idx = jQuery('.col-today').data('slick-index');

				jQuery('.tb-calendar .container-data').slick('slickGoTo', idx);
			});

	    	jQuery('.tb-calendar').each( function( e ){
	    		var slide = jQuery(this);

				slide.find('.container-data').on('init', function( event, slick ){
					setTimeout( function() {
			    		jQuery('.goto-today').trigger('click');
			    	}, 200);
				});

			    slide.find('.container-data').slick({
					slidesToScroll: 10,
					slidesToShow: 10,
					infinite: true,
					arrows: false
				});

				slide.find('.nav-prev').on('click', function(){
					slide.find('.container-data').slick('slickPrev');
				});

				slide.find('.nav-next').on('click', function(){
					slide.find('.container-data').slick('slickNext');
				});

			    slide.find('.add-booking').on('click', function(){
			    	var sel = jQuery(this);

			    	jQuery.fancybox.open({
		                src: '{ajax-url}',
		                type: 'ajax',
		                opts: {
		                    baseClass: 'popup-manual-form-booking',
		                    closeExisting: true,
		                    ajax: { 
		                        settings: { 
		                            type: 'POST',
		                            data: {
		                                pkey : 'view-availability-form',
		                                date : sel.data('date'),
		                                sid  : sel.data('sid'),
		                            }
		                        }
		                    },
		                    afterLoad : function( instance, current ){
		                        var form = jQuery(current.$content).find('form');
		                        var nsel = jQuery(current.$content).find('.text-number');

		                        init_number( nsel );

		                        form.find('[name=trip_type]').unbind();
							    form.find('[name=trip_type]').change(function(){
							    	var ttype = form.find('[name=trip_type]:checked').val();
							    	
							    	if( ttype == '0' )
							    	{
								        form.find('[name=ret_date]').val('');
								        form.find('#tr_return_date').hide();
							    	}
							    	else
							    	{
								        form.find('#tr_return_date').show();
							    	}
							    });
							    
							    form.find("[name=ret_date]").datepicker({
							        minDate: new Date( form.find('[name=dep_date]').val() ),
							        dateFormat: 'yy-mm-dd'
							    });

							    form.find('[name=cancel_manual_booking]').unbind();
								form.find('[name=cancel_manual_booking]').click(function(){
									instance.close();
								});

								form.find('[name=check_availibility]').unbind();
								form.find('[name=check_availibility]').click(function(){         
							        var prm = new Object;
							        	prm.rid       = form.find('[name=rid]').val();
							        	prm.sid       = form.find('[name=sid]').val();
								        prm.dep_date  = form.find('[name=dep_date]').val();
								        prm.ret_date  = form.find('[name=ret_date]').val();
								        prm.adult     = form.find('[name=adult]').val();
								        prm.child     = form.find('[name=child]').val();
								        prm.infant    = form.find('[name=infant]').val();
								        prm.trip_type = form.find('[name=trip_type]:checked').val();
							        	prm.pkey      = 'view-availability-result';
							        	
							        jQuery.ajax({
						                data: prm,
						                type : 'POST',
						                url: '{ajax-url}',
						                dataType : 'html',
						                beforeSend: function( xhr ){
		           							form.find('[name=check_availibility]').attr('disabled', true);
		           							form.find('.indicator').show();
						                },
						                success: function( e ){
			           						instance.close();

			           						init_booking_form( e );
						                },
						                error: function( e ){
			           						form.find('[name=check_availibility]').attr('disabled', false);
			           						form.find('.indicator').hide();
						                },
						            });

						            return false;
								});
		                    }
		                }
		            });

			        return false;
			    });
	    	});
	    }
	}

	function init_booking_form( content )
	{
		jQuery.fancybox.open( content, {
	        baseClass: 'popup-manual-form-booking',
	        closeExisting: true,
	        afterLoad : function( instance, current ){
	            var form = jQuery(current.$content).find('form');
	            var nsel = jQuery(current.$content).find('.text-number');

	            init_number( nsel );

	            form.find('[name=use_transport]').on( 'change', function(){
			        if( this.checked )
			        {
			            form.find('.transport .required-old').each(function(){
			                jQuery(this).removeAttr('disabled').removeClass('error');
			            });
			        }
			        else
			        {
			            form.find('.transport .required-old').each(function() {
			                jQuery(this).attr('disabled', 'disabled').removeClass('error').val('');
			                form.find('.cost-value').val(0);
			                form.find('.cost').text('');
			            });
			        }
			    });

			    form.find('[name=bstatus]').on( 'change', function(){
			    	if( this.value == 'wp' )
			    	{
			    		form.find('.wp-field').show();
			    	}
			    	else
			    	{
			    		form.find('.wp-field').hide();
			    	}
			    });

			    form.find('.dest_loc').change(function() {
			        var url  = form.data('url') + 'get-pickup-transfer-cost';
			        var sel  = jQuery(this);

			        if( sel.val() == '' )
			        {
			            sel.parent().parent().parent().find('.cost').text( 0 );
			            sel.parent().parent().parent().find('.cost-value').val( 0 );
			        }
			        else
			        {
				        var prm = new Object;
					        prm.adult_num = form.find('[name=adult]').val();
					        prm.child_num = form.find('[name=child]').val();
					        prm.from      = form.find('[name=from]').val();
					        prm.dest_loc  = sel.val();

			            jQuery.ajax({
			                url: url,
			                data: prm,
			                type: 'POST',
			                dataType: 'json',
			                beforeSend: function( xhr ){
			                    form.find('.send-book-inquiry').prop('disabled', true);
			                },
			                success: function( e ){
				                if( e.result == 'success' )
				                {
				                    sel.parent().parent().parent().find('.cost').text( e.cost_txt );
				                    sel.parent().parent().parent().find('.cost-value').val( e.cost );
				                }
				                else
				                {
				                    sel.parent().parent().parent().find('.cost').text( 0 );
				                    sel.parent().parent().parent().find('.cost-value').val( 0 );
				                }
			                },
			                complete: function( e ){
			                	form.find('.send-book-inquiry').prop('disabled', false);
			                },
			                error: function( e ){
			                    sel.parent().parent().parent().find('.cost').text( 0 );
			                    sel.parent().parent().parent().find('.cost-value').val( 0 );

			                	form.find('.send-book-inquiry').prop('disabled', false);
			                }
			            });
			        }
			    });

			    form.validate({
			    	errorClass: 'invalid-field',
					submitHandler: function( frm ){
			        	var url = form.attr('action');
			        	var prm = form.serializeArray();

						jQuery.ajax({
			                url: url,
			                data: prm,
			                type: 'POST',
			                dataType: 'json',
			                beforeSend: function( xhr ){
			                	form.find('.indicator').show();
			                    form.find('[name=submit_booking]').prop('disabled', true);
			                },
			                success: function( e ){
				                if( e.result == 'success' )
				                {
				                	location.reload( true );
				                }
				                else
				                {
				                	alert( 'Failed to add new booking!' )
				                }
			                },
			                complete: function( e ){
			                	form.find('.indicator').hide();
			                	form.find('[name=submit_booking]').prop('disabled', false);
			                },
			                error: function( e ){
			                	form.find('.indicator').hide();
			                	form.find('[name=submit_booking]').prop('disabled', false);
			                }
			            });
					},
					errorPlacement: function( error, element ){
						error.insertBefore( element );
					},
					rules: {
						add_pickup: {
							required: {
								depends: function(element) {
									return form.find('[name=pickup_dest]').val() != '';
								}
							}
						},
						add_transfer: {
							required: {
								depends: function(element) {
									return form.find('[name=trans_dest]').val() != '';
								}
							}
						}
					}
				});
			}
	    });
	}

	jQuery(document).ready(function() {
		init_datepicker();
		init_calendar();
	});
</script>
<!-- END list-block -->