<!-- BEGIN list-block -->
<div id="response"></div>
<form action="" method="post" name="alist">
    <div class="button_wrapper clearfix">
        <div class="button_right">
            <div class="search_box clearfix" style="float:right;">
                <div class="textwrap">
                    <input type="text" name="search" class="searchtext" value="" placeholder="Seach" autocomplete="off" />
                </div>
                <div class="buttonwrap">
                    <img src="{img-url}/ico-search.png" name="search" class="searchbutton" alt="">
                </div>
            </div>
        </div>            
    </div>

    <div class="list">    
        <h3>Latest Booking</h3>        
        <table id="booking-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th align="left" data-orderable="false">Booking Date</th>
                    <th align="left" data-orderable="false">Booked By</th>
                    <th align="left" data-orderable="false">Ticket Number</th>
                    <th align="left" data-orderable="false">Departure</th>
                    <th align="left" data-orderable="false">Destination</th>
                    <th align="left" data-orderable="false">Date</th>
                    <th align="left" data-orderable="false">Time</th>
                    <th align="left" data-orderable="false">Trip</th>
                    <th align="left" data-orderable="false">Status</th>
                    <th align="center" data-orderable="false">Adult</th>
                    <th align="center" data-orderable="false">Child</th>
                    <th align="center" data-orderable="false">Infant</th>
                    <th align="right" data-orderable="false">Total</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th colspan="9" align="right">Total:</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="button_wrapper clearfix">
        <div class="button_left button_view_more hidden">
            <ul class="button_navigation">
                <li><a href="{more_link}">View More</a></li>
            </ul>   
        </div>
    </div>
</form>

<script type="text/javascript">
    jQuery(document).ready(function(){
        var table  = jQuery('#booking-table').DataTable({
            dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
            columnDefs   : [{ targets:0, type:'date', targets:5, type:'date' }],
            lengthChange : false,
            info         : false,
            paging       : false,
            processing   : true,
            serverSide   : true,
            searching    : true,
            deferRender  : true,
            order        : [],
            ajax         : {
                url  : '{ajax-url}',
                type : 'POST',
                data : function(d){
                    d.pkey = 'load-latest-booking-data';
                }
            },
            columns: [
                {
                    data: 'bdate', render: function ( data, type, row ){
                        return data;
                    }
                },
                {
                    data: 'name', render: function ( data, type, row ){
                        return data;
                    }
                },
                {
                    data: 'no_ticket', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'rfrom', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'rto', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'date', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'time', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'type', render: function ( data, type, row ) {
                        return data == 1 ? 'Return' : 'One Way';
                    }
                },
                {
                    data: 'status', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'num_adult', render: function ( data, type, row ) {
                        return data;
                    },
                    className: 'text-center'
                },
                {
                    data: 'num_child', render: function ( data, type, row ) {
                        return data;
                    },
                    className: 'text-center'
                },
                {
                    data: 'num_infant', render: function ( data, type, row ) {
                        return data;
                    },
                    className: 'text-center'
                },
                {
                    data: 'total', 
                    render: $.fn.dataTable.render.number(',', '.', 0, ''),
                    className: 'text-right'
                }
            ],
            footerCallback: function( row, data, start, end, display ) {
                var api = this.api();
     
                //-- Remove the formatting to get integer data for summation
                var intVal = function( i ){
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };
     
                //-- Total over this page
                total_adult = api.column( 9, { page: 'current' }).data().reduce( function( a, b ){
                    return intVal( a ) + intVal( b );
                }, 0);

                total_child = api.column( 10, { page: 'current' }).data().reduce( function( a, b ){
                    return intVal( a ) + intVal( b );
                }, 0);

                total_infant = api.column( 11, { page: 'current' }).data().reduce( function( a, b ){
                    return intVal( a ) + intVal( b );
                }, 0);

                total_price = api.column( 12, { page: 'current' }).data().reduce( function( a, b ){
                    return intVal( a ) + intVal( b );
                }, 0);
     
                //-- Update footer
                var numFormat = $.fn.dataTable.render.number( '\,', '.', 0, '' ).display;

                jQuery( api.column( 9 ).footer() ).html( numFormat( total_adult ) );
                jQuery( api.column( 10 ).footer() ).html( numFormat( total_child ) );
                jQuery( api.column( 11 ).footer() ).html( numFormat( total_infant ) );
                jQuery( api.column( 12 ).footer() ).html( numFormat( total_price ) );
            }
        });

        table.on( 'draw.dt', function (){
            jQuery('.button_view_more').removeClass('hidden');
        });

        jQuery('[name=search]').on('keyup change', function(){
            table.search( this.value ).draw() ;
        });
    });
</script>
<!-- END list-block -->