<!-- BEGIN fSearch -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" media="screen" href="http://{plugin_url}/css/front.css" /> 
<div class="f-search-availability">
	<form name="search_availability" id="search_availability" method="post" action="http://{site_url}/check-ticket/">
		<table width="500">
			<tr>
				<td colspan="3">
					<input type="radio" name="trip_type" value="1" checked>  Return trip
					<input type="radio" name="trip_type" value="0" style="margin-left:20px;"> One way trip  
				</td>
			</tr>
			<tr>
				<td width="160">From</td>
				<td>:</td>
				<td width="300">
					<select style="width: auto;min-width:200px;" name="from" required>
						<option value=""></option>
						{option_destination_from}
					</select>
				</td>
			</tr>
			<tr>
				<td>To</td>
				<td>:</td>
				<td>
					<select style="width: auto;min-width:200px;" name="to" id="destination_to" required>
						<option value=""></option>
						{option_destination_to}
					</select>
				</td>
			</tr>
			<tr>
				<td>Departure date</td>
				<td>:</td>
				<td>
					<input type="text" name="dep_date" class="dpicker" required>
				</td>
			</tr>
			<tr id="field_return" style="">
				<td>Return date</td>
				<td>:</td>
				<td>
					<input type="text" name="ret_date" class="dpicker">
				</td>
			</tr>
			<tr>
				<td>No. of adult</td>
				<td>:</td>
				<td>
					<input type="text" name="adult" value="2" required>
				</td>
			</tr>
			<tr>
				<td>No. of child</td>
				<td>:</td>
				<td>
					<input type="text" name="child" value="1"> 
				</td>
			</tr>
			<tr>
				<td>No. of infant</td>
				<td>:</td>
				<td>
					<input type="text" name="infant" value="0">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="submit" name="check_ticket" value="Check">
					<!-- <input type="reset" name="reset_search" value="Reset"> -->
				</td>
			</tr>
		</table>		
	</form>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" ></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		var thaUrl = 'http://{site_url}/ticket-front-ajax';
		jQuery('[name=trip_type]').click(function(){
			var id = jQuery(this).val();
			if (id==1){
				jQuery('#field_return').fadeIn();
			}else{
				jQuery('#field_return').fadeOut();
			}
		});

		jQuery('[name=from]').change(function(){
			var from = jQuery(this).val();
			jQuery.post(thaUrl,{
				pKEY : 'get_option_destination_to',
				from : from
			}, function(data){
				data = '<option value=""></option>'+data;				
				jQuery('#destination_to').html(data);
			});
		});

		//datepicker
		jQuery(function() {
			jQuery('.dpicker').datepicker({
				minDate: 0,
				dateFormat:'yy-mm-dd'
			});
		});

		jQuery('#search_availability').submit(function(){
			var trip_type 	= $('[name=trip_type]:checked').val();
			var dep_date	= $('[name=dep_date]').val();
			var ret_date	= $('[name=ret_date]').val();			
			if (trip_type==1){
				if (ret_date==''){
					alert('Please set return date.');
					return false;
				}else{
					return true;
				}
			}else{
				return true;
			}
		});
	});
</script>
<!-- END fSearch -->
