<!-- BEGIN form-block -->
<h1>{ftitle}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
            </div>

            {alert}

            <div class="content-loop active">
                <div class="list_edit">
                    <fieldset>
                        <p>Destination name</p>
                        <p><input type="text" class="textbox" name="destination_name" value="{destination_name}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset>
                        <p>Apply on route</p>
                        <p>
                            <select class="select-option select-option-full" name="rid[]" autocomplete="off" required multiple data-placeholder="Select Routes">
                                {rid}
                            </select>
                        </p>
                    </fieldset>
                    <fieldset class="half">
                        <div class="col">
                            <p>Max Person</p>
                            <p><input type="text" class="textbox" name="max_person" value="{max_person}" autocomplete="off" required /></p>
                        </div>
                        <div class="col">
                            <p>Max Extra Person</p>
                            <p><input type="text" class="textbox no-border-left" name="max_extra_person" value="{max_extra_person}" autocomplete="off" required /></p>
                        </div>
                    </fieldset>
                    <fieldset class="half">
                        <div class="col">
                            <p>Rate</p>
                            <p><input type="text" class="textbox" name="rate" value="{rate}" autocomplete="off" required /></p>
                        </div>
                        <div class="col">
                            <p>Rate Additional</p>
                            <p><input type="text" class="textbox no-border-left" name="rate_additional" value="{rate_additional}" autocomplete="off" required /></p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <p>Status</p>
                        <p>
                            <input id="publish" type="radio" name="status" value="1" {checked_publish} />
                            <label for="publish">Publish</label>
                            <input id="unpublish" type="radio" name="status" value="0" {checked_unpublish} />
                            <label for="unpublish">Unpublish</label>
                        </p>
                    </fieldset>
                </div>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>
<!-- END form-block -->
