<!-- BEGIN form-block -->
<h1>{ftitle}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

			{alert}

            <div class="content-loop active">
                <div class="list_edit">
                    <fieldset>
                        <p>Route name</p>
                        <p><input type="text" class="textbox" name="rname" value="{rname}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset class="half">
                    	<div class="col">
	                        <p>From</p>
	                        <p><input type="text" class="textbox" name="rfrom" value="{rfrom}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col">
	                        <p>To</p>
	                        <p><input type="text" class="textbox no-border-left" name="rto" value="{rto}" autocomplete="off" required /></p>
	                    </div>
                    </fieldset>
                    <fieldset class="half">
	                    <p>One Way Trip Price</p>
                    	<div class="col-3">
	                        <p><i>Adult</i></p>
	                        <p><input type="text" class="textbox" name="rprice_1way" value="{rprice_1way}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p><i>Child</i></p>
	                        <p><input type="text" class="textbox no-border-left" name="rprice_1way_child" value="{rprice_1way_child}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p><i>Infant</i></p>
	                        <p><input type="text" class="textbox no-border-left" name="rprice_1way_infant" value="{rprice_1way_infant}" autocomplete="off" required /></p>
	                    </div>
                    </fieldset>
                    <fieldset class="half">
	                    <p>Return Trip Price</p>
                    	<div class="col-3">
	                        <p><i>Adult</i></p>
	                        <p><input type="text" class="textbox" name="rprice_2way" value="{rprice_2way}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p><i>Child</i></p>
	                        <p><input type="text" class="textbox no-border-left" name="rprice_2way_child" value="{rprice_2way_child}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p><i>Infant</i></p>
	                        <p><input type="text" class="textbox no-border-left" name="rprice_2way_infant" value="{rprice_2way_infant}" autocomplete="off" required /></p>
	                    </div>
                    </fieldset>
                    <fieldset>
                        <p>Status</p>
                    	<p>
	                    	<input id="publish" type="radio" name="status" value="1" {checked_publish} />
	                    	<label for="publish">Publish</label>
	                    	<input id="unpublish" type="radio" name="status" value="0" {checked_unpublish} />
	                    	<label for="unpublish">Unpublish</label>
	                    </p>
                    </fieldset>
                </div>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>
<!-- END form-block -->
