<!-- BEGIN form-block -->
<h1>{ftitle}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
            </div>

            {alert}

            <div class="content-loop active">
                <div class="list_edit">
                    <fieldset>
                        <p>Schedule name</p>
                        <p><input type="text" class="textbox" name="sname" value="{sname}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset class="half">
                        <p>Route</p>
                        <p>
                        	<select class="select-option medium_textbox" name="rid" autocomplete="off" required>
                        		<option value="">Select Route</option>
                        		{rid}
                        	</select>
                        </p>
                    </fieldset>
                    <fieldset class="half">
                        <p>Boat</p>
                        <p>
                        	<select class="select-option medium_textbox" name="sboat" autocomplete="off" required>
                        		<option value="">Select Boat</option>
                        		{sboat}
                        	</select>
                        </p>
                    </fieldset>
                    <fieldset class="half">
                    	<p>Time (24 hours format):</p>
                        <div class="col-3">
                            <p><i>Depart</i></p>
                            <p><input type="text" class="textbox" name="stime_departure" value="{stime_departure}" autocomplete="off" required /></p>
                        </div>
                        <div class="col-3">
                            <p><i>Arrive</i></p>
                            <p><input type="text" class="textbox no-border-left" name="stime_arrive" value="{stime_arrive}" autocomplete="off" required /></p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <p>Departure Group</p>
                        <p>
                            <input id="sunrise" type="radio" name="sparent" value="0" {checked_sunrise} />
                            <label for="sunrise">Sunrise</label>
                            <input id="sunset" type="radio" name="sparent" value="1" {checked_sunset} />
                            <label for="sunset">Sunset</label>
                        </p>
                    </fieldset>
                    <fieldset>
                        <p>Status</p>
                        <p>
                            <input id="publish" type="radio" name="status" value="1" {checked_publish} />
                            <label for="publish">Publish</label>
                            <input id="unpublish" type="radio" name="status" value="0" {checked_unpublish} />
                            <label for="unpublish">Unpublish</label>
                        </p>
                    </fieldset>
                </div>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>
<!-- END form-block -->