<!-- BEGIN list-block -->
<h1>{title}</h1>
<div class="tab_container">
    <div class="single_content">
        <div id="response"></div>
        <form action="" method="post" name="alist">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
	            <div class="button_right">
	                <div class="search_box clearfix" style="float:right;">
	                    <div class="textwrap">
	                        <input type="text" name="search" class="searchtext" value="" placeholder="Seach" autocomplete="off" />
	                    </div>
	                    <div class="buttonwrap">
	                        <img src="{img-url}/ico-search.png" name="search" class="searchbutton" alt="">
	                    </div>
	                </div>
	            </div>            
            </div>

            {alert}
            
            <div class="status_to_show">Show: {view-option}</div>
            <div class="list">            
                <table id="schedule-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th align="left" width="15" data-orderable="false">
                                <input type="checkbox" name="select_all" autocomplete="off" />
                            </th>
                            <th align="left">Departure Group</th>
                            <th align="left">Route</th>
                            <th align="left">Boat</th>
                            <th align="left" data-orderable="false">Depart</th>
                            <th align="left" data-orderable="false">Arrive</th>
                            <th align="left">Created By</th>
                            <th align="left">Created Date</th>
                            <th align="left">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
                
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table  = jQuery('#schedule-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ targets:7, type:'date' }],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax-url}',
                    type : 'POST',
                    data : function(d){
                        d.pkey = 'load-schedule-data';
                        d.show = jQuery('[name=data_to_show]:checked').val();
                    }
                },
                columns: [
                    {
                        data: 'sid', render: function ( data, type, row ){
                            var html = 
                            '<input type="checkbox" name="select[]" class="title_checkbox select" value="' + data + '"  autocomplete="off" />';

                            return html;
                        }
                    },
                    {
                        data: 'sparent', render: function ( data, type, row ){
                            var html = 
                            '<p>' + ( data == 0 ? 'Sunrise' : 'Sunset' ) + '</p>'+
                            '<div class="link-action">'+
                                '<div class="list-action" id="the-action-'+ row.sid +'">'+
                                    '<a href="' + row.edit_link + '">Edit</a>'+
                                    '<a href="' + row.ajax_link + '" class="delete-link" id="'+ row.sid +'" rel="' + data + '">Delete</a>'+
                                '</div>'+
                            '</div>';

                            return html;
                        }
                    },
                    {
                        data: 'rname', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'bname', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'stime_departure', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'stime_arrive', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'created_by', render: function ( data, type, row ) {
                            var html = 
                            '<div class="list_author">'+
                                '<div class="avatar">'+
                                    '<a href="' + row.user_link + '">'+
                                        '<img src="' + row.avatar + '" />'+
                                    '</a>'+
                                '</div>'+
                                '<a href="' + row.user_link + '">' + data + '</a>'+
                            '</div>';

                            return html;
                        }
                    },
                    {
                        data: 'created_date', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'status', render: function ( data, type, row ) {
                            if( data == '0' )
                            {
                                return '<strong style="color:red;">Unpublish</strong>';
                            }
                            else
                            {
                                return '<strong>Publish</strong>';
                            }
                        }
                    }
                ]
            });

            table.on( 'draw.dt', function (){
                jQuery(this).closest('.dataTables_wrapper').find('.dataTables_paginate').toggle( table.page.info().pages > 1 );
                delete_schedule_func( table );
                set_button_access();
            });

            jQuery('[name=search]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });

            jQuery('[name=data_to_show]').on('keyup change', function(){
                table.ajax.reload(function(){
                    delete_schedule_func( table );
                    set_button_access();
                }, false);
            });

            jQuery('.mlanguage-fieldset-trigger input').on('keyup change', function(){
                table.ajax.reload(function(){
                    delete_schedule_func( table );
                    set_button_access();
                }, false);
            });
        });

        function delete_schedule_func( table )
        {
            jQuery('.delete-link').unbind();
            jQuery('.delete-link').on('click', function(e){
                var url = jQuery(this).attr('href');
                var prm = new Object();
                    prm.pkey = 'delete-schedule';
                    prm.id   = jQuery(this).attr('id');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html( 'Are you sure want to delete this data?' );
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    table.ajax.reload(function(){

                                        if( e.result == 'success' )
                                        {
                                            show_popup( 'Notification', 'This data has been successfully deleted' );
                                        }
                                        else if( e.result == 'failed' )
                                        {
                                            show_popup( 'Warning', 'Sorry, This data can\'t be deleted. Please try again later' );
                                        }

                                        delete_schedule_func( table );

                                        set_button_access();

                                    }, false);
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup( 'Warning', 'Sorry, This data can\'t be deleted. Please try again later' );
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });

                return false;
            });
        }
    </script>
</div>
<!-- END list-block -->