<!-- BEGIN delete-block -->
<h1>{title}</h1>
<div class="tab_container">
	<div class="single_content">
		<form action="" method="post">
	    	<div class="alert_red_form">
	    		<strong>{message}</strong>
		    	<ol>
		    		<!-- BEGIN delete-loop-block -->
		    		<li>
		    			{sname} 
		    			<input type="hidden" name="id[]" value="{sid}">
		    		</li>
		    		<!-- END delete-loop-block -->
		    	</ol>
			</div>
			<div style="text-align:right; margin:0 20px 20px;">
				<input type="submit" name="confirm_delete" value="Yes" class="button" />
				<input type="button" name="confirm_delete" value="No" class="button" onclick="location='{backlink}'" />
			</div>
		</form>
	</div>
</div>
<!-- END delete-block -->