<!-- BEGIN result-content-block -->
<div class="heading-step">Step 1 : Choose Schedule</div>
<!-- BEGIN result-return-block -->
<div class="sch_desc">Departure Schedule</div>
<table class="tb-result" cellpadding="5" cellspacing="5" id="tb_result_departure">
    <tr class="head">
        <th class="text-center" width="50">#</th>
        <th class="text-left">Schedule</th>
        <th class="text-center" width="150">Date</th>
        <th class="text-center" width="150">Time</th>
    </tr>
    {dep-row-data}
</table>
<div class="sch_desc">Return Schedule</div>
<table class="tb-result" cellpadding="5" cellspacing="5" id="tb_result_return">
    <tr class="head">
        <th class="text-center" width="50">#</th>
        <th class="text-left">Schedule</th>
        <th class="text-center" width="150">Date</th>
        <th class="text-center" width="150">Time</th>
    </tr>
    {ret-row-data}
</table>
<div class="sch_desc">Trip Pricing</div>
<table class="tb-result tb-result-trip-pricing" cellpadding="5" cellspacing="5">
    <tr class="head">
        <th class="text-left">Passenger</th>
        <th class="text-left">Num</th>
        <th class="text-left">Rate</th>
        <th class="text-left">Sub Total</th>
    </tr>
    <tr>
        <td>Adult</td>
        <td>{num-adult}</td>
        <td>{price-per-adult}</td>
        <td>{total-adult}</td>
    </tr>
    <tr>
        <td>Child</td>
        <td>{num-child}</td>
        <td>{price-per-child}</td>
        <td>{total-child}</td>
    </tr>
    <tr>
        <td>Infant</td>
        <td>{num-infant}</td>
        <td>{price-per-infant}</td>
        <td>{total-infant}</td>
    </tr>
    <tr class="total-class">
        <td colspan="2"></td>
        <td>Total</td>
        <td>{total}</td>
    </tr>
</table>
<!-- END result-return-block -->

<!-- BEGIN result-oneway-block -->
<div class="sch_desc">#Departure Schedule : {schedule-date}</div>
<div class="continar-tb-result-one-waytrip">
    <table class="tb-result tb-result-one-waytrip" cellpadding="5" cellspacing="5" id="tb_result_departure">
        <tr class="head">
            <th rowspan="2">#</th>
            <th rowspan="2" class="text-left">Schedule</th>
            <th colspan="2" class="text-center">Time</th>
            <th colspan="3" class="text-center">Price</th>
            <th rowspan="2" class="text-center">Total<br><span class="desc-num">({num-adult} adults, {num-child} childs, {num-infant} infant)</span></th>
        </tr>
        <tr class="head">
            <th class="text-center">Departure</td>
            <th class="text-center">Arrive</td>
            <th class="text-center">Adult</td>
            <th class="text-center">Child</td>
            <th class="text-center">Infant</td>
        </tr>
        {row-data}
    </table>
</div>
<!-- END result-oneway-block -->

<div class="heading-step">Step 2 : Input Applicant Information</div>
<div class="pemesan pemesanan-app-info">
	<table class="tb-pemesan">
		<tbody>
			<tr>
				<td class="col">
					<table>
						<tr>
							<td width="80">Title*</td>
							<td width="10">:</td>
							<td>
								<select name="title" autocomplete="off" required>
									<option value="">Select Title</option>
									{option-title}
								</Select>
							</td>
						</tr>
						<tr>
							<td nowrap="nowrap">Full Name*</td>
							<td>:</td>
							<td><input type="text" name="fname" required></td>
						</tr>
						<tr>
							<td>Address</td>
							<td>:</td>
							<td><input type="text" name="address"></td>
						</tr>
					</table>
				</td>
				<td class="col">
					<table>
						<tr>
							<td width="80">Country</td>
							<td width="10" align="center">:</td>
							<td>
								<select name="country" autocomplete="off" required>
									<option value="">Select Country</option>		
									{option-country}				
								</Select>
							</td>
						</tr>
						<tr>
							<td>Phone *</td>
							<td>:</td>
							<td><input type="text" name="phone" required></td>
						</tr>
						<tr>
							<td>Email *</td>
							<td>:</td>
							<td><input type="email" name="email" required></td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="heading-step" style="clear:both;">Step 3 : Input Detail Passengers</div>
<div class="pemesan">
	<table class="passengers">
	 	{passenger}
	</table>
</div>
<div class="heading-step">Step 4 : Input Pickup & Transfer Address (Optional)</div>
<div class="pemesan pickup-transfer">
	<table class="transport">
		<tr>
            <td colspan="2">
                <label for="use-transport">
                	<input type="checkbox" name="use_transport" id="use-transport" />
                	<span class="icon"></span>
                	<span>Use Transport?</span>
                </label>
            </td>
		</tr>
		<tr>
            <td class="col">
				<table>
					<tr>
						<td width="110" nowrap="nowrap">Pickup Destination</td>
						<td width="10" align="center">:</td>
			            <td>
			            	<select class="dest_loc require-01 required-old" name="pickup_dest" disabled="disabled">
								<option value="">Select Destination</option>
			                	{option-destination}
			                </select>
			            </td>
					</tr>
					<tr>
						<td nowrap="nowrap">Pickup Address</td>
						<td>:</td>
						<td>
							<textarea name="add_pickup" rows="5" class="required-old require-01 textarea-add" disabled="disabled"></textarea>
						</td>
					</tr>
					<tr>
						<td nowrap="nowrap">Cost</td>
						<td>:</td>
						<td>
			            	<span class="cost">0</span>
			            	<input class="cost-value" type="hidden" name="pickup_cost" value="0"/>
						</td>
					</tr>
				</table>
            </td>
            <td class="col">
				<table>
					<tr>
						<td width="110" nowrap="nowrap">Transfer Destination</td>
						<td width="10" align="center">:</td>
			            <td>
			            	<select class="dest_loc require-02 required-old" name="trans_dest" disabled="disabled">
								<option value="">Select Destination</option>
			                	{option-destination}
			                </select>
			            </td>
					</tr>
					<tr>
						<td nowrap="nowrap">Transfer Address</td>
						<td>:</td>
						<td>
							<textarea name="add_transfer" rows="5" class="require-02 required-old textarea-add" disabled="disabled"></textarea>
						</td>
					</tr>
					<tr>
						<td nowrap="nowrap">Cost</td>
						<td>:</td>
						<td>
			            	<span class="cost">0</span>
			            	<input class="cost-value" type="hidden" name="trans_cost" value="0"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
    </table>
</div>
<!-- END result-content-block -->