<!-- BEGIN result-summary-block -->
<div class="hidden">
	<input type="text" name="to" value="{to}">
	<input type="text" name="from" value="{from}">
	<input type="text" name="adult" value="{adult}">
	<input type="text" name="child" value="{child}">
	<input type="text" name="infant" value="{infant}">
	<input type="text" name="dep_date" value="{dep_date}">
	<input type="text" name="ret_date" value="{ret_date}">
	<input type="text" name="trip_type" value="{trip_type}">
</div>
<table class="tb-summary">
	<tr>
		<td valign="top">
			<table cellpadding="5" cellspacing="5">
				<tr>
					<td width="120">Route</td>
					<td width="20" align="center">:</td>
					<td>{route}</td>
				</tr>
				<tr>
					<td>Departure date</td>
					<td align="center">:</td>
					<td>{dep_date}</td>
				</tr>
				<tr>
					<td>Return date</td>
					<td align="center">:</td>
					<td>{ret_date}</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table cellpadding="5" cellspacing="5">
				<tr>
					<td width="120">No. of Adult</td>
					<td width="20" align="center">:</td>
					<td>{adult}</td>
				</tr>
				<tr>
					<td>No. of Child</td>
					<td align="center">:</td>
					<td>{child}</td>
				</tr>
				<tr>
					<td>No. of Infant</td>
					<td align="center">:</td>
					<td>{infant}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END result-summary-block -->