<!-- BEGIN result-block -->
<div class="f-result-availability">
    <form id="f-booking" name="f-booking" method="post" action="{site-url}submit-ticket/" data-url="{site-url}">
    	{alert}	
		{summary}
		{step}
		<div class="border-new"></div>		
		<input type="submit" class="send-book-inquiry" name="submit_booking" value="Book Now">		
		<div class="" style="margin-top:4px;" id="note_error"></div>
	</form>
</div>
<!-- END result-block -->

<!-- BEGIN empty-block -->
<div class="container" style="padding-top:20px;">
	<style>
		.widget-search{
			display:block !important;
		}
	</style>
	<div style="margin: 20px 10px;padding:10px;">			
		{summary}
	</div>
	<p style="margin: 20px 10px;padding:10px;border:1px solid #ccc;" class="error">
		No schedule available is found, but changes may occur. 
		If you want to be notified for changes to availability on the date you want, please contact us at 
		<a style="color:#00468C; text-decoration:underline;" href="mailto:info@freebird-express.com">info@freebird-express.com.</a>
	</p>
</div>
<!-- END empty-block -->