<!-- BEGIN form-block -->
<h1>{ftitle}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

			{alert}

            <div class="content-loop active">
                <div class="list_edit">
                    <fieldset class="half">
                        <p>Label</p>
                        <p><input type="text" class="textbox" name="label" value="{label}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset class="half">
                        <p>Sef</p>
                        <p><input type="text" class="textbox" name="sef" value="{sef}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset class="half">
                        <p>Value</p>
                        <p><input type="text" class="textbox" name="value" value="{value}" autocomplete="off" required /></p>
                    </fieldset>
                </div>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>
<!-- END form-block -->