<!-- BEGIN form-block -->
<div class="static-setting">
    <h1>Global Settings</h1>
    <ul class="tabs">
        {admin_tab}
    </ul>
    <div class="tab_container">
        <div id="static" class="tab_content">            
            <form method="post" action="#" enctype="multipart/form-data">
                {alert}

                <div class="button_wrapper clearfix">
                    <ul class="button_navigation">
                        <li>{save_changes_botton}</li>
                    </ul>
                </div>

                <div class="form-field">
                    <fieldset>
                        <h2>Static Content</h2>
                        <p>You can set static content for your website like contact information, social media, etc</p>
                    </fieldset>
                    <fieldset>
                        <p>Homepage</p>
                        <select class="select-option" name="gbs_homepage" style="width:100%;">
                            {gbs_homepage}
                        </select>
                    </fieldset>
                    <fieldset>
                        <p>Why Ride With Us Section</p>
                        <ul style="margin:0; padding:0; list-style:none;">
                            <li>
                                <img src="{themes_url}/images/why-option-1.png" width="80" style="float:left; margin-right:10px;">
                                <textarea class="textbox" name="gbs_why_option_1" style="float:left; width:calc(100% - 114px); margin-bottom:10px; padding:7px;" rows="5">{gbs_why_option_1}</textarea>
                            </li>
                            <li>
                                <img src="{themes_url}/images/why-option-2.png" width="80" style="float:left; margin-right:10px;">
                                <textarea class="textbox" name="gbs_why_option_2" style="float:left; width:calc(100% - 114px); margin-bottom:10px; padding:7px;" rows="5">{gbs_why_option_2}</textarea>
                            </li>
                            <li>
                                <img src="{themes_url}/images/why-option-3.png" width="80" style="float:left; margin-right:10px;">
                                <textarea class="textbox" name="gbs_why_option_3" style="float:left; width:calc(100% - 114px); margin-bottom:10px; padding:7px;" rows="5">{gbs_why_option_3}</textarea>
                            </li>
                            <li>
                                <img src="{themes_url}/images/why-option-4.png" width="80" style="float:left; margin-right:10px;">
                                <textarea class="textbox" name="gbs_why_option_4" style="float:left; width:calc(100% - 114px); padding:7px;" rows="5">{gbs_why_option_4}</textarea>
                            </li>
                        </ul>
                    </fieldset>

                    <fieldset>
                        <h2>Popup Notification</h2>
                        <p>Set content and other setting for your popup notification</p>
                    </fieldset>
                    <fieldset>
                        <p>Content</p>
                        <textarea class="tinymce textarea" name="gbs_popup_content" autocomplete="off" rows="5">{gbs_popup_content}</textarea>
                    </fieldset>
                    <fieldset>
                        <p>Image and/or Text</p>
                        <select class="select-option" name="gbs_type_popup_content" autocomplete="off">
                            {gbs_type_popup_content}
                        </select>
                    </fieldset>
                    <fieldset>
                        <p>Publish Date</p>
                        <input class="date_textbox" type="text" name="gbs_publish_popup_content" value="{gbs_publish_popup_content}" />
                     </fieldset>
                     <fieldset>
                        <p>Unpublish Date</p>
                        <input class="date_textbox" type="text" name="gbs_unpublish_popup_content" value="{gbs_unpublish_popup_content}" />
                    </fieldset>

                    <fieldset>
                        <h2>Contact Information</h2>
                        <p>Set information for your contact form here</p>
                    </fieldset>
                    <fieldset class="hidden">
                        <p>Website Tag</p>
                        <input class="textbox" type="text" name="gbs_web_tag" value="{gbs_web_tag}" />
                     </fieldset>
                    <fieldset>
                        <p>Current Address</p>
                        <input class="textbox" type="text" name="gbs_address" value="{gbs_address}" />
                     </fieldset>
                    <fieldset>
                        <p>Phone Number</p>
                        <input class="textbox" type="text" name="gbs_phone_number" value="{gbs_phone_number}" />
                     </fieldset>
                    <fieldset>
                        <p>Maps Direction Link</p>
                        <input class="textbox" type="text" name="gbs_google_maps" value="{gbs_google_maps}" />
                     </fieldset>
                    <fieldset class="hidden">
                        <p>Email Address</p>
                        <input class="textbox" type="text" name="gbs_email" value="{gbs_email}" />
                     </fieldset>

                    <fieldset>
                        <h2>Email Setting</h2>
                        <p>Set SMTP email configuration for sending your email</p>
                    </fieldset>
                    <fieldset>
                        <p>Email Sender</p>
                        <input class="textbox" type="text" name="gbs_email_smpt" value="{gbs_email_smpt}" />
                     </fieldset>
                    <fieldset>
                        <p>SMTP Username</p>
                        <input class="textbox" type="text" name="gbs_username_smpt" value="{gbs_username_smpt}" />
                     </fieldset>
                    <fieldset>
                        <p>SMTP Password</p>
                        <input class="textbox" type="password" name="gbs_pass_email_smpt" value="{gbs_pass_email_smpt}" />
                     </fieldset>
                    <fieldset>
                        <p>SMTP Port</p>
                        <input class="textbox" type="text" name="gbs_port_smpt" value="{gbs_port_smpt}" />
                     </fieldset>

                    <fieldset>
                        <h2>Capcha Setting</h2>
                        <p>Set configuration for your reCAPTCHA account</p>
                    </fieldset>
                    <fieldset>
                        <p>Capcha Site Key</p>
                        <input class="textbox" type="text" name="gbs_capcha_site_key" value="{gbs_capcha_site_key}" />
                     </fieldset>
                    <fieldset>
                        <p>Capcha Secret Key</p>
                        <input class="textbox" type="text" name="gbs_capcha_secret_key" value="{gbs_capcha_secret_key}" />
                     </fieldset>

                    <fieldset>
                        <h2>DOKU Setting</h2>
                        <p>Set configuration for your doku account</p>
                    </fieldset>                    
                    <fieldset>
                        <p>Doku Server</p>
                        <select class="select-option" name="gbs_doku_server" style="width: 150px;" autocomplete="off">
                            {gbs_doku_server_option}
                        </select>
                     </fieldset>
                    <fieldset>
                        <p>Staging - Client ID</p>
                        <input class="textbox" type="text" name="gbs_doku_staging_client_id" value="{gbs_doku_staging_client_id}" autocomplete="off" />
                     </fieldset>
                    <fieldset>
                        <p>Staging - Client Secret</p>
                        <input class="textbox" type="text" name="gbs_doku_staging_client_secret" value="{gbs_doku_staging_client_secret}" autocomplete="off" />
                     </fieldset>
                    <fieldset>
                        <p>Production - Client ID</p>
                        <input class="textbox" type="text" name="gbs_doku_live_client_id" value="{gbs_doku_live_client_id}" autocomplete="off" />
                     </fieldset>
                    <fieldset>
                        <p>Production - Client Secret</p>
                        <input class="textbox" type="text" name="gbs_doku_live_client_secret" value="{gbs_doku_live_client_secret}" autocomplete="off" />
                     </fieldset>
                    <fieldset>
                        <p>Expired Time</p>
                        <input class="textbox" type="text" name="gbs_doku_expired_time" value="{gbs_doku_expired_time}" autocomplete="off" />
                     </fieldset>

                    <fieldset>
                        <h2>PayPal Setting</h2>
                        <p>Set configuration for your paypal account</p>
                    </fieldset>                     
                    <fieldset>
                        <p>PayPal Server</p>
                        <select class="select-option" name="gbs_paypal_server" style="width: 150px;" autocomplete="off">
                            {gbs_paypal_server_option}
                        </select>
                    </fieldset>
                    <fieldset>
                        <p>Staging - Account</p>
                        <input class="textbox" type="text" name="gbs_paypal_staging_account" value="{gbs_paypal_staging_account}" autocomplete="off" />
                     </fieldset>
                    <fieldset>
                        <p>Staging - Client ID</p>
                        <input class="textbox" type="text" name="gbs_paypal_staging_client_id" value="{gbs_paypal_staging_client_id}" autocomplete="off" />
                    </fieldset>
                    <fieldset>
                        <p>Staging - Client Secret</p>
                        <input class="textbox" type="text" name="gbs_paypal_staging_client_secret" value="{gbs_paypal_staging_client_secret}" autocomplete="off" />
                    </fieldset>
                    <fieldset>
                        <p>Production - Account</p>
                        <input class="textbox" type="text" name="gbs_paypal_live_account" value="{gbs_paypal_live_account}" autocomplete="off" />
                    </fieldset>
                    <fieldset>
                        <p>Production - Client ID</p>
                        <input class="textbox" type="text" name="gbs_paypal_live_client_id" value="{gbs_paypal_live_client_id}" autocomplete="off" />
                    </fieldset>
                    <fieldset>
                        <p>Production - Client Secret</p>
                        <input class="textbox" type="text" name="gbs_paypal_live_client_secret" value="{gbs_paypal_live_client_secret}" autocomplete="off" />
                    </fieldset>
                    <fieldset>
                        <p>USD Rate</p>
                        <input class="textbox" type="text" name="gbs_paypal_usd_rate" value="{gbs_paypal_usd_rate}" autocomplete="off" />
                    </fieldset>

                    <fieldset>
                        <h2>Social Media Account</h2>
                        <p>Set list of your social media account here</p>
                    </fieldset>
                    <fieldset>
                        <p>Facebook</p>
                        <input class="textbox" type="text" name="gbs_link_fb" value="{gbs_link_fb}" />
                    </fieldset>
                    <fieldset>
                        <p>TripAdvisors</p>
                        <input class="textbox" type="text" name="gbs_link_tripadvisors" value="{gbs_link_tripadvisors}" />
                    </fieldset>
                    <fieldset>
                        <p>Twitter</p>
                        <input class="textbox" type="text" name="gbs_link_twitter" value="{gbs_link_twitter}" />
                    </fieldset>
                    <fieldset>
                        <p>Pinterest</p>
                        <input class="textbox" type="text" name="gbs_link_pinterest" value="{gbs_link_pinterest}" />
                    </fieldset>
                    <fieldset>
                        <p>Skype</p>
                        <input class="textbox" type="text" name="gbs_link_skype" value="{gbs_link_skype}" />
                    </fieldset>
                    <fieldset>
                        <p>Whatsapp</p>
                        <input class="textbox" type="text" name="gbs_link_whatsapp" value="{gbs_link_whatsapp}" />
                    </fieldset>
                    <fieldset>
                        <p>Yahoo</p>
                        <input class="textbox" type="text" name="gbs_link_yahoo" value="{gbs_link_yahoo}" />
                    </fieldset>
                </div>

                <div class="button_wrapper clearfix">
                    <ul class="button_navigation">
                        <li>{save_changes_botton}</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END form-block -->