<!-- BEGIN form-block -->
<h1>{ftitle}</h1>
<div class="tab_container">
    <div class="single_content">
        <form method="post" action="">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

			{alert}

            <div class="content-loop active">
                <div class="list_edit">
                    <fieldset>
                        <p>Special rate name</p>
                        <p><input type="text" class="textbox" name="srname" value="{srname}" autocomplete="off" required /></p>
                    </fieldset>
                    <fieldset class="half">
                        <p>Route</p>
                        <p>
                        	<select class="select-option" name="rid" autocomplete="off" required>
                        		<option value="0">All Route</option>
                        		{rid}
                        	</select>
                        </p>
                    </fieldset>
                    <fieldset class="half">
                        <p>Schedule</p>
                        <p>
                        	<select class="select-option" name="sid" autocomplete="off" required>
                        		<option value="0">All Schedule</option>
                        		{sid}
                        	</select>
                        </p>
                    </fieldset>
                    <fieldset class="half">
                    	<div class="col-3">
	                        <p>Start</p>
	                        <p><input type="text" class="dpicker textbox" name="srdate_start" value="{srdate_start}" data-id="1" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p>End</p>
	                        <p><input type="text" class="dpicker textbox no-border-left" name="srdate_end" value="{srdate_end}" data-id="2" autocomplete="off" required /></p>
	                    </div>
                    </fieldset>
                    <fieldset class="half">
	                    <p>One Way Trip Price</p>
                    	<div class="col-3">
	                        <p><i>Adult</i></p>
	                        <p><input type="text" class="textbox" name="srprice_1way" value="{srprice_1way}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p><i>Child</i></p>
	                        <p><input type="text" class="textbox no-border-left" name="srprice_1way_child" value="{srprice_1way_child}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p><i>Infant</i></p>
	                        <p><input type="text" class="textbox no-border-left" name="srprice_1way_infant" value="{srprice_1way_infant}" autocomplete="off" required /></p>
	                    </div>
                    </fieldset>
                    <fieldset class="half">
	                    <p>Return Trip Price</p>
                    	<div class="col-3">
	                        <p><i>Adult</i></p>
	                        <p><input type="text" class="textbox" name="srprice_2way" value="{srprice_2way}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p><i>Child</i></p>
	                        <p><input type="text" class="textbox no-border-left" name="srprice_2way_child" value="{srprice_2way_child}" autocomplete="off" required /></p>
	                    </div>
                    	<div class="col-3">
	                        <p><i>Infant</i></p>
	                        <p><input type="text" class="textbox no-border-left" name="srprice_2way_infant" value="{srprice_2way_infant}" autocomplete="off" required /></p>
	                    </div>
                    </fieldset>
                    <fieldset>
                        <p>Status</p>
                    	<p>
	                    	<input id="publish" type="radio" name="status" value="1" {checked_publish} />
	                    	<label for="publish">Publish</label>
	                    	<input id="unpublish" type="radio" name="status" value="0" {checked_unpublish} />
	                    	<label for="unpublish">Unpublish</label>
	                    </p>
                    </fieldset>
                </div>
            </div>

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>

<script type="text/javascript">
	function get_date( el ){
		var date;

		try
		{
			date = jQuery.datepicker.parseDate( 'dd MM yy', el.value);
		}
		catch( error )
		{
			date = null;
		}

		return date;
	}
	
	function check_min_date( el )
	{
		var res;
		var date  = get_date( el );
		var mdate = jQuery(el).datepicker("option", "minDate");

		try
		{
			res = date >= mdate;
		}
		catch( error )
		{
			res = false;
		}

		return res;
	}

	jQuery(document).ready(function(){		
		jQuery('.dpicker').datepicker({
			dateFormat: 'dd MM yy',
			changeMonth: true,
			changeYear: true,
			minDate: 0
		}).on('change', function( e ) {
			e.preventDefault();

		    var dpid = jQuery(this).attr('data-id');
		    var dpi  = parseInt( dpid.slice( dpid.indexOf('-') + 1 ) );
		    var def  = get_date( this );

		    jQuery('.dpicker[data-id="' + ( dpi + 1 ) + '"]').prop( 'disabled', false ).datepicker( 'option', {
				defaultDate: def,
				minDate: def
		    });

		    if( check_min_date( this ) === false )
		    {
				this.value = '';

				return false;
		    }

		    return true;
		});

		jQuery('[name=rid]').on('change', function(){
			var srid = jQuery('[name=sid] option:selected').attr('data-rid');
			var rid  = jQuery(this).val();

			if( srid != rid )
			{
				jQuery('[name=sid]').val(0);
			}

			if( rid == 0 )
			{
				jQuery('[name=sid] option').prop('disabled', false);
			}
			else
			{
				jQuery('[name=sid] option[data-rid!="'+ rid +'"]').prop('disabled', true);
				jQuery('[name=sid] option[data-rid="'+ rid +'"]').prop('disabled', false);
				jQuery('[name=sid] option[value=""]').prop('disabled', false);
			}
		});

		jQuery('[name=sid]').on('change', function(){
			var rid  = jQuery(this).find('option:selected').attr('data-rid');
			
			if( jQuery('[name=rid] option[value="' + rid + '"]').length > 0 )
			{
				jQuery('[name=rid]').val( rid );
			}
			else
			{
				jQuery('[name=rid]').val(0);
				jQuery('[name=sid] option').prop('disabled', false);
			}
		});
	})
</script>
<!-- END form-block -->
