<!-- BEGIN contact-block -->
<div id="home-slide" class="{slide-class}">
    <div id="map-canvas" class="map-canvas">
        <img src="{theme-url}/images/maps.png" alt="">
    </div>
</div>

<div id="container-form-contact" class="page-title">
    <h1>CONTACT US</h1>
</div>
<div class="container desc clearfix">
    <div class="left">
        <form id="form-contact" class="form-contact" method="post" action="{action}" data-anchor="{anchor}">
            <p><input type="text" name="name" placeholder="Name*" required></p>
            <p><input type="text" name="phone" placeholder="Phone"></p>
            <p><input type="email" name="email" placeholder="Email*" required></p>
            <p><input type="text" name="subject" value="{subject}" placeholder="Subject"></p>
            <p><textarea name="message" placeholder="Message*" required></textarea></p>

            <input type="hidden" name="rkey" value="{recaptcha}" required>
            <input type="hidden" name="rresponse" required>

            <p><input type="submit" name="send_message" value="Send Inquiry" class="btn-submit"></p>
        </form>
    </div>
    <div class="right">
        <ul class="data-contact">
            <li>
                <div class="middle-data-contact clearfix">
                    <img src="{theme-url}/images/phone-dark.png">
                    <a href="tel:{phone-call}">{phone}</a>
                </div>
            </li>
            <li>
                <div class="middle-data-contact clearfix">
                    <img src="{theme-url}/images/email-dark.png">
                    <a href="mailto:{email}">{email}</a>
                </div>
            </li>
            <li>
                <div class="middle-data-contact clearfix">
                    <img src="{theme-url}/images/location-dark.png">
                    <span>Amed, Abang, Karangasem - East Bali - Indonesia, 80852</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END contact-block -->