<!-- BEGIN home-block -->
<!-- BEGIN home-slide-block -->
<div id="home-slide" class="c-widget-search bg-cover">
    <div class="home-slide-container">
        <!-- BEGIN home-slide-video-block -->
        <div class="home-slide-item home-slide-video youtube">
            <div class="video-wrapper">
                <div id="ytplayer" data-id="{slide-video-id}" data-src="{slide-video}" data-duration="{slide-video-duration}" class="embed-player slide-media"></div>
            </div>
        </div>
        <!-- END home-slide-video-block -->

        <!-- BEGIN home-slide-loop-block -->
        <div class="home-slide-item home-slide-image image">
            <img src="{slide-img}" alt="" />
        </div>
        <!-- END home-slide-loop-block -->
    </div>

    <div class="container a-ws">
        <div id="widget-search-home" class="widget-search widget-search-home oipo">
            <form id="search_availability" action="{site-url}check-ticket/" method="post" name="search_availability">
                <div class="row left">
                    <div class="title">Ride with Us!</div>
                    <input type="radio" value="1" name="trip_type" id="trip_type_11" required data-rel="widget-search-home" checked> <label for="trip_type_11"><span></span>Return</label>
                    <input type="radio" value="0" name="trip_type" id="trip_type_01" style="margin-left:20px;" required data-rel="widget-search-home"> <label for="trip_type_01"><span></span>One Way</label>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="c-select">
                            <p>From</p>
                            <input type="text" name="from" placeholder="Choose Location" class="txtlocation txt220 txtfrom ml0" required>
                            <span class="trigger-location"></span>
                            <ul class="option-location">
                                <li>Amed</li>
                                <li>Gili Trawangan</li>
                                <li>Gili Meno</li>
                                <li>Gili Air</li>
                                <li>Bangsal</li>
                                <li>Padangbai</li>
                            </ul>
                        </div>
                        <div class="c-select">
                            <p>To</p>
                            <input type="text" name="to" placeholder="Choose Location" class="txtlocation txt220 txtto" required>
                            <span class="trigger-location"></span>
                            <ul class="option-location ml0">
                                <li>Amed</li>
                                <li>Gili Trawangan</li>
                                <li>Gili Meno</li>
                                <li>Gili Air</li>
                                <li>Bangsal</li>
                                <li>Padangbai</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col" style="position:relative;">
                        <span class="tooltip"></span>
                        <input type="text" name="dep_date" id="dep_date1" placeholder="Depart Date" class="txt200 txtdate not-popup" autocomplete="off" readonly required>
                        <input type="text" name="ret_date" id="ret_date1" placeholder="Return Date" class="txt200 txtdate mr0" autocomplete="off" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-bottom-search">
                        <span class="lbl-adult">Adult</span>
                        <input type="text" name="adult" class="txt140 txtadult ml0" onkeyup="this.value=this.value.replace(/[^\d]/,'')" required>
                        <span class="lbl-child">Child</span>
                        <input type="text" name="child" placeholder="< 12yo" class="txt140 txtchild" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                        <span class="lbl-infant">Infant</span>
                        <input type="text" name="infant" placeholder="< 3yo" class="txt140 txtinfant mr0" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                    </div>
                    <input type="submit" value="Check Availability »" name="check_ticket" class="btn-submit-ca">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END home-slide-block -->

<div class="c-transform">
    <h1>Pacha Express is now FreeBird Express</h1>
    <div class="desc desc-home">We proudly present our new brand</div>
    <div class="li-c-transform clearfix">
        <img src="{theme-url}/images/pacha-old.png">
        <img src="{theme-url}/images/become.png">
        <img src="{theme-url}/images/big-freebird.png">
    </div>
</div>
<div class="c-why bg-cover">
    <div class="container why">
        <h1>Why Ride With Us?</h1>
        <ul>
            <li><img src="{theme-url}/images/why-option-1.png"><br><span>{gbs-why-option-1}</span></li>
            <li><img src="{theme-url}/images/why-option-2.png"><br><span>{gbs-why-option-2}</span></li>
            <li><img src="{theme-url}/images/why-option-3.png"><br><span>{gbs-why-option-3}</span></li>
            <li><img src="{theme-url}/images/why-option-4.png"><br><span>{gbs-why-option-4}</span></li>
        </ul>
    </div>
</div>
<div class="container desc">
    {content}
</div>
<!-- END home-block -->