<!-- BEGIN page-block -->
<div id="home-slide" class="{slide-class}">
    <div class="container a-ws"></div>
</div>

<div class="page-title">
    <h1>{page-title}</h1>
</div>

<!-- BEGIN page-map-content -->
<div id="map-canvas" style="width:100%; height:480px;"></div>
<script>
	function initialize()
	{
		var cta = new google.maps.KmlLayer({ url: '{theme-url}/routes.kml' });
		var map = new google.maps.Map( document.getElementById( 'map-canvas' ), { zoom: 11 } );

		cta.setMap( map );
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={map-key}&callback=initialize" async defer></script>
<!-- END page-map-content -->

<!-- BEGIN page-custom-content -->
<div class="wrap-desc-about f7-gray">
	<div class="container desc-about">
		{custom-content}
	</div>
</div>
<!-- END page-custom-content -->

<!-- BEGIN page-image -->
<div class="page_detail">
	<img src="{single-image}" />
</div>
<!-- END page-image -->

<!-- BEGIN page-slide -->
<div class="page_detail">
	<div class="page-slide">
        <div class="page-slide-container">
			<!-- BEGIN page-slide-loop -->
			<div class="slide-item"><img src="{slide-img}" alt="" /></div>
			<!-- END page-slide-loop -->        	
        </div>
        <div class="page-slide-nav">
			<!-- BEGIN page-thumb-slide-loop -->
			<div class="slide-item"><img src="{slide-thumb}" alt="" /></div>
			<!-- END page-thumb-slide-loop -->
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- END page-slide -->

<!-- BEGIN page-gallery -->
<div id="zoom-gallery" data-max_view="{max}" class="wrap gallery-item clearfix">
	<!-- BEGIN page-gallery-loop -->
	<a data-href="{image-medium}">
		<img data-src="{image-thumb}" alt="">
	</a>
	<!-- END page-gallery-loop -->
</div>
<!-- END page-gallery -->

<!-- BEGIN page-detail-content -->
<div class="{wrap-desc-style}">
    <div class="container desc">
        {page-content}
    </div>
</div>
<!-- END page-detail-content -->

<!-- BEGIN page-detail-content-custom -->
<div class="wrap-container-desc-custom">
    {page-content}
</div>
<!-- END page-detail-content-custom -->
<!-- END page-block -->