<!-- BEGIN payment-detail-block -->
<div id="home-slide" class="{slide-class}">
    <div class="container a-ws"></div>
    <div class="page-title">
        <h1>Payment</h1>
    </div>
</div>
<div class="wrap-desc-about f7-gray">
    <div class="container desc-about">
        <p style="text-align: center;">
            Please check your travel data again before making a payment.<br />
            If something goes wrong during the ordering process, please contact us at<br />
            <a href="mailto:info@freebird-express.com?subject=Reporting-Error">info@freebird-express.com</a>
        </p>
    </div>
</div>

<div class="container-payment">
    <h1>Ticket #{no_ticket}</h1>
    <div class="booking-section booked-by">
        <h2>Booked By</h2>
        <table class="tb-detail" cellspacing="1" cellpadding="5">
            <thead>
                <tr>
                    <th align="left" width="80">Title</th>
                    <th align="left">Name</th>
                    <th align="left">Address</th>
                    <th align="left">Country</th>
                    <th align="left" width="160">Phone</th>
                    <th align="left">Email</th>
                    <th align="left" width="160">Booking Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Title" valign="top">{btitle}</td>
                    <td data-label="Name" valign="top">{bname}</td>
                    <td data-label="Address" valign="top">{baddress}</td>
                    <td data-label="Country" valign="top">{bcountry}</td>
                    <td data-label="Phone" valign="top">{bphone}</td>
                    <td data-label="Email" valign="top">{bemail}</td>
                    <td data-label="Booking Date" valign="top">{created_date}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="booking-section passenger-detail">
        <h2>Passenger Detail</h2>
        <table class="tb-detail" cellspacing="1" cellpadding="5">
            <thead>
                <tr>
                    <th align="left" width="80">Type</th>
                    <th align="left">Name</th>
                    <th align="left">Country</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN payment-detail-passenger-block -->
                <tr>
                    <td data-label="Type" align="left">{ptype}</td>
                    <td data-label="Name" align="left">{pname}</td>
                    <td data-label="Country" align="left">{pcountry}</td>
                </tr>
                <!-- END payment-detail-passenger-block -->
            </tbody>
        </table>
    </div>
    <!-- BEGIN payment-detail-transport-block -->
    <div class="booking-section passenger-detail">
        <h2>Pickup & Transfer</h2>
        <table class="tb-detail" cellspacing="1" cellpadding="5">
            <thead>
                <tr>
                    <td align="left">Pickup Destination</td>
                    <td align="left">Pickup Address</td>
                    <td align="left">Transfer Destination</td>
                    <td align="left">Transfer Address</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Pickup Destination" align="left">{pickup_destination}</td>
                    <td data-label="Pickup Address" align="left">{address_pickup}</td>
                    <td data-label="Transfer Destination" align="left">{transfer_destination}</td>
                    <td data-label="Transfer Address" align="left">{address_transfer}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END payment-detail-transport-block -->
    <div class="booking-section booking-detail">
        <h2>Trip Detail</h2>
        <table class="tb-detail tb-detail-trip" cellspacing="1" cellpadding="5">
            <thead>
                <tr>
                    <th align="left">Depart From</th>
                    <th align="left">Destination</th>
                    <th align="left" width="100">Date</th>
                    <th align="center" width="100">Time Dept</th>
                    <th align="center" width="100">Time Arr</th>
                    <th align="right" width="80">Adult</th>
                    <th align="right" width="80">Child</th>
                    <th align="right" width="80">Infant</th>
                    <th align="right" width="100">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN payment-detail-loop-block -->
                <tr>
                    <td data-label="Depart From" align="left">{rfrom}</td>
                    <td data-label="Destination" align="left">{rto}</td>
                    <td data-label="Date" align="left">{date}</td>
                    <td data-label="Time Departure" align="center">{stime_departure}</td>
                    <td data-label="Time Arrival" align="center">{stime_arrive}</td>
                    <td data-label="Adult" align="right">{adult_price}</td>
                    <td data-label="Child" align="right">{child_price}</td>
                    <td data-label="Infant" align="right">{infant_price}</td>
                    <td data-label="Subtotal" align="right"><span class="text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{total}</span></td>
                </tr>
                <!-- END payment-detail-loop-block -->
            </tbody>
            <tfoot>
                <!-- BEGIN payment-detail-transport-2-block -->
                <tr>
                    <td colspan="8" align="right">Pickup Cost</td>
                    <td data-label="Pickup Cost" align="right" width="160"><span class="text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{pickup_cost}</span></td>
                </tr>
                <tr>
                    <td colspan="8" align="right">Transfer Cost</td>
                    <td data-label="Transfer Cost" align="right" width="160"><span class="text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{transfer_cost}</span></td>
                </tr>
                <!-- END payment-detail-transport-2-block -->
                <tr>
                    <td colspan="8" align="right">Total</td>
                    <td data-label="Total" align="right" width="160"><span class="text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{total_summary}</span></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="terms-block">
        <label for="terms" class="label-terms">
            <input type="checkbox" name="terms" id="terms" />
            <span class="icon"></span>
        </label>
        <a href="{tandc_link}" target="_blank" class="terms_link">I have read and agreed with the terms & conditions</a>
    </div>
    <div class="clearfix"></div>
    <div class="payment-opt">
        <select name="pmethod" class="select-option">
            {payment_option}
        </select>

        <form class="doku-form {action_doku_css}" action="{action_doku}" method="post">
            <div class="payment-method">
                <button type="submit" name="doku_confirm" data-type="doku">Confirm and Pay</button>
            </div>
            <div class="payment-method">
                <div class="hidden">
                    <input type="text" name="id" value="{bid}">
                    <input type="text" name="name" value="{bname}">
                    <input type="text" name="email" value="{bemail}">
                    <input type="text" name="phone" value="{bphone}">
                    <input type="text" name="address" value="{baddress}">
                    <input type="text" name="country" value="{bcountry}">
                    <input type="text" name="ticket" value="{no_ticket}">
                    <input type="text" name="booked_by" value="{booked_by}">
                    <input type="text" name="amount" value="{total_summary}">
                </div>
                <ul class="list-unstyled">
                    <li><img class="image image-4" src="{template_url}/images/visa.svg"></li>
                    <li><img class="image image-5" src="{template_url}/images/mastercard.svg"></li>
                </ul>
            </div>
        </form>

        <form class="paypal-form {action_paypal_css}" action="{action_paypal}" method="post">
            <div class="payment-method">
                <button type="submit" name="paypal_confirm" data-type="paypal">Confirm and Pay</button>
            </div>
            <div class="payment-method">
                <div class="hidden">
                    <input type="text" name="id" value="{bid}">
                    <input type="text" name="ticket" value="{no_ticket}">
                    <input type="text" name="amount" value="{total_summary}">
                </div>
                <ul class="list-unstyled">
                    <li><img class="image image-4" src="{template_url}/images/visa.svg"></li>
                    <li><img class="image image-5" src="{template_url}/images/mastercard.svg"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<!-- END payment-detail-block -->

<!-- BEGIN empty-block -->
<div id="home-slide" class="{slide-class}">
    <div class="container a-ws"></div>
    <div class="page-title">
        <h1>Invalid Payment</h1>
    </div>
</div>
<div class="wrap-desc-about f7-gray">
    <div class="container desc-about">
        <p style="text-align: center;">
            Sorry, it seems this payment page is already invalid.<br/>
            Please contact us if you need any help or any question at<br/>
            <a href="mailto:info@freebird-express.com?subject=Reporting-Error">info@freebird-express.com</a> or call
            <a href="tel:081999242600">081 999 242 600</a> 
        </p>
    </div>
</div>
<!-- END empty-block -->