<!-- BEGIN popup-block -->
<div id="popup-plugin" class="popup-plugin">
    <div class="content-pp">
        <button class="close" onClick="close_popup_plugin(event)"><img src="{theme-url}/images/close-popup.png"></button>
        <div class="content-middle-pp content-middle-pp-{content-type}">
            {content}
        </div>
    </div>
</div>
<div id="overlay-plugin" class="overlay-plugin"></div>
<!-- END popup-block -->