<!-- BEGIN static-block -->
<div id="home-slide" class="c-widget-search bg-cover">
    <div class="container a-ws"></div>
</div>
<div class="page-title">
    <h1>{title}</h1>
</div>
<div class="wrap-desc-about f7-gray">
	<div class="container desc-about">
		<p style="text-align:center;">{content}</p>
	</div>
</div>
<!-- END static-block -->