.lumonata_menu ul li.ticket{
    background-image: url('../images/ico-ticket.png');
    background-position: 7px 3px;
    background-size: 24px 24px;
}

.lumonata_menu ul li.social_media{
    background-image: url('../images/ico-social-media.png');
    background-position: 7px 3px;
    background-size: 24px 24px;
}

.text-left{
    text-align: left !important;
}

.text-center{
    text-align: center !important;
}

.text-right{
    text-align: right !important;
}

.show-data-length{
    margin-left: 15px;
}

.show-data-length b{
    margin-right: 15px;
}

.booking_filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: max-content;
    margin-bottom: 15px;
}

.booking_filter select,
.booking_filter input{
    margin-right: 5px;
    font-size: 13px;
    height: 33px;
}

.booking_filter select + .select2-container{
    margin-right: 5px;
}

.booking_filter .textbox{
    width: 150px;
    padding: 5px;
    height: 33px;
    min-width: 0;
}

.booking_filter .filters{
    border: 1px solid #bbbbbb;
    background: #f5f5f5;
    padding: 0 15px;
    height: 33px;
}

.show-filter .bulk-option{
    display: none;
}

.show-filter .filter-option{
    display: block;
}

.show-bulk .bulk-option{
    display: block;
}

.show-bulk .filter-option{
    display: none;
}

.button_left .booking_filter{
    padding: 0;
    margin: 0;
}

.button_view_more{
    width: 100%;
}

.button_view_more .button_navigation{
    text-align: center;
}

.btn-submit-filter {
    height: 30px;
    vertical-align: middle;
    margin-top: -1px;
}

/* ---------------------------- *
 * Schedule Calendar
 * ---------------------------- */
.wrap-calendar{
    display: inline-block;
    position: relative;
    min-height: 610px;
}

.wrap-calendar .wrap-container-data{
    position: relative;
    overflow: hidden;
    width: 860px;
}

.wrap-calendar .container-data {
    position: relative;
}

.wrap-calendar .trigger-prev,
.wrap-calendar .trigger-next {
    background-position: center;
    display: inline-block;
    cursor: pointer;
    height: 14px;
    width: 6px;
}

.wrap-calendar .trigger-prev {
    background: url('../images/nav-prev.png') no-repeat center center;
}

.wrap-calendar .trigger-next {
    background: url('../images/nav-next.png') no-repeat center center;
}

.tb-calendar{
    border-collapse: collapse;
    background: #f5f5f5;
}

.tb-calendar td{
    border: 1px solid #bbbbbb;
    background: #fff;
    text-align: left;
    padding: 10px;
    height: 26px;
}

.tb-calendar .head{
    border: 1px solid #bbbbbb;
    background: #f5f5f5;
    font-weight: bold;
}

.tb-calendar .body{
    font-weight: bold;
    padding: 0;
}

.tb-calendar .nav{
    border: 1px solid #bbbbbb;
    background: #f5f5f5;
    text-align: center;
    cursor: pointer;
    width: 30px;
    padding: 0;
}

.tb-calendar .col{
    border-right: 1px solid #bbbbbb;
    width: 100px;
    float: left;
}

.tb-calendar .col-date,
.tb-calendar .col-allot{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 50px;
}

.tb-calendar .col-date{
    background: #f5f5f5;
}

.tb-calendar .col-allot{
    border-top: 1px solid #bbbbbb;
    background: #D2FF4D;
    position: relative;
}

.tb-calendar .col .overload{
    background: #000;
    color: #fff;
}

.tb-calendar .col .some-book{
    background: #f1da36;
}

.tb-calendar .col .today{
    background: #EDFFBA;
}

.tb-calendar .col .full{
    background: #FF9673;
}

.tb-calendar .wrap {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.tb-calendar .col:hover .wrap {
    display: block;
}

.tb-calendar .wrap .td-option {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    color: #333333;
    display: flex;
    height: 100%;
    width: 100%;
}

.tb-calendar .wrap:hover .menu {
    display: block;
}

.tb-calendar .wrap .menu {
    border: 1px solid #BBB;
    background: #f5f5f5;
    position: absolute;
    width: max-content;
    text-align: left;
    display: none;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.tb-calendar .wrap .menu span {
    font-size: 12px;
    display: block;
    padding: 10px;
}

.tb-calendar .wrap .menu span a {
    text-decoration: none;
    display: block;
    color: #ef451e;
}

.tb-calendar .wrap .menu span:hover {
    background: #ddd;
}

.goto-today {
    position: absolute;
    top: -20px;
    right: 0;
}

/* ---------------------------- *
 * Popup Booking Detail
 * ---------------------------- */
.popup-booking-content{
    background: #f9f9f9 !important;
}

.popup-booking-content .tb-detail {
    background: #bbbbbb;
}

.popup-booking-content .tb-detail td {
    background: #ffffff;
}

.popup-booking-content .tb-detail .head td {
    background: #cccccc;
    text-align: center;
}

.popup-booking-content .no-ticket {
    background: none repeat scroll 0 0 #eeeeee;
    padding: 10px 15px;
    position: relative;
}

.popup-booking-content .no-ticket h1{
    width: max-content;
    position: relative;
    font-size: 16px;
    color: #EF451E;
    margin: 0;
}

.popup-booking-content .booking-status {
    width: max-content;
    position: absolute;
    cursor: pointer;
    padding: 5px;
    z-index: 1;
    bottom: 0;
    right: 0;
    top: 0;
}

.popup-booking-content .booking-status ul {
    background-color: #aaa;
    position: absolute;
    list-style: none;
    min-width: 180px;
    display: none;
    margin: 3px 0;
    width: 100%;
    padding: 0;
    right: 5px;
}

.popup-booking-content .booking-status ul li {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 0;
}

.popup-booking-content .booking-status ul li label{
    position: relative;
    padding: 12px 10px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.popup-booking-content .booking-status ul li input{
    position: absolute;
    visibility: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

.popup-booking-content .booking-status ul li:hover {
    background-color: #666;
}

.popup-booking-content .booking-status-open ul {
    display: block;
}

.popup-booking-content .notice{
    padding: 5px 10px 5px 5px;
    justify-content: center;
    align-items: center;
    background: #DDDDDD;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    height: 100%;
}

.popup-booking-content .ca-notice {
    background: linear-gradient(to bottom, #FB9513 0px, #FFA713 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.popup-booking-content .pp-notice,
.popup-booking-content .wp-notice {
    background: linear-gradient(to bottom, #077e8c 0px, #0977F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.popup-booking-content .pd-notice {
    background: linear-gradient(to bottom, #6CBD58 0px, #5FA74E 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.popup-booking-content .cl-notice {
    background: linear-gradient(to bottom, #DD5952 0px, #BC3E33 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.popup-booking-content .booking-status-icon{
    display: inline-block;
    margin-right: 10px;
    height: 27px;
    width: 27px;
}

.popup-booking-content .booking-status-label{
    font-size: 14px;
    color: #FFFFFF;
}

.popup-booking-content h2{
    line-height: 22px;
    font-size: 14px;
    margin: 10px 0;
    padding: 0;
}

.popup-booking-content .booked-by{
    position: relative;
}

.popup-booking-content table{
    width: 100%;
}

.popup-booking-content select{
    height: 33px;
    width: 100%;
    margin: 0;
}

.popup-booking-content .textbox{
    min-width: 0;
    height: 33px;
    margin: 0;
}

.popup-booking-content select:disabled,
.popup-booking-content .textbox:disabled{
    background: #f5f5f5 !important;
}

.popup-booking-content .edit-act {
    background-image: url(../images/edit.png);
    background-position: left center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 21px;
    position: absolute;
    text-align: left;
    cursor: pointer;
    color: #EE836A;
    height: 22px;
    border: none;
    width: 22px;
    padding: 0;
    left: 110%;
    top: 2px;
}

.popup-booking-content .edit-act input{
    cursor: pointer;
    opacity: 0;
}

.popup-booking-content .cont-edit {
    display: none;
}

.popup-booking-content .overlay{
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;
}

.popup-booking-content .overlay img{
    margin-left: -5.5px;
    margin-top: -21.5px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.popup-booking-content .action .filters{
    border: 1px solid #bbbbbb;
    text-decoration: none;
    background: #f5f5f5;
    margin-right: 5px;
    line-height: 35px;
    margin-top: 20px;
    padding: 0 15px;
    display: block;
    height: 35px;
    float: left;
}

.popup-booking-content .action span{
    padding-left: 15px;
    line-height: 35px;
    margin-top: 20px;
    font-size: 14px;
    height: 35px;
    float: left;
}

.popup-booking-content .action .success{
    display: inline-block;
    color: #28a745;
}

.popup-booking-content .action .failed{
    display: inline-block;
    color: #dc3545;
}

.popup-booking-content .edit-info-state .overlay{
    display: block;
}

.popup-booking-content .pd-notice .booking-status-icon{
    background-image: url(../images/notice-success.png);
}

.popup-booking-content .pp-notice .booking-status-icon{
    background-image: url(../images/notice-error.png);
}

.popup-booking-content .cl-notice .booking-status-icon{
    background-image: url(../images/canceled.png);
}

.popup-booking-content .ca-notice .booking-status-icon{
    background-image: url(../images/check-availability.png);
}

.popup-booking-content .wp-notice .booking-status-icon{
    background-image: url(../images/waiting-payment.png);
}

/* ---------------------------- *
 * Popup Manual Booking Form
 * ---------------------------- */
.popup-manual-form-booking .form-manual-booking {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.popup-manual-form-booking .indicator{
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

.popup-manual-form-booking hr{
    background: #cccccc;
    border: none;
    height: 1px;
    width: 100%;
}

.popup-manual-form-booking .textbox{
    min-width: 0;
}

.popup-manual-form-booking .loader {
    background: url(../images/loading.gif) no-repeat center center;
    margin-left: -15.5px;
    margin-top: -15.5px;
    position: absolute;
    min-height: 31px;
    min-width: 31px;
    left: 50%;
    top: 50%;
}

.popup-manual-form-booking .filters{
    border: 1px solid #ef451e;
    background: #ef451e;
    padding: 0 15px;
    cursor: pointer;
    color: #ffffff;
    height: 30px;
}

.popup-manual-form-booking .f-booking table{
    border-collapse:  collapse;
    margin: 0 0 10px;
    width: 100%;
}

.popup-manual-form-booking .f-booking .other-table{
    border-top: 1px dashed #aaa;
}

.popup-manual-form-booking .f-booking .other-table select{
    width: 150px;
}

.popup-manual-form-booking .tb-result th{
    background-image: none;
}

.popup-manual-form-booking  .tb-result.tb-result-trip-pricing{
    margin-bottom: 15px;
}

.popup-manual-form-booking input[type="radio"]{
    width: max-content;
    opacity: 1;
}

.popup-manual-form-booking .pemesan.pickup-transfer{
    margin-bottom: 0;
}

.select-option-full + .select2-container{
    width: 100% !important;
}

.select-option-full + .select2-container--default .select2-selection--multiple{
    min-height: 32px;
}

.select-option-full + .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding-bottom: 5px;
}