.f-result-availability *, 
.f-result-availability *:before, 
.f-result-availability *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
}

.f-search-availability {
    display: inline-block;
    margin: 40px;
    padding: 10px;
    border: 1px solid #ccc
}

.f-search-availability td {
    padding: 4px
}

.f-search-availability input {
    padding: 2px 5px
}

.f-result-availability {
    margin: 20px auto;
    font-weight: 400;
    width: 1078px;
    font-size: 16px
}

.heading-step {
    margin: 10px 0;
    padding: 12px 0;
    border: none;
    background-color: #4D789F;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400
}

.sch_desc {
    overflow: hidden;
    padding-left: 30px;
    margin-bottom: 15px;
    background: url(../images/nav-result.png) no-repeat;
    background-position: 7px center;
    color: #436A8C;
    font-weight: 600;
    text-transform: uppercase
}

.skip {
    display: inline-block;
    float: right
}

.text-left{
	text-align: left !important;
}

.text-center{
	text-align: center !important;
}

.text-right{
	text-align: right !important;
}

.tb-result {
	border-collapse: collapse;
    background: #B0B0B0;
    margin-bottom: 20px;
    width: 100%;
}

.tb-result th {
    line-height: 1.5em;
    font-weight: 400;
    padding: 10px;
}

.tb-result td {
    position: relative;
    line-height: 1.5em;
    padding: 10px;
}

.tb-result .head {
    background: #BBB !important;
    text-align: center;
    color: #fff;
}

.tb-result tr:nth-child(odd) {
    background: #E4E4E4
}

.tb-result tr:nth-child(even) {
    background: #F4F4F4
}

.tb-result tr:first-child th:last-child {
    border-right: none
}

.tb-result label.invalid-field{
	border: 1px solid #fcc2c3;
	background: #fce4e4;
    position: absolute;
	width: max-content;
	padding: 3px 15px;
	font-size: 14px;
	color: #cc0033;
	height: 32px;
	z-index: 1;
	left: 35px;
	top: 6px;
}

.pemesan {
    margin-bottom: 20px;
    overflow: hidden
}

.pemesan td {
    padding: 5px
}

.pemesan input[type=text],
.pemesan input[type=email]{
    border: 1px solid #bbb;
    padding: 0 7px;
    height: 32px;
    width: 100%;
}

.pemesan select,
.transport select {
    border: 1px solid #bbb;
    max-width: 100%;
    padding: 0 7px;
    height: 32px;
    width: 100%;
}

.pemesan .select2-container,
.transport .select2-container {
    border: 1px solid #bbb;
    width: 100% !important;
    height: 100%;
}

.select2-container--default .select2-selection--single {
    height: 100%;
    border: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
    font-weight: 500;
    color: #211915;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.f-reviews-booking {
    max-width: 960px;
    margin: 0 auto;
    font-size: 15px
}

.f-reviews-booking h1 {
    color: #bbb
}

.f-reviews-booking .tb-review td {
    padding-right: 10px;
    padding-bottom: 10px;
}

.btn-paypal {
    cursor: pointer;
    width: 100px;
    height: 35px;
    border: none;
    font-size: 0;
    background: url(../images/paypal.gif);
    background-size: 100px 35px
}

.tb-summary {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
}

.tb-summary table{
    width: 100%;
}

input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden
}

tr.total-class {
    background: #0092C1 !important;
    color: #fff
}

table.tb-result.tb-result-trip-pricing {
    margin-bottom: 35px
}

table.tb-pemesan {
    font-size: 14px;
    width: 100%;
}

table.tb-pemesan table{
    width: 100%;
}

table.tb-pemesan table td{
	line-height:  1.5em;
	position: relative;
}

table.tb-pemesan label.invalid-field{
	border: 1px solid #fcc2c3;
	background: #fce4e4;
    position: absolute;
	width: max-content;
	padding: 3px 15px;
	font-size: 14px;
	color: #cc0033;
	height: 32px;
	right: 13px;
	z-index: 1;
	top: -3px;
}

table.passengers {
    font-size: 14px;
    width: 100%;
}

table.passengers table{
    width: 100%;
}

table.passengers td{
	line-height:  1.5em;
	position: relative;
}

table.passengers label.invalid-field{
	border: 1px solid #fcc2c3;
	background: #fce4e4;
    position: absolute;
	width: max-content;
	padding: 3px 15px;
	font-size: 14px;
	color: #cc0033;
	height: 32px;
	right: 13px;
	z-index: 1;
	top: -3px;
}

table.transport {
    font-size: 14px;
    width: 100%;
}

table.transport table{
    width: 100%;
}

table.transport table td{
	line-height:  1.5em;
	position: relative;
}

table.transport label.invalid-field{
	border: 1px solid #fcc2c3;
	background: #fce4e4;
    position: absolute;
	width: max-content;
	padding: 3px 15px;
	font-size: 14px;
	color: #cc0033;
	height: 32px;
	right: 13px;
	z-index: 1;
	top: -3px;
}

.textarea-add {
    width: 100%;
    height: 115px;
    resize: none;
    padding: 7px;
    border: solid 1px #bbb;
}

.textarea-add:disabled{
	background: #eee;
}

.terms-block {
    float: right;
    margin: 30px 0;
    font-size: 14px;
}

.terms-block a{
    color: #666;
}

select {
    height: 30px;
    line-height: 30px;
    -webkit-appearance: none;
    padding: 0 40px 0 20px;
    background: url(../images/dd-select.png) no-repeat;
    background-position: calc(100% - 10px) center;
    max-width: 265px
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0
}

label input[type="checkbox"] + .icon {
    background: url(../images/checkbox.png) no-repeat;
    background-position: 0 -2px;
    margin: 0 7px;
    height: 20px;
    width: 21px;
}

label input[type="checkbox"] + span {
    float: left
}

label input[type="checkbox"] +:after {
    content: "";
    clear: both
}

label input[type="checkbox"] +:before {
    content: "";
    clear: both
}

label input[type="checkbox"]:checked + .icon {
    background-position: -27px -2px
}

.border-new {
    height: 1px;
    width: 100%;
    background: url(../images/dotted-custom.png) repeat-x
}

input.send-book-inquiry {
    width: 244px !important;
    height: 44px !important;
    font-size: 18px !important;
    text-transform: inherit !important;
    margin-top: 30px;
    border-radius: 7px !important
}

.pemesan.pickup-transfer {
    margin-bottom: 40px;
    font-size: 14px
}

.error {
    background-color: transparent !important;
    border: 1px solid red !important;
    color: #900 !important
}

.error::-webkit-input-placeholder {
    color: #900
}

.error:-moz-placeholder {
    color: #900
}

.error::-moz-placeholder {
    color: #900
}

.error:-ms-input-placeholder {
    color: #900
}

#note_error .error {
    background-color: #E8AEB6 !important;
    padding: 5px !important
}


.wrap.page.review-booking .f-reviews-booking {
    margin-top: 60px;
    margin-bottom: 100px;
}

.wrap.page.review-booking .container.desc {
    display: none;
}

label.label-terms span.icon {
    margin-right: 0px !important;
    width: 20px !important;
}

.f-result-availability .alert_red_form{
	border: 1px solid #fcc2c3;
	background: #fce4e4;
	padding: 10px 15px;
	font-size: 14px;
	color: #cc0033;
}

.f-result-availability .alert_red_form ul{
	line-height: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
}

.container-payment{
    max-width: 95%;
    margin: 0 auto;
    width: 1078px;
}

.container-payment h1,
.container-payment h2{
    color: #666666;
}

.container-payment h1{
    text-align: center;
}

.container-payment table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.container-payment table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

.container-payment table th,
.container-payment table td {
    padding: 10px;
}

.container-payment table th {
    background-color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
}

.container-payment table td {
    background-color: #f9f9f9;
}

.container-payment .payment-method{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 15px 0;
        width: 100%;
}

.container-payment .payment-method:last-child{
    margin-bottom: 50px;
}

.container-payment .payment-method label{
    letter-spacing: .1em;
    font-size: 14px;
}

.container-payment .payment-method select{
    margin: 0 10px;
    height: 33px;
}

.container-payment .payment-method button{
    background-color: #00A2D9;
    text-transform: uppercase;
    border: 1px solid #00A2D9;
    letter-spacing: .1em;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    color: #FFFFFF;
    height: 33px;
}

.container-payment .payment-method button:disabled{
    border-color: #f7f7f7;
    background: #f7f7f7;
    color: #333333;
}

.container-payment .payment-method ul{
    list-style: none;
    margin: 0;
}

.container-payment .payment-method li{
    display: inline-block;
    margin-left: 10px;
}

.container-payment .payment-method img{
    height: 35px;
    width: auto;
}

.payment-opt{
    text-align: right;
    margin-bottom: 30px;
}

.payment-opt form{
    margin-top: 15px;
}

.payment-opt select{
    border: 1px solid #bbb;
    max-width: 100%;
    padding: 0 7px;
    height: 32px;
    width: 200px;
}

@media screen and (max-width:1440px) {
    table.transport {
        overflow: hidden
    }

    .textarea-add {
        width: 100%
    }
}

@media screen and (max-width:1078px) {
    .f-result-availability {
        width: calc(100% - 20px);
        max-width: 100%;
        font-size: 14px
    }
}

@media screen and (max-width:1024px) {
    .tb-summary{
        margin: 0;
    }

    .tb-summary-01 {
        width: 60% !important;
        margin-top: 0;
        margin-left: 30px;
        margin-bottom: 10px
    }

    .tb-summary-02 {
        width: 150px !important;
        margin-top: 0;
        margin-bottom: 10px
    }

    .tb-summary-01 td:first-child {
        width: 100px
    }

    .heading-step {
        font-size: 16px
    }

    .sch_desc {
        font-size: 14px
    }

    select {
        padding: 0 30px 0 10px
    }

    .tb-result {
        width: calc(100% - 0px) !important
    }

    .f-reviews-booking {
        max-width: 95%;
    }

    .tb-pemesan tr .col{
        width: 50%;
        padding: 0;
    }
}

@media screen and (max-width:991px) {
    .container-payment h1{
        text-align: left;
        font-size: 18px;
    }

    .container-payment h2{
        font-size: 16px;
    }

    .container-payment table thead {
        clip: rect(0 0 0 0);
        position: absolute;
        overflow: hidden;
        border: none;
        margin: -1px;
        height: 1px;
        padding: 0;
        width: 1px;
    }

    .container-payment table tr {
        margin-bottom: .625em;
        display: block;
        padding: 0;
    }

    .container-payment table td {
        border-bottom: 1px solid #ddd;
        background-color: #f5f5f5;
        text-align: right;
        font-size: .8em;
        display: block;
    }

    .container-payment table td:nth-child(even){
        background-color: #f9f9f9;
    }

    .container-payment table td::before {
        text-transform: uppercase;
        content: attr(data-label);
        font-weight: bold;
        float: left;
    }

    .container-payment table td:last-child {
        border-bottom: 0;
    }

    .container-payment table tfoot td:first-child{
        display: none;
    }

    .container-payment table tfoot td{
        width: auto;
    }
}

@media screen and (max-width:768px) {
    .textarea-add {
        width: 100% !important;
        min-width: 300px
    }

    div#dl-menu-bottom {
        display: none;
    }

    .tb-pemesan tr .col,
    table.passengers td{
        display: block;
        width: 100%;
        padding: 0;
    }

    table.passengers td{
        padding: 5px;
    }

    table.transport .col{
        display: block;
        width: 100%;
        padding: 0;
    }

    table.transport table td:first-child{
        width: 140px;
    }
}

@media screen and (max-width:550px) {
    select {
        width: calc(100% - 16px);
        max-width: inherit;
    }

    .heading-step {
        padding-left: 20px;
        padding-right: 20px;
    }

    .payment-opt select,
    .container-payment .payment-method button,
    .container-payment .payment-method ul{
        width: 100%;
    }

    .container-payment .payment-method ul{
        text-align: center;
    }

    .f-result-availability input[type="submit"]{
        margin: 30px auto;
        display: block;
    }
}

@media screen and (max-width:320px) {
    .tb-summary {
        margin-left: 10px !important;
    }

    table.tb-pemesan {
        margin-left: 10px !important;
        width: calc(100% - 20px) !important;
    }

    .pemesan.pemesanan-app-info {}

    .pemesan.pemesanan-app-info table td {
        display: block;
    }

    .pemesan.pemesanan-app-info table td:nth-child(2) {
        display: none;
    }

    .pemesan .tb-pemesan input[type=text] {
        width: calc(100% - 15px) !important;
    }

    select.app_country {
        width: 100% !important;
    }

    .pemesan.pickup-transfer table:first-child {
        margin-left: 10px !important;
    }

    table.transport {
        padding-left: 10px !Important;
    }

    .pemesan.pickup-transfer {
        margin-bottom: 0px !important;
    }

    table.transport:last-child {
        margin-bottom: 0px;
    }
}